[2018-09-28 10:29] ReggaePanda commented on #789
@IjzerenHein u can use the `G` Tag from `react-native-svg`

<img width="377" alt="bildschirmfoto 2018-09-28 um 12 28 36" src="https://user-images.githubusercontent.com/2183135/46203449-12fdf780-c31a-11e8-9c16-fed842042411.png">
<img width="632" alt="bildschirmfoto 2018-09-28 um 12 28 48" src="https://user-images.githubusercontent.com/2183135/46203451-142f2480-c31a-11e8-95da-6b63d8d4b8c4.png">

[2018-09-28 13:51] IjzerenHein commented on #789
A sweet, thanks so much @ReggaePanda!
@mtsap, this solves our RN57 upgrade issue.

[2018-09-28 16:18] evaleirasclapps opened #796 "Building react-native-svg@7.0.3 with iOS 12 and XCode10 failed"
Hi, I'm trying to build my app and XCode is throwing the following:
[code]

### **Relative versions:**
- react-native@0.56.0
- react@16.4.1
- react-native-svg@7.0.3
- @babel/core@7.0.0-beta.47
- babel-core@7.0.0-bridge.0
- babel-preset-react@^6.24.1
- babel-preset-react-native@5.0.2

[2018-09-28 16:27] evaleirasclapps commented on #796
After ran:
[code]

Still not working!

[2018-09-28 16:35] jaygould commented on #748
@saggiyogesh I have tried this solution and I think I'm getting one step closer, however  I am getting an error:

ld: 63 duplicate symbols for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Do you have any idea what this could be?

![screen shot 2018-09-28 at 17 34 51](https://user-images.githubusercontent.com/13678558/46221383-d693c100-c344-11

[2018-09-28 16:43] saggiyogesh commented on #748
I think the error is with `react-native-video`. Try to clear everything & then reinstall.

- rm -rf node_modules/
- npm / yarn install
- pod update

Hope this works.

[2018-09-28 16:44] msand commented on #796
Very strange, can you try
rm -rf node_modules
And run yarn / npm

[2018-09-28 20:07] kristerkari commented on #781
Here you go:
https://github.com/kristerkari/rn-svg-crash

I created a new React Native project, did a fresh install of react-native-svg and added the code from your example. Same results still, crashes in Android emulator for me.

[2018-09-28 20:11] kristerkari commented on #781
I also need to mention that downgrading to v6.5.2 fixes the crash for me.

[2018-09-28 20:41] serzh-f commented on #773
Hi! I used
React 16.5.0
React-native 0.57.1
React-native-svg ^7.0.3 and warning is showing

Can you check it ?
Or how can i fix it ?

http://joxi.ru/eAO6RPqI9wV932.jpg

Thx

[2018-09-28 21:16] oriharel commented on #180
@msand Thanks! what version of React Native I need in order to use react-native-svg v7.0.3?

[2018-09-29 19:01] Falconiere commented on #773
Same problem, how can i fix it ?

[2018-09-29 19:39] msand commented on #773
Is it causing any issues?
If you really want to get rid of it, then you can refactor the code to use the inversion of control pattern as I've described for a similar issue two years ago: https://esdiscuss.org/topic/how-to-solve-this-basic-es6-module-circular-dependency-problem#content-39
https://stackoverflow.com/a/44226565
And open a pr with the changes.

[2018-10-01 11:43] Carey678 opened #798 "Invariant Violation: Native component for RNSVGPath does not exist"
I can't use svg file, the error is Invariant Violation: Native component for RNSVGPath does not exist. I relink again, still does't work

"react": "16.2.0",
"react-native": "0.53.0",
"react-native-svg": "^7.0.3",

and Xcode Version 8.2 (8C38)

[2018-10-01 12:09] N1ghtly commented on #768
We are having this problem as well. Works fine on Android, while iOS shows nothing. We are using PNG images.

[2018-10-01 16:12] Bindernews commented on #789
I just updated my post with the fix. Apparently when I typed `<G>` without backticks, Markdown just swallowed it and I didn't notice. Sorry for the confusion. Leaving this open until the fix is implemented.

[2018-10-01 20:49] jon64digital commented on #768
Not sure whether I;m having exactly the same problem but I am trying to embed an image inside an svg. All is working fine on Android but not on iOS.

`
<Svg width="40" height="40" viewBox="0 0 40 40">
    <Image
    href={{ uri: 'absolute-path-to-image-folder-on-cloudinary/' + this.props.message.player.playerId + '.jpg' }}
        height="40"
        width="40"
    />
</Svg>
`

[2018-10-01 22:35] Zurab1996 commented on #748
same @jaygould

[2018-10-02 05:02] jaygould commented on #748
@Zurab I ended up spending a few hours and running in to issue after issue, so decided to download a fresh install of RN 0.57 and copying over my git folder, src, and all settings etc, re installing via NPM and re-linking. All works like a charm now and runs a bit faster.

[2018-10-02 16:54] wcandillon commented on #728
@animaonline thks for the tip, will try it now 🙋🏼‍♂️

[2018-10-02 21:37] Tino-F commented on #798
I have an Samsung Galaxy S8 and I'm getting the same error message. I have also tried relinking, reinstalling, resetting the cache when starting npm, manually linking the library, and none of it has worked.

[2018-10-03 12:38] igorrfc commented on #198
hey @jakecraige, we had some problems at the project I'm working on with the presence of the `Svg` tag at the `excludedExports` constant. As u guys might know, it's the most important import when creating svgs (also being a named export) and, during the snapshot tests, we were facing the following error:
[code]
So, we removed the `Svg` from the `excludedExports` constant and everything work as exp

[2018-10-03 20:41] rjruizes commented on #621
As @roycedot mentioned above, I had to edit Build Settings -> Other Linker Flags.

I removed `$(inherited)`, which was including `-framework "React"` and other frameworks. I added back the other frameworks:`-framework "yoga" -framework "glog" -framework "folly" -framework "DoubleConversion"`

After that I got a successful build and a working debug menu.

[2018-10-03 21:02] prakattuladhar commented on #794
I am having the same issue.
It seems like it's coming from open Path and Polyline.

I tested on Polylines and Path both open and closed. Closed paths are working for me even with multile items.

P.S. Svgs were made from Sketch App.

[2018-10-04 15:06] msand commented on #608
I've forked svgs to support react-native-web and published it under the name swgs to see how much interest there is for this
https://www.npmjs.com/package/swgs
Essentially the only difference so far is to use
`import { createElement } from 'react-native-web';`
 instead of
`import React from 'react';`
https://github.com/msand/swgs/commit/d5ac0a4e93e6bad3b8ed190c6833adf58361fcfc#diff-168726dbe96b3ce

[2018-10-04 15:23] msand commented on #764
Using plain js and react context you can implement this without any changes to react-native-svg. And I would prefer not to introduce context unless the situation really calls for it. It would be nice to have support for currentColor as per spec though. View doesn't support color, and I think Android didn't support rendering images/bitmaps/svg inside text elements (at least using react-native). At

[2018-10-04 15:47] msand commented on #608
Example:
[code]

[2018-10-04 15:49] msand commented on #764
I think we could support the color attribute on the svg root element in circumstances like this:
[code]
This would allow overriding the color if needed

[2018-10-04 17:27] 3rd-Eden commented on #608
Because you can probably feature detect `react-native-web` usage, and fallback to `createElement` from `react` if `react-native-web` is not in the node_modules tree.

[2018-10-04 19:41] msand commented on #608
Now I have this kind of Icons working cross-platform:
[code]

[2018-10-04 19:47] msand commented on #608
The width and height attributes also work with percentages, I think the svg logic should also work with em but it would fall back to 12px as the user-agent default so can just as well multiply by 12, and I think RN/Yoga would choke on it anyway. And the fact that View elements don't have font size and that it can't be nested inside of Text elements at the moment, make font-size relative svg bitmap

[2018-10-04 19:53] msand commented on #608
I'm not sure if the RN team is interested in adding support for the color attribute to the View element, it should probably stay layout focused. If someone would look at supporting Svg inside Text, then we could look at inheriting the font color as well as font-size relative size. But, as a tradeoff for now, I think having a color attribute on the Svg element gives a nice way to set one color acro

[2018-10-04 20:32] msand commented on #608
Added support for the fill and stroke attributes on the Svg root element now. Allowing to set a default stroke, and fill, plus a third color attribute, which can be used as currentColor in any color accepting attribute, without having to create a nesting G element.

[2018-10-04 21:27] msand commented on #608
i've added basic support for the style attribute now. @necolas Do you have any example which isn't working the same in native as in web? Would be great to have some examples of (preferably troublesome but spec conformant) content using RNW styles.

[2018-10-04 22:31] 3rd-Eden commented on #608
@msand Shouldn't support for both would be as easy as adding:

[code]

So when people don't have `react-native-web` installed, it will default to react's `createElement`

[2018-10-04 22:44] necolas commented on #608
For `react-native-svg`?

[2018-10-05 00:59] msand commented on #608
Now with support for setting dimensions using Stylesheet / style attribute.
![screen shot 2018-10-05 at 3 55 21](https://user-images.githubusercontent.com/1131362/46510590-9d7eb380-c852-11e8-9a13-426bfa07caf5.png)
[code]

[2018-10-05 01:03] msand commented on #608
@necolas Yes, if you happen to know of any content which doesn't work satisfactorily yet. Or, can think of any attributes/properties/styles which you still might wan't support for.

[2018-10-05 01:04] msand commented on #608
@3rd-Eden Hmm, yeah I guess that should actually work.

[2018-10-05 01:54] dwilt commented on #794
This is happening to us as well.

[2018-10-05 02:13] dwilt commented on #794
I've figured out a workaround for the time being. All of our icons inherit a base `Icon` component and I wrapped the `SVG` in a `View` and gave it [pointerEvents='none'](https://facebook.github.io/react-native/docs/view#pointerevents)

[code]

[2018-10-05 07:41] herdsothom commented on #798
Getting the same problem on android, searched for about 8 hours for a solution today, none of the manual linking fixes it. I've tried different versions, nothings working.

[2018-10-05 09:53] lau-sam commented on #798
Same problem here. "react": "16.3.1", "react-native": "0.55.4", "react-native-svg": "^6.5.2".

`
blob:http://localhos…-7fc25d1b849c:16015 Invariant Violation: Native component for "RNSVGPath" does not exist

This error is located at:
    in RNSVGPath (at Path.js:25)
    in Path (at svgs.js:65)
    in RNSVGGroup (at G.js:25)
    in G (at svgs.js:64)
    in RNSVGSvgView (at Svg.js:92)
    in Svg (cr

[2018-10-05 11:04] GetSource1234 commented on #789
Got the same issue but on ios(12.0, RN 0.57.1).

[2018-10-05 15:00] mlwilkerson opened #799 "RNSVGMask component does not exist at runtime with create-react-native-app"
Here's a [minimal reproduction repository](https://github.com/mlwilkerson/react-native-svg-mask-repro) using `create-react-native-app`

In `App.js`:
[code]

At runtime, we get this error:

[code]

[2018-10-05 15:56] msand commented on #799
Expo uses an older version than v7, can ask them to upgrade or just eject

[2018-10-05 23:04] msand commented on #150
@glthomas Great to hear :) The react part of it is relatively small, most of the work will probably be around implementing the bitmap filters on android and ios. Could possibly use GPUImage or GPUImage2 or plain core image on ios, and one of the gpuimage ports or renderscript on android. Alternatively, plain cpu based implementations in java and obj-c might be good enough for most static use cases

[2018-10-06 01:34] msand commented on #150
Actually, if you only need blur, then at least on android it's possible to implement it using https://developer.android.com/reference/android/renderscript/ScriptIntrinsicBlur
and on iOS https://developer.apple.com/library/archive/documentation/GraphicsImaging/Reference/CoreImageFilterReference/index.html#//apple_ref/doc/filter/ci/CIGaussianBlur
In this case, quite a bit of the work is actually jus

[2018-10-06 06:11] smemamian opened #800 "G-SVG doesnt show my Image inside it - react-native"
I'm using `react-native-svg`. I want to show my image inside it but `G` doesnt show it:

     <G x={endCoord2.x-widthHeight} y={endCoord2.y-widthHeight}>
              <Image resizeMode='stretch' style={{width:50,height:50,margin:4}} source={{uri: 'https://javacupcake.com/wp-content/uploads/2017/07/IceCreamConeCupcakes_0307.jpg'}} />
     </G>

where is my wrong?

[2018-10-06 10:20] xzilja opened #802 "[ts] Type error when assigning ref to <Rect />"
I'm using `React.createRef()` method to set ref on rectangle i.e.

[code]

This yields following typescript error:

I'm not sure what else  I can do here to fix it to be honest. Is new `createRef()` supported in latest available react-native-svg@7.0.3?

[2018-10-06 11:49] IljaDaderko opened #803 "[Rect] width not being animated via createAnimatedComponent and interpolate"
I have simple animation interpolation going on for `<Rect />` element, however I see no changes on my ui, as if width is staying 0.

I manually added my end value to the component as `width={149.12}` and it displayed it correctly, hence I am a bit confused now to why it is not picking up same value from animation?

**react-native@0.57.1**
**react-native-svg@7.0.3**
**iOS**

Here is full implementa

[2018-10-06 11:55] IljaDaderko commented on #803
I also tried changing interpolation to `setNativePropos` approach that updates rect width during animation, but same result.

[2018-10-06 14:28] msand commented on #150
It seems renderscript will almost certainly be the fastest implementation available on android:
https://stackoverflow.com/a/23119957/1925631
https://github.com/patrickfav/Dali/blob/master/dali/src/main/java/at/favre/lib/dali/blur/algorithms/RenderScriptGaussianBlur.java

https://android-developers.googleblog.com/2013/08/renderscript-intrinsics.html
And the implementation seems quite straightforwar

[2018-10-06 16:02] msand commented on #150
So, now the boilerplate for the elements and filter attribute would be needed, and of course, the main work of making the filter element create a rendering pipeline according to the svg compositing model: render > filter > clip > mask > opacity, so filters need to happen before the current clipping logic.
https://www.w3.org/TR/SVG11/render.html#Introduction
https://www.w3.org/TR/SVG11/filters.html

[2018-10-06 16:48] glthomas commented on #150
@msand, I’m doing my best to follow along.  I’ve got a lot of catch up to do, but I am going through the things you are writing here.  I also started looking at the “how to” build a react native bridge.

[2018-10-06 17:09] msand commented on #150
@glthomas Does this help? How much experience do you have with java and objective-c? What parts would you be interested in working on? Perhaps I can give some more specific advice how to get some first steps going.
E.g. at first, just to get a bit familiar with the code, I would suggest just applying the filter on all the rendered content, either in android or ios, whichever you're more familiar/c

[2018-10-06 17:10] msand commented on #150
Oh, my cache updated once I sent the message, didn't see your reply before sending.

[2018-10-06 18:49] msand commented on #150
Latest draft of the Filter Effects Module https://drafts.fxtf.org/filter-effects/
Inspiration for filter graph building: https://github.com/chromium/chromium/blob/master/third_party/blink/renderer/core/paint/filter_effect_builder.cc

[2018-10-06 20:35] msand commented on #150
And webkit:
https://github.com/WebKit/webkit/blob/master/Source/WebCore/rendering/svg/RenderSVGResourceFilter.cpp
https://github.com/WebKit/webkit/blob/master/Source/WebCore/svg/SVGFilterElement.cpp

[2018-10-06 21:39] msand commented on #150
Needed interfaces for the elements and the bridge: https://drafts.fxtf.org/filter-effects/#idl-index
[code]

[2018-10-06 21:47] mlwilkerson commented on #799
Whoops, yes, that's right. I didn't realize Expo was using 6.x, despite my having installed 7.0.3.

[2018-10-06 21:47] #799 closed

[2018-10-07 12:10] vladimir-vovk commented on #109
You could use [IcoMoon](https://icomoon.io/app/#/select) to get JSON with `path` from your SVG. And then display it with the `react-native-svg`:
[code]

[2018-10-07 16:40] acis commented on #258
same here

[2018-10-08 15:16] smemamian commented on #800
any solution?

[2018-10-08 15:48] msand commented on #800
Are you using Image from react native? That doesn't work inside svg components. You need to import from react-native-svg like here: https://github.com/react-native-community/react-native-svg/blob/master/README.md#image

[2018-10-08 21:32] tanasin-vivitvorn commented on #800
I got the same problem with the code that render 2 complicate SVG.
The complicate render fine but the Image from SVG is not show.
Here is the code that not rendering.

`<Svg
                        viewBox="0 0 100 100"
                        height="100"
                        width="100"

                        <SvgImage
                            onPress={() => alert('press on Image')}

[2018-10-09 10:20] lachtos commented on #800
I also had a problem with Image not showing. I worked around it by using the new Pattern definition, not sure how impactful it is performance/memory-wise.

[2018-10-09 11:08] msand commented on #803
This seems to work fine at least:
https://snack.expo.io/@msand/animate-rect-width
[code]

[2018-10-09 11:12] msand commented on #802
Seems to work fine, I guess it's just the typescript definitions. A pr to fix that would be very welcome.

[2018-10-09 11:14] IljaDaderko commented on #803
@msand I'm not sure, but isn't expo still on v6 of react-native-svg?

Also
[code]

You used strings here for output range, which in rn 0.57.x yields error

[code]

I think with v7 we can use numbers as well?

[2018-10-09 11:44] msand commented on #803
Do you have useNativeDriver: false?

[2018-10-09 11:57] IljaDaderko commented on #803
@msand I didn't, but added it just in case and tested, same result. I added it to code in my question to reflect current state. I think `useNativeDriver ` should be "undefined" by default anyway however.

I also tried animating width of `Svg` element instead of rect, no luck there either :/

I'm not sure if it helps at all, but I added ref to my `AnimatedRect` its width doesn't seem to be a number

[2018-10-09 13:12] IljaDaderko commented on #802
I'll jump on this as I get some time 👍

[2018-10-09 13:57] lachtos commented on #800
It's likely. It worked on 6.5.2 and I used clipping for the Image component.

[2018-10-09 20:51] robvolk commented on #668
I still have this issue with React Native v0.55.4 @msand.  I have nested `<G>` elements, each of them specifies a `clipPath` that references a `ClipPath` in `Defs`.  Each `ClipPath` sets `fill` explicitly.

Here is a truncated version of my SVG:
[code]

It renders fine on iOS, but not on Android.  Any ideas?  Thanks in advance!

[2018-10-09 21:50] msand commented on #668
Please provide a complete replication, it's not possible to debug the code you posted.

[2018-10-09 22:07] robvolk commented on #668
It's for a client, so I emailed it to you.  Thanks!

[2018-10-10 03:17] Danushka50 commented on #440
Any solution for this....??????

[2018-10-10 04:01] janicduplessis opened #806 "Android crash: Value for fill cannot be cast from ReadableNativeArray to Double"
I'm seeing this crash log on Android in production since updating to ^7.0.0. I'm not sure how to reproduce locally but it comes a svg component that is animated using native animated. However I can't reproduce the crash reliably so there must be some kind of race condition.

I noticed the implementation uses shadow nodes to save the svg data but if I understand correctly it could just be normal ui

[2018-10-10 08:02] IljaDaderko commented on #803
Small update, if I just use `<Rect />` instead of `<AnimatedRect />` I get typescript error

If I use animated component, this goes away

[2018-10-10 08:04] IljaDaderko commented on #802
Closing this as issue comes from `@types/react` package

[2018-10-10 11:52] msand commented on #440
Use at most screen size for the width and height, and use svg transform instead of rn transform to get fully sharp vector rendering. Or buy a phone with more memory.

[2018-10-10 12:22] #802 closed, assigned to nobody

[2018-10-10 13:59] msand commented on #806
I wonder if it could be related to this: https://github.com/react-native-community/react-native-svg/commit/c39b3267f1b970112fd96a5608ad2cec931ac277
Because this probably changed on what thread the rendering is done.

But, it seems more like the ViewManagerPropertyUpdater uses an incorrect FallbackShadowNodeSetter to set the fill property, somehow it seems to confuse the fill property with a Mutabl

[2018-10-10 14:11] msand commented on #806
Currently, the Views on Android are only used to get access to the shadow nodes for native animation: https://github.com/react-native-community/react-native-svg/blob/master/android/src/main/java/com/horcrux/svg/RenderableView.java#L8
Essentially all the data and logic is in the shadow nodes for now. Only the svg root has a View which gets attached to the render tree, and it only renders lazily (by

[2018-10-10 14:22] janicduplessis commented on #806
Actually I think there might be 2 separate issues. I linked the wrong stacktrace in the initial issue. Here’s the one that seems to be related to the race condition I was talking about.

[code]

[2018-10-10 17:29] msand commented on #783
Can you try with the latest commit from the master branch and this code instead:
I've removed the onResponderGrant/Release/Reject/Terminate handler, not to override the ones from the SvgTouchableMixin, it seems to give all the events, both on first and second view now.
[code]

[2018-10-10 17:39] msand commented on #789
Can you try with the latest commit from the master branch, I think I have a good enough workaround for now.

[2018-10-10 18:02] msand commented on #668
It seems the issue was related to using v6 of rnsvg in Expo, issue non-existent in v7. But could be worked around by simplifying the svg content to a single Path element (and setting a fill on that), removing all G, Rect, and ClipPath elements. Making it perform better (memory, cpu and gpu) and work universally.

[2018-10-10 18:06] msand commented on #806
Thanks for this, could you try with the latest commit from the master branch?

[2018-10-10 18:46] msand commented on #806
Could you post the code or a small reproduction that can produce it? I'm not sure how the dynamic value could be recycled, perhaps it isn't even a string? At least react-native-svg doesn't make any recycle calls on any dynamic values.

[2018-10-10 19:05] janicduplessis commented on #806
Here's the code for the component https://gist.github.com/janicduplessis/87a859eda656806bd2dea0db0a8940f1

I'm planning a new release in the next few days, I will update to master.

[2018-10-10 19:07] janicduplessis commented on #806
Actually I think the first crash is related to changes I made locally to try to fix the 2nd stack trace I linked. I'll update the issue to only include the `This dynamic value has been recycled` crash. Sorry about that.

[2018-10-10 19:55] msand commented on #803
Please try with the latest commit from the master branch, it should work both with and without native driver now, at least this code seems to work fine:
[code]

[2018-10-10 20:44] msand commented on #258
Please provide a full replication if you want progress on this.

[2018-10-10 22:02] msand commented on #701
I think I've fixed the issue now, please try again with the latest commit from the master branch and e.g. this code:
[code]

[2018-10-10 22:19] adam-s commented on #803
I'm having the same problem with props x, y on the Text, G, and TSpan components.

[2018-10-10 22:47] msand commented on #781
Can you try with the latest commit from the master branch? At least it seems to work fine there.

[2018-10-10 22:53] msand commented on #806
I've been testing this code for some time now and haven't been able to observe any exceptions. Not sure how to trigger it:
[code]

[2018-10-10 22:56] msand commented on #180
I've mostly tested using 0.56 and 0.57, but as long as it builds and runs without exceptions you should be fine. If you have any issues with any recent version then please report it.

[2018-10-10 23:15] msand commented on #800
This seems to work in both iOS and Android with the latest commit from the master branch at least:
[code]

[2018-10-10 23:39] msand commented on #781
A bit of the property update process has changed, and the error should probably be a warning instead, as in most cases it's because a new element has been created, and the new properties have been set on it, but it hasn't been attached to the svg render tree yet. At this point, the onAfterUpdateTransaction of the RenderableViewManager attempts to invalidate the svg root, but cannot find it, as the

[2018-10-10 23:48] msand commented on #803
It requires replicating these changes to those components and properties:

ios: https://github.com/react-native-community/react-native-svg/commit/7c012a9fe37aad146e7794a35a4238481b7d4703

android:
the changes in
android/src/main/java/com/horcrux/svg/RectShadowNode.java
and
android/src/main/java/com/horcrux/svg/RenderableViewManager.java
https://github.com/react-native-community/react-native-svg/co

[2018-10-11 00:35] msand commented on #803
@adam-s I realized it requires some other changes in the js side as well: https://github.com/react-native-community/react-native-svg/commit/2a43579404b35db6b6b9613c05076170e02203e3
Now I have support for animation of transforms, x, y etc on G, Text and TSpan at least with useNativeDriver: false
Try something like this:
[code]

[2018-10-11 01:48] adam-s commented on #803
There is a PanResponder in a different component with a class that contains a lot of D3 logic. All I'm looking for is the text to be on the same x coordinate as the touch event. It works with Circle, Line, Animated.View, and Animated.Text.

[code]

[2018-10-11 04:16] msand commented on #803
Now with support for useNativeDriver with transform styles using the same syntax as for react-native views: https://github.com/react-native-community/react-native-svg/commit/fb4e877c2b23b4c52971c16d42c305d9f28a9eb5
[code]

[2018-10-11 05:06] msand commented on #803
@adam-s Try something like this (with the latest commit from the master branch):
[code]

[2018-10-11 05:44] IljaDaderko commented on #803
@msand I tried this with latest master and it is now working, thank you! :)

Few caveats that I think are worth mentioning, in your example here you have `useNativeDriver: true` in my case when its true animation is not working, I need to either set it to false or not include it.
That said, I am not using `rectwidth` on my `<Rect />` element, just width.

Do I need to use `rectwidth` or can it be

[2018-10-11 12:18] msand commented on #803
The rectwith is needed if you want the native animation to work, the width and height properties have a naming collision with the same property name, so they have the element name prepended on the native side, and Animated needs the native name to be able to animate it. Hopefully the naming collision could be avoided somehow, and the correct name would be sufficient.

[2018-10-11 13:54] msand commented on #803
I would actually expect that we can get rid of the {use,mask,image,bb,pattern,rect}{width,height} attributes and just use width and height instead, as I've been able to override the transform
https://github.com/react-native-community/react-native-svg/commit/fb4e877c2b23b4c52971c16d42c305d9f28a9eb5#diff-50f7e7f8735df31a6ac08ae41511a2a6R262
https://github.com/react-native-community/react-native-svg/

[2018-10-11 14:19] msand commented on #180
I've implemented support for animation of transform styles using the same syntax as for react-native views now (with and without useNativeDriver): fb4e877
and the same for x and y on Text and TSpan https://github.com/react-native-community/react-native-svg/issues/803#issuecomment-428785429
[code]

[2018-10-11 14:29] IljaDaderko commented on #803
If thats achievable, it definitely sounds less confusing and easier to get going with, I wonder how many people will skip setting `useNativeDriver` to true however since in general rn doesn't support it for width, only transitions and opacity atm I think? If skipped, will it cause any errors?

[2018-10-11 14:37] janicduplessis commented on #806
@msand Thanks for trying it out, I can't reproduce the issue neither on my end and it seems to happen very rarely. Hopefully we can figure something out from the stacktrace or other people hit this crash too.

[2018-10-11 15:14] Ajaykumar02 commented on #798
HI Team,I too had the same issue, and its critical please take it high priority.

[2018-10-11 15:43] msand commented on #803
@IljaDaderko I've simplified the handling in the way I thought should be possible: https://github.com/react-native-community/react-native-svg/commit/445780c121dbc5d8a683a7d33437ce84520f7583
Now use can skip rectwidth and simply use width instead both with and without useNativeDriver:
[code]

[2018-10-11 16:07] msand commented on #803
The difference between useNativeDriver: false and true, is that when false: the animation is driven by javascript calling setNativeProps on the animated element; when true: the animation is serialised and sent over the bridge to be driven by the native animation driver events, without any further processing from js, which is much faster in essentially every case and doesn't get blocked by long run

[2018-10-11 16:34] FibreFoX commented on #781
@msand I added the commit https://github.com/react-native-community/react-native-svg/commit/b568a633edd27c4822ab3bca0ba98f2947526e10 via [patch-package](https://github.com/ds300/patch-package) and do not see the warnings anymore.

here my `patches/react-native-svg+7.0.3.patch` with another change for reducing gradle warnings:
[code]

Seems that this issue is fixed with that commit ;) maybe @kriste

[2018-10-11 16:44] kristerkari commented on #781
Yeah I can try it out to verify the fix later tonight, but if someone wants to test out the fix before that you can use my repo for testing the fix from master (it has a clean install of React Native, react-native-svg and the code to reproduce the issue):
https://github.com/kristerkari/rn-svg-crash

[2018-10-11 18:09] adam-s commented on #803
I'm having luck using Victory Native primitives which wrap the react-native-svg elements. https://github.com/FormidableLabs/victory-native/tree/master/lib/components/victory-primitives

[2018-10-11 19:04] FibreFoX commented on #781
@kristerkari you wrote about using Android 8 inside the emulator, but which image do you use? x86? x86_64? I'm not able to reproduce the crash. Do I have to do anything than trying to start the project?

[2018-10-11 19:08] kristerkari commented on #781
Yeah sorry I forgot to mention the emulator details.

It's this one:

Nexus 5X
1080x1920

Android 8.0 (Google Play)
API level 26
x86

[2018-10-11 19:11] kristerkari commented on #781
You should be also able to see [the previously mentioned errors](https://github.com/react-native-community/react-native-svg/issues/781#issuecomment-423728566) with `logcat` when running the app.

[2018-10-11 19:17] kristerkari commented on #781
Oh and one thing that seems to happen to me: it does not crash right away when I build the app, but does if I restart the app after that.

[2018-10-11 19:56] msageryd commented on #697
@msand Could it be possible that `toDataURL` is broken in the latest version? I think I got it right, but I get the following red screen. I haven't tried this with an earlier version yet. Should I try with an earlier RNSVG version, or do you have any clue of what could be wrong?

I'm calling `toDataURL` in `componentDidUpdate`. At this stage in the lifecycle everything should be ready, shouldn't i

[2018-10-11 20:09] kristerkari commented on #781
So I just did more testing for the issue. Ignore my [previous comment](https://github.com/react-native-community/react-native-svg/issues/781#issuecomment-429084650). That was not the app crashing, but rather the "Pixer Launcher", so I got confused that the React Native app would have crashed.

Now that I tried to run the code again, I could not make the app crash with my https://github.com/krister

[2018-10-11 20:41] msand commented on #697
Could you try doing it in onLayout? I haven't tested toDataUrl for a long time

[2018-10-11 20:44] msand commented on #781
Ok, should perhaps just remove the error message, as in a lot (most) cases its expected behavior. Or make it discern this case and not even make the call.

[2018-10-11 20:44] msageryd commented on #697
It works in onLayout. Thanks a bunch!

[2018-10-11 21:04] msand commented on #781
@kristerkari I changed the null handling logic, so the common initial case doesn't cause any warnings: https://github.com/react-native-community/react-native-svg/commit/a2550c35df7cdf972ba707687480c7b4573c9b32

[2018-10-11 21:07] kristerkari commented on #781
I just tested and the warnings are gone now, thanks!

[2018-10-11 22:54] msand commented on #180
Now with useNativeDriver animation support for all number accepting properties (without need for my fork of react-native, works at least in 0.57 straight away): https://github.com/react-native-community/react-native-svg/commit/864d7610d3aaea2b4e4f722f04ea52ddf292aae7

[2018-10-11 22:54] msand commented on #803
Now with useNativeDriver animation support for all number accepting properties: https://github.com/react-native-community/react-native-svg/commit/864d7610d3aaea2b4e4f722f04ea52ddf292aae7

[2018-10-11 23:48] msand commented on #714
I've added support for animation of transforms using the same syntax as react-native views now: https://github.com/react-native-community/react-native-svg/issues/803#issuecomment-428815111
And also for any number accepting properties, please try again.

[2018-10-11 23:54] msand commented on #684
I've added support for animation of transforms using the same syntax as react-native views now: https://github.com/react-native-community/react-native-svg/issues/803#issuecomment-428815111
And also for any number accepting properties. Any help in testing the latest commit in the master branch would be much appreciated!

[2018-10-11 23:57] msand commented on #121
I've added support for animation of transforms using the same syntax as react-native views now: https://github.com/react-native-community/react-native-svg/issues/803#issuecomment-428815111
And also for any number accepting properties. Any help in testing the latest commit in the master branch would be much appreciated!

[2018-10-12 10:08] haven2world commented on #649
I use [react-native-shadow](https://github.com/879479119/react-native-shadow) to render shadow in a long list, and I get errors like this.

[2018-10-12 11:17] msand commented on #649
Perhaps try setting it around the list instead of the elements, or render it somehow that you only have one instance (at most screen size) of it instead of several / a big one.

[2018-10-12 11:34] Almouro commented on #806
Hi guys,

Yesterday got ~1k crashes quite similar for about ~20k users on the app yesterday.

Crashes we are getting are usually:
- `This dynamic value has been recycled`
- `java.lang.ClassCastException: com.facebook.react.bridge.ReadableNativeArray cannot be cast to java.lang.Double
    at com.facebook.react.bridge.ReadableNativeMap.getDouble(ReadableNativeMap.java:147)`
- and `java.lang.ArrayInd

[2018-10-12 12:06] JungHsuan opened #808 "'y' props in Image component works the opposite way on Android and iOS"
On iOS devices, image will go up but on Android, image will go down when I use a larger y.

[2018-10-12 12:30] msand commented on #803
Reading the code now, I noticed that percentage values in strokeDashArray can't possibly be working correctly in iOS as it just takes the floatValue of the string.

[2018-10-12 12:36] IljaDaderko commented on #803
@msand gotcha, I wasn't using `%` values, just had to stringily numbers in the array when I pass them to `setNativeProps`. It works fine that way 👍

Thank you for clarification. One final side question regarding this whole issue: Do you have approximate eta when changes on master might go up to npm?

[2018-10-12 12:47] msand commented on #803
Great. Yeah, just thought I would mention the % issue as I noticed it's not spec conformant, more a note to self for later.

Well, I would love to have a bit more testing of it before releasing. But as things usually go, the only way to get significant amounts of testing is to make a new release, most people don't live on the bleeding edge of the master branch. I could probably merge some PRs and

[2018-10-12 13:09] msand commented on #803
Published v7.1.0 now

[2018-10-12 14:11] IljaDaderko commented on #803
So far works fine on my end, I will close this issue as its concern was addressed with this release. Thank you for amazing support!

[2018-10-12 14:11] #803 closed

[2018-10-12 14:49] msand commented on #808
I guess it's related to this: https://github.com/react-native-community/react-native-svg/pull/763
@mike-marcacci Could you check this out?

[2018-10-12 15:22] Almouro commented on #806
@msand https://github.com/react-native-community/react-native-svg/commit/3879c90bd8273ba8b38713b2f39d2bdfd5265665 is rolling out for 10% of our users now.
I'll let you know how it goes :)

[2018-10-12 15:54] msand commented on #803
You're welcome, happy we got it fixed 🎉
I've simplified the property handling in the javascript side now, as the view managers can handle both string and number types with the recent changes: https://github.com/react-native-community/react-native-svg/commit/1e25870f5d04b91112e7167240dd1a7d4958815f

[2018-10-12 16:01] mike-marcacci commented on #808
@JungHsuan what version are you seeing this on?

[2018-10-12 18:15] mlwilkerson opened #809 "Invalid viewBox prop"
Looks like a recent change flipped the logic on the validation of the viewBox prop in `lib/extract/extractViewBox.js`.

Formerly, a viewBox prop of "0 0 640 512" was valid. Now it's not (as of v7.1.1,and starting somewhere between 7.0.3 and 7.1.1)

Getting a console warning (and this might be causing some other things to break as well, but I'm still debugging other rendering differences after upgr

[2018-10-12 18:16] #809 closed

[2018-10-12 18:30] msand commented on #809
This came in v7.1.1 while doing some cleanup and fixing an unused param warning: https://github.com/react-native-community/react-native-svg/commit/6f256f1da142b6ab4eb0bd1422883aae5db5e3f3#diff-c9ec180f3cc5aa90652568270487b6caL34
Thanks for the PR!

What other issues are you experiencing?

[2018-10-12 18:45] mlwilkerson commented on #809
I'm using the new Mask feature and my tests and example app is now broken when trying to render one, since upgrading from `7.0.3`. Still investigating the cause...

This is what's choking:

https://github.com/FortAwesome/react-native-fontawesome/blob/a57d41f0f24bc792b042adefab70e888cc3d8436/examples/Hello/App.js#L40

With this error:

[code]

[2018-10-12 21:42] laibulle commented on #669
Same problem with version `^7.0.3`. Switching to `6.5.2` resolved the problem.

[2018-10-12 21:55] mlwilkerson commented on #809
Pretty sure my remaining issues just had to with needing to do a clean re-build. Eventually, the problems went away.

[2018-10-13 00:14] msand commented on #669
Can you try with the latest version? I suspect it's something with your android / gradle setup, check here eg: https://github.com/evollu/react-native-fcm/issues/800
https://github.com/facebook/react-native/issues/19239
https://github.com/rebeccahughes/react-native-device-info/issues/365#issuecomment-425662649
Otherwise, please try to replicate it in a clean project which can be cloned and tested e

[2018-10-13 03:53] ivan-jorge001 commented on #239
+1

[2018-10-13 12:34] tuluffy commented on #639
I have solve this error(must be manual linking, otherwise it will go wrong).
The steps are as follows：
1.drag RNSVG.xcodeproj into Libraries directory in XCode.
2.add libRNSVG.a into <Link Binary With Libraries>
3.rnpm link react-native-svg

restart project in IOS simulator,it's OK

[2018-10-13 12:45] msand commented on #808
So, upgrade to the latest version (or any after that pr got merged) to fix it. Please make sure to test in the latest version before opening an issue.

[2018-10-13 16:32] msand commented on #150
Its in my fork here: https://github.com/msand/react-native-svg/tree/filters?files=1
You can just modify the code while it's in node_modules and rebuild the native side.
Alternatively you can use npm link.

[2018-10-13 19:54] Almouro commented on #806
@msand I confirm that this issue has disappeared 🎉 for those 10% including the PR on React Native (facebook/react-native#17842)
I'll push this PR on React Native side, but might I ask: why is it that other components being animated with the native driver don't trigger this exception while `react-native-svg` components do?

Our biggest crash on that newest release is now:
[code]
I can open a new is

[2018-10-13 20:28] msand commented on #806
@Almouro Can you try v7.1.0 I suspect https://github.com/react-native-community/react-native-svg/commit/1e25870f5d04b91112e7167240dd1a7d4958815f to be the culprit.

[2018-10-13 20:34] janicduplessis commented on #806
@msand Sure, I was about to also ship the PR to test if it fixes the issue but it seems like it does :)

[2018-10-13 20:35] janicduplessis commented on #806
Native Animated does not work with layout props so its probably just those ones that use Dynamic.

[2018-10-13 21:03] msand commented on #806
@janicduplessis Are there any drawbacks to using Dynamic? There is at least some performance penalty, because of the branching on type in the view property setters, and wrapping the JavaOnlyMap in a DynamicFromMap. But other than that, I can't see any significant differences between Dynamic and otherwise. At least from a quick reading of:

https://github.com/facebook/react-native/blob/0.57-stable/

[2018-10-13 21:09] janicduplessis commented on #806
@msand AFAIK Dynamic was implemented to support props with multiple possible types like for example `style.width` can be either a number or a string when using percent units. Other than that I don't think it should be used since like you said there is a small perf hit.

[2018-10-14 08:08] Aurelyn10 commented on #217
_I solved this issue like following._
When we search `#import <React/UIView+React.h>` in the search box at the Xcode' project,  we can see many linked libraries  include the line.  If you go to the any one of working library' project, build setting/header search part, you can find this lines:
`$(SRCROOT)/../../../React  `
`$(SRCROOT)/../../react-native/React`
 Include the lines to the RNSVG.xcodep

[2018-10-14 12:59] msand commented on #217
You seem to be running quite an old version. Performancebezier and quartzbookpack haven't been included for quite some time. But thanks for the info anyway!

[2018-10-14 13:31] Aurelyn10 commented on #217
Hi _msand_, thank you for your comment.
Did you reply to me? or to others?

If it is for me,  What do you mean "old version"  ?
Following is my version:
[code]

Could you explain about this in detail?

How do I include them and what they is needed for?

[2018-10-14 14:53] msand commented on #806
@Almouro Can you try with the latest commit from the master branch? I've simplified the dynamic property setters in android and improved the null handling logic.

[2018-10-14 15:04] mars-lan opened #811 "NPE in RenderableShadowNode"
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void android.graphics.Path.computeBounds(android.graphics.RectF, boolean)' on a null object reference
com.horcrux.svg.RenderableShadowNode.draw (RenderableShadowNode.java:322)
com.horcrux.svg.RenderableShadowNode.render (RenderableShadowNode.java:305)
com.horcrux.svg.GroupShadowNode$1.run (GroupShadowNode.java:88)
co

[2018-10-14 15:06] mars-lan commented on #811
react-native-svg 7.1.2

[2018-10-14 15:14] msand commented on #806
There's a potentially significant optimisation opportunity in the property handling, for any props which currently take a string to allow for units. There's a redundant round-trip from a double to a string back to a double, when animating the properties (or whenever the given value is a double / Number). The common case is probably a unit-less number anyway, so it would make sense to optimise for

[2018-10-14 15:30] msand commented on #806
Another optimisation opportunity would be to rename the fields such that the propertyNameToFieldName could be removed.

[2018-10-14 15:46] msand commented on #806
Also, as @janicduplessis wrote. The shadow nodes could be removed, by creating separate View classes and moving the logic from the shadow nodes there instead. Because the SvgViewManager returns true for needsCustomLayoutForChildren anyway, and we're already creating a View for each element (to allow for animation). So it should actually conserve memory, and possibly improve  performance as well. O

[2018-10-14 15:50] msand commented on #806
At least currently, having the shadow nodes causes an extra de-referencing for each time a property is set using the ViewManagers, and we keep a

[code]

to get a reference to it (costing memory and accounting on View creation/destruction), which wouldn't be needed if the logic was simply inside the Views instead.

[2018-10-14 19:12] msand commented on #806
I now have a branch where I've moved the logic into the View and almost completely removed the shadow nodes. https://github.com/react-native-community/react-native-svg/commit/0bdca66e2de07bd964f917fb04d4c60b9d3c0b0e
It certainly seems to perform better.

[2018-10-14 19:16] msand commented on #811
Can you try with the latest commit from the master branch?

[2018-10-14 19:31] msand commented on #806
@msageryd Could you try your app with the latest commit from master and the one from the plain-views branch to see if there's any significant changes? https://github.com/react-native-community/react-native-svg/compare/plain-views

[2018-10-14 19:35] msand commented on #811
or, if that doesn't help, then the plain-views branch https://github.com/react-native-community/react-native-svg/commit/0bdca66e2de07bd964f917fb04d4c60b9d3c0b0e

[2018-10-14 19:36] msand commented on #811
if neither one of those fixes it, then please provide a reproduction, which can be run straight away by a simple copy-paste, or as a clone-able repo.

[2018-10-15 03:05] mjtpena commented on #794
We're also experiencing this issue. Will try @dwilt 's workaround.

[2018-10-15 08:10] Almouro opened #812 "Attempt to invoke virtual method 'void com.horcrux.svg.CircleShadowNode.setR(java.lang.String)' on a null object reference"
Hi,

Might be a duplicate of #811, this is a new issue for me after #806 was fixed for me with a forked version of RN.

I'm getting those two errors on `react-native-svg` `7.0.2`. They seem to affect all devices **exclusively** on Android 8.0. I unfortunately cannot reproduce them.

- Caused by: java.lang.NullPointerException (882 crashes aka about 1% of sessions I'd say)
  at com.horcrux.svg.Rend

[2018-10-15 08:11] Almouro commented on #806
@msand I opened a new issue for the new bug. I don't think it has to do with this issue anymore :)

[2018-10-15 11:12] msand commented on #812
Can you try with the latest commit from the plain-views branch?

[2018-10-15 13:34] Almouro commented on #812
@msand unfortunately since I cannot reproduce locally, I'm not very keen on deploying a non stable version of this lib to them to validate the fix.
I'm downgrading to `6.5.2` for now.
Hopefully we'll find a way to reproduce with the version 7

[2018-10-15 16:05] janicduplessis commented on #806
@msand I think removing shadow nodes on Android makes sense, iOS already uses views only.

[2018-10-15 16:41] msand commented on #806
The current latest commit in the plain-views branch seems to work in all tests I have quickly testable. Don't see any reasons not to cut another release at this point. Unless you know of any regressions?
Could perhaps still do the refactoring to optimise for doubles / unitless numbers, but I'm not sure when exactly I would have time to finish that.

[2018-10-15 17:11] aleppos opened #814 "Unable to resolve module `../lib/PATTERN_UNITS`"
react-native-svg: 7.1.2

Looking for JS files in
   C:\Users\dev\**

Loading dependency graph, done.
::ffff:127.0.0.1 - - [15/Oct/2018:17:05:48 +0000] "GET /onchange HTTP/1.1" - - "-" "okhttp/3.11.0"
error: bundling failed: Error: Unable to resolve module `../lib/PATTERN_UNITS` from `C:\Users\dev\**\node_modules\react-native-svg\elements\Pattern.js`: The module `../lib/PATTERN_UNITS` could not be

[2018-10-15 21:05] msand commented on #180
@oriharel I just tried running `react-native init oldVersion --version v0.50.4` upgraded sdk, gradle / build tools versions, and then `yarn add react-native-svg` resulting in:
[code]
And it seemed to work fine even with useNativeDriver: true
So it still seems be compatible with the versions given in the readme at least

[2018-10-15 21:31] msand commented on #730
v6.5.0 and up resolved this. Will close this now.

[2018-10-15 21:31] #730 closed

[2018-10-15 21:34] dsherida commented on #794
Try something like this:

[code]

[2018-10-15 21:36] msand commented on #814
Seems you have some caching issues. Try
[code]
Or,
[code]
v7.1.2 doesn't have the import your error refers to, it imports from "../lib/units" instead of "../lib/PATTERN_UNITS":
https://github.com/react-native-community/react-native-svg/blob/v7.1.2/elements/Pattern.js#L5

[2018-10-15 21:50] msand commented on #217
@Aurelyn10 Yes I was replying to you, as I looked at your screenshot and noticed the old dependencies. The latest version of react-native-svg is v7.1.2
If you want to stay on version 6 I would still recommend running at least v6.5.2
Lots of bugs have been fixed since v6.3.1 and the Performancebezier and quartzbookpack dependencies (which you currently have in use) have been removed.

[2018-10-16 06:41] jfr3000 commented on #649
Same problem here, I have a list of SVG elements (a chart), and memory usage shoots up when the list gets rendered - and the memory is never released, even after the chart component is unmounted, which is the actual problem for me. I've tried an example without any event listeners or closures, so those can't be the reason for the memory being retained. The minimal example is a `FlatList` with 300

[2018-10-16 16:42] riglar opened #815 "Rotation via setNativeProps transform doesn't center"
Great library. I'm trying to work with 7.1.2 on iOS (no expo) to animate the rotation of a circle. The circle is definitely moving, but seems to be rotating around 0,0 - I need it to rotate around the center point (24, 24). Looks like originX/Y aren't being applied in this scenario.

The code I'm currently using is below. Is this a way I can achieve center point rotation?

Happy to write a PR if t

[2018-10-16 17:37] msand commented on #815
Can you try removing the object with the transform property which is wrapping the object with the rotation, i think then it should apply the origin props as well.

[2018-10-16 23:12] Kielan commented on #463
Most likely you have react native being provided as a variable from the ios pods/React/package.json file, as well as from the base package.json file. Please confirm if this is the case.

[2018-10-17 02:13] msand commented on #773
I've merged https://github.com/react-native-community/react-native-svg/pull/813 to master now, you can either use the latest commit from the master branch, or wait until the next release and use that.

[2018-10-17 02:29] msand commented on #815
Hmm, actually, that probably wouldn't work either, as the origin properties wouldn't be given in setNativeProps, perhaps something more like if you want to use react-native transforms:

[code]
or this if you want the legacy react-native-svg shorthands
[code]
or this if you want standard svg
[code]

Or, alternatively, just use the viewBox attribute to move the origin to the center of the canvas and

[2018-10-17 02:34] msand commented on #815
Btw, it doesn't really make sense to use the native driver + a javascript event listener to call setNativeProps, if you're using setNativeProps to drive the changes you probably shouldn't use the native driver. Either wrap the Circle with animated and set the style={{transform}} there (for plain native driven animation), or remove/set useNativeDriver to false.

[2018-10-17 02:55] msand commented on #649
@jfr3000 Good to hear upgrading helped. If you can make a small replication that would be very much appreciated! I've also made quite a significant refactor of the android implementation in the plain-views branch, I wonder if those would affect the situation. Would you mind testing?

[2018-10-17 03:34] mjtpena commented on #794
@dwilt tried your approach and it works. Thanks.

[2018-10-17 09:17] riglar commented on #815
Thanks for your detailed response @msand

I've tried all your suggestions and seem to be getting decent behaviour using this transform:
[code]

I've unset useNativeDriver as you suggest.

Favour owed, hit me up if you need PR work doing.

[2018-10-17 09:17] #815 closed

[2018-10-17 12:49] msand commented on #687
I think this is fixed in the latest version, otherwise, try the plain-views branch

[2018-10-17 12:52] mvanroon commented on #687
@msand thanks, will do

[2018-10-17 13:01] msand commented on #812
At least I think the plain-views branch should resolve specifically this kind of problems, as it's not using the shadow nodes to set any properties, they can't be null or cause exceptions. If the plain-views branch renders correctly for you locally, and all press handlers / gesture responders behave correctly, then I would say it's safe use the plain-views branch and publish a new version using th

[2018-10-17 14:16] msand commented on #794
This seems to work fine:
[code]
And this:
[code]

How about a reproduction which is actually broken? And which can just be copy-pasted, without further assumptions/modifications required to trigger the issue.

[2018-10-17 14:18] msand commented on #794
And as a sanity check, what versions are you using?

[2018-10-17 14:27] dwilt commented on #794
@msand I'll try and put one together next week. I'm in the middle of a feature release. Quickly glancing at your code.. I notice you're using `Rect` and not `Path`. Maybe try a `<Path d='asdfasdf'>` instead?

[2018-10-17 14:28] dwilt commented on #794
[code]

[2018-10-17 17:42] msand commented on #794
Oh, that is quite an old release candidate, please upgrade to the latest v6 or v7 of the library

[2018-10-17 17:58] msand commented on #806
@janicduplessis Would it be possible to get that PR cherrypicked for v0.57.4? Seems it should probably be the recommended minimum for any version of react-native-svg using Dynamic. And the plain views branch should probably become the recommended v7 version, to eliminate the null exceptions.

[2018-10-17 18:29] msand commented on #794
I've fixed some edge-cases in the plain-views branch, could you please test it, seems to work correctly with both fillRule options and stroke now: https://github.com/react-native-community/react-native-svg/commit/d93de53cedccdb7454096e8b0a14161882ede62c

Here's what I used now:
[code]

[2018-10-17 19:03] msand commented on #794
This also seems to work fine:
[code]
So, please try with the plain-views branch, and if it works for you I'll release a new version.

[2018-10-18 14:58] msand commented on #806
I've implemented the optimizations in the SVGLength branch now: https://github.com/react-native-community/react-native-svg/commit/50eee0abe7004636d72776edce94b2b667469bb1
Commit msg: Optimize setting properties and animation: Implement SVGLength

Removes redundant round-trip (double > string > double) when animating.
Optimizes for the case when dynamic arguments are numbers.
Improves memory consum

[2018-10-18 15:02] msand commented on #806
The css value resolvers could still be made to get the canvas width/height and font-size only when needed, instead of every time.

[2018-10-18 17:01] msand commented on #806
Implemented fast path for css resolvers, android: https://github.com/react-native-community/react-native-svg/commit/2a449c3bd4b2095427c35a17d81b025e5a1dd713 ios: https://github.com/react-native-community/react-native-svg/commit/00f0b66c131c88d43a4790c482bbb5e51c23f662

[2018-10-18 23:51] msand commented on #806
I've fixed all known remaining regressions from the rewrite now: https://github.com/react-native-community/react-native-svg/compare/SVGLength
Now it should be more spec conformant, stable, faster, memory efficient and easier to read.

[2018-10-18 23:54] msand commented on #701
I've improved touch handling further now, can you test this branch: https://github.com/react-native-community/react-native-svg/compare/SVGLength

[2018-10-18 23:56] msand commented on #701
If you want hitSlop, then you can wrap the svg root in a TouchableOpacity or something similar, the onPress handlers inside the svg root require exact match with either the stroke or the fill of something visible.

[2018-10-18 23:57] msand commented on #312
@LRNZ09 Can you try with the latest v7? Or even better, this branch: https://github.com/react-native-community/react-native-svg/compare/SVGLength

[2018-10-19 00:08] msand commented on #180
I've implemented the SVGLength interface now, and optimised the code for the case when the arguments are numbers rather than strings. https://github.com/react-native-community/react-native-svg/compare/SVGLength
In properties where the spec allows for SVGLengthList it now accepts single values as either number or string, and arrays of values which can even be mixed, as long as each value can be int

[2018-10-19 03:17] janicduplessis commented on #806
@msand I can post in the release repo to get it included in the next minor release if there is one.

Nice! Is that on npm? I'm planning a release of my app soon so I can test it.

[2018-10-19 09:16] msand commented on #806
@janicduplessis Excellent! Now it is, v7.2.0 just published 🎉 https://www.npmjs.com/package/react-native-svg/v/7.2.0

[2018-10-19 09:36] msageryd commented on #806
@msand Sorry for being late to the game. Every performance optimisation is great news to me. Unfortunately I ran into a wall here. I don't know where to start searching.

This is what I get when I mount the "drawing view" in my app using RNSVG 7.2
![image](https://user-images.githubusercontent.com/4483085/47210221-a911c480-d392-11e8-88aa-397a4dedcf33.png)

I have searched through my code in the ho

[2018-10-19 09:56] msageryd commented on #806
I have dug into this. I managed to isolate the problem to a very simple line drawing.

This works:
[code]

This does not work:
[code]

The coordinates must be strings to work. The strokeWidth can be numerical, though.

I also got the below warning:
I have set `pointerEvents` to "none" on my Svg element. I don't set pointerEvents at G elements, though. This seems to be something RNSVG does internal

[2018-10-19 13:29] tovesson commented on #649
I'm experiencing the same issue. I am on version ^7.0.2. is that the latest version or is it possible to upgrade to 7.1.2? Didn't find that version under releases

[2018-10-19 14:10] msand commented on #649
Yeah, 7.2.0 is the latest: https://www.npmjs.com/package/react-native-svg?activeTab=versions

[2018-10-19 15:30] msand commented on #806
@msageryd Hmm, both those examples work fine for me in v7.2.0
I merged the PR from @janicduplessis to remove prop-types and released v8.0.0, so that warning won't be bothering you again ;)

[2018-10-19 15:35] msand commented on #806
I've made the Svg element return a G element and set some of the styles and props from the root element on it, to allow inheritance of values without another significant refactor, should perhaps omit a bit more of the properties, but don't know of any actual issues that could result from it as of now. So, all Svg content currently have an implicit G element in the root.

[2018-10-19 15:42] msand commented on #806
@msageryd Regarding numbers and strings, I recommend using numbers, but both should work, it's just that numbers are cheaper with regards to memory, cpu and energy. Much of the recent work has been to optimize for the case when the arguments are plain numbers rather than string encoded.

[2018-10-19 15:48] msand commented on #806
@msageryd From the error message, it seems like these two lines would be missing from the code you've built: https://github.com/react-native-community/react-native-svg/blob/75204047c9424c591ed42d9763d6547709cf2b8b/ios/ViewManagers/RNSVGNodeManager.m#L176-L177
Can you try a clean rebuild with v8?
Otherwise, can you try adding those two lines somewhere together with these (e.g. before or after) : ht

[2018-10-19 16:07] msand commented on #806
@msageryd perhaps you were using the plain-views branch? I tested in the master branch (essentially the SVGLength branch + some minor fixes, which builds on the plain-views one).

[2018-10-19 16:43] msand commented on #649
v8 has been released now as well

[2018-10-19 16:55] msand commented on #312
v8 has been released, this issue has like been fixed in https://github.com/react-native-community/react-native-svg/pull/763 which is available since v7 up.

[2018-10-19 16:55] #312 closed

[2018-10-19 17:35] msand commented on #677
This is fixed in at least v8 and v7, probably the latest v6 as well

[2018-10-19 17:35] #677 closed

[2018-10-19 17:38] msand commented on #771
Cat on your keyboard? 😄

[2018-10-19 17:38] #771 closed

[2018-10-19 17:38] msand commented on #792
Unrelated to this library, this is unrelated to lock screens.

[2018-10-19 17:38] #792 closed

[2018-10-19 17:40] #769 closed

[2018-10-19 17:40] #800 closed

[2018-10-19 17:41] #795 closed

[2018-10-19 17:41] msand commented on #773
Published fix in v8

[2018-10-19 17:41] #773 closed

[2018-10-19 17:42] #791 closed

[2018-10-19 17:42] msand commented on #784
Fix has been published, upgrade to latest version.

[2018-10-19 17:42] #784 closed

[2018-10-19 17:45] msand commented on #781
Closing this as it's fixed in the latest versions.

[2018-10-19 17:45] #781 closed

[2018-10-19 17:46] msand commented on #764
Closing this for now, as inheritance seems to be working and color is supported

[2018-10-19 17:46] #764 closed

[2018-10-19 17:46] msand commented on #758
Unrelated to this repo, please ask on stackoverflow or something.

[2018-10-19 17:46] #758 closed

[2018-10-19 18:16] janicduplessis commented on #806
Good news, the fix will make it in the next rn minor https://github.com/react-native-community/react-native-releases/issues/48#issuecomment-431416538

[2018-10-19 19:11] jaimebiernaski commented on #464
Hi, some news about this? I'm facing the same problem... Just with Android... on iOS it is OK.

[2018-10-19 19:29] msand commented on #806
Thanks for reporting, will look at it later tonight once I get back to a computer

[2018-10-19 19:49] janicduplessis commented on #806
@msand Thanks!!

[2018-10-19 23:30] msand commented on #806
@janicduplessis I think I've fixed the issue, really wouldn't expected this to be necessary changes to the code. But oh well, yet another day to learn about obj-c intricacies. https://github.com/react-native-community/react-native-svg/commit/e5768133295cbd4e70f4ab339d0aba1d1ad759b5

[2018-10-20 12:25] joaom182 opened #817 "Fatal error on Archive iOS - fatal error: 'RNSVGLength.h' file not found"
React Native: 0.52
Build System: (MS app center)
react-native-svg: 7.1.2

**fatal error: 'RNSVGLength.h' file not found**

[code]

[2018-10-20 12:28] msand commented on #817
Can you try unlink and linking again?

[2018-10-20 12:37] joaom182 commented on #817
@msand I've installed with Cocoa Pods, automatic link did not work for iOS, the linker not attach .xcodeproj to my project. For Android the automatic linker it worked.

I've put on my `Podfile`:

`pod 'RNSVG', :path => '../node_modules/react-native-svg'`

And run `pod install`

Building and Archiving on my local environment using new build system it worked (OSX High Sierra), but on appcenter not w

[2018-10-20 13:06] msand commented on #817
Did you try pod update or pod install?

[2018-10-20 14:07] joaom182 commented on #817
I'll try:

- Build local with old build system to test.
- Download my project again, install packages and try build and archive with old build system.

[2018-10-20 14:07] msand commented on #817
Or is there some cache to reset in app center? (i have no experience with it)

[2018-10-20 14:11] joaom182 commented on #817
App Center runs in disposable containers, so the environment of app center not persist states, caches e etc...

[2018-10-20 14:34] dylancompanjen commented on #817
Same error here, since upgrading to 8.0.0

[2018-10-20 15:16] joaom182 commented on #817
@dylancompanjen you've installed lib with CocoaPods too?

[2018-10-20 19:13] g33ktony opened #818 "Touch events not working on simulator and in actual device"
Touch events are not working for me in any device, os version, emulator or physical device, I have used the examples and not working

[code]

![captura de pantalla 2018-10-20 a la s 14 17 01](https://user-images.githubusercontent.com/3960100/47259689-dafa5800-d472-11e8-9b19-8c9fb62ce44c.png)

I need to touch that red circle and then show an alert for now I'm testing with a log but nothing happens

[2018-10-20 20:28] g33ktony commented on #818
on expo si working well
![img_1b3892b2916f-1](https://user-images.githubusercontent.com/3960100/47260223-bf944a80-d47c-11e8-84a7-f4189b6cb985.jpeg)

[2018-10-20 20:36] skymax406 opened #819 "Attempt to invoke virtual method 'android.graphics.Rect com.horcrux.svg.SvgViewShadowNode.getCanvasBounds()' on a null object reference"
Hello i have many issue with the lib, one of them is following :

According to firebase, this exception happen on SVG display. Randomly. It often work, and sometime it crash, i dont know why ... An idea ? I have the last version of react-native and react-native-svg

Thank You

[2018-10-20 21:09] dylancompanjen commented on #817
@jaom182 nope, with react-native link.

[2018-10-20 21:49] msand commented on #819
Are you sure you have the latest version? V8.0.1 is the current one. That exception shouldn't be possible, the method shouldn't even exist.

[2018-10-20 21:51] janicduplessis commented on #806
@msand Awesome, thanks! I just tested master and everything works fine.

[2018-10-20 21:52] skymax406 commented on #819
oO Ho sorry when when this error has occured my version was the latest .
But I did not see that there was a new version since 2 days  ... So i dont have latest version . I will test that Monday at job and I will tell you

[2018-10-21 10:14] tovesson commented on #783
I'm having the same issue on Android (not iOS). I'm using version 7.0.2. I also tried upgrading to 8.0.1 but the issue remains. Also, upgrading to 8.0.1 forced me to update my Gradle version to 3.0.1 and gives me the following error on iOS:
![simulator screen shot - iphone 6 - 2018-10-21 at 12 12 49](https://user-images.githubusercontent.com/3273480/47265603-a4801400-d52a-11e8-8181-d805d4acc6c7.pn

[2018-10-21 11:15] RichardLindhout commented on #137
+1

[2018-10-21 13:40] msand commented on #783
@tovesson can you provide a full replication? I get the feeling that shouldn't be possible in 8.0.1 are you sure you rebuilt the native code successfully?

[2018-10-21 13:47] msand commented on #137
There is support for animation with useNativeDriver now and the code has been optimized for unitless numbers instead of strings, try using that, and if you have static parts in the animation, split it up into three different svgs, a static background, animated layer and a static foreground, such that the animated parts are as computationally small and few as possible. And utilize shouldComponentUp

[2018-10-21 16:39] msand commented on #817
Can you please try with the https://github.com/react-native-community/react-native-svg/tree/ios_build_simplification branch?

[2018-10-21 16:40] joaom182 commented on #817
@msand i'll try

[2018-10-21 18:59] msand commented on #817
@joaom182 Could you make a git repo which I can git clone and npm install && react-native run-ios to test?

[2018-10-21 19:28] dylancompanjen commented on #817
@msand still "RNSVGLength.h" file not found (from RNSVGPainter.h)

[2018-10-21 19:39] msand commented on #818
Please try v8.0.2, a regression was introduced in v8.0.0

[2018-10-21 20:35] msand commented on #817
Can you try with a clean project?
[code]

Replace app.js with this:
[code]

[code]

[2018-10-21 20:54] dylancompanjen commented on #817
@msand I finally got it working by using the "legacy build system" in xcode.

[2018-10-21 21:41] tovesson commented on #783
I solved it by updating to version 7.2.0 and clearing cache after you instructions :)
https://github.com/react-native-community/react-native-svg/issues/814#issuecomment-430022466

[2018-10-21 21:46] tovesson opened #820 "JSON value '50' of type NSString cannot be converted to a YGValue"
Hi!

I'm using version 7.2.0 of react-native-svg. When doing something as simple as this:
`<Rect height="50" width="1640.96" fill="#acd6ea" x="-232.39" y="-289.21" />`
I get the following error: **JSON value '50' of type NSString cannot be converted to a YGValue. Did you forget the % or pt suffix?** It seems like I need to specify height and width as follows:
`<Rect height={50} width={1640.96} fil

[2018-10-22 07:49] skymax406 commented on #819
Hello, i have upgraded my react-native-svg version and this issue has apparently gone but was replaced by the following :

Any idea ?

[2018-10-22 08:37] tovesson commented on #820
I got it working using the Xcode legacy build system

[2018-10-22 12:03] msand commented on #819
Could you post a small replication?

[2018-10-22 12:06] skymax406 commented on #819
I can't, it arrive randomly, often when navigation change ( I use react-navigation ) and a SVG is present on new page. I can't tell more

[2018-10-22 12:42] msand commented on #819
Could you post a small replication?

[2018-10-22 13:13] g33ktony commented on #818
I have unlinked, uninstalled and the install it again, I works now

[2018-10-22 13:13] #818 closed

[2018-10-22 13:29] msand commented on #819
@skymax406 Can you try this one: https://github.com/react-native-community/react-native-svg/commit/13b91aab39481eb708a580a87d7118c6180d0e23

[2018-10-22 15:39] tufik2 commented on #783
I am using the v 8.0.0 and it is not working...

[2018-10-22 16:16] msand commented on #783
Try v8.0.3

[2018-10-22 18:35] tufik2 commented on #783
Nop working with v8.0.3, I am testing in an AVD with nexus 5x API27 (Android 8.1)
Mi SVG.. I should have an extra configuration?

`
<View>
<Svg width={100} height={100} viewBox={`0 0 100 100`} >
                                <Circle
                                    cx="50%"
                                    cy="50%"
                                    r="38%"

[2018-10-22 18:57] msand commented on #783
@tufik2 Seems you have some caching issues. Try
[code]
Or,
[code]

[2018-10-23 04:50] glthomas commented on #150
@msand I've cloned your filters branch and committed the interface for the RNSVGFilter.h for ios.  However, I am unable to push up to your forked repo.  What's the preferred process for contributing.  Is it better if I fork your fork and then I submit a pull request at some point down the line when I have a few more files to contribute?

[2018-10-23 06:03] msand commented on #150
@glthomas Great! It might make sense to rebase onto master of the main repo as well. Actually, fork this repo and make a PR here instead. I only use that one for private testing and preparing my own PRs.

[2018-10-23 06:16] hoboman313 commented on #817
I ran into the exact error described here but ```pod update``` made it compile again.

[2018-10-23 12:31] kay-is opened #821 "PanResponder stopped working on version 7"
Tried to upgrade to version 8 today and suddenly my interactions stopped working.

Went down to 7 and still, nothing worked.

6.5.2 worked again.

What did change in respect to the `PanResponder`/`panHandlers` in version 7?

[2018-10-23 13:31] glthomas commented on #150
@msand can you create a branch off of the master repo called "filter-support".  I only ask because I think the filter work might last for a bit and so a dedicated branch to serve as my target for my pull requests will prevent the partially completed work from getting to master prematurely.   I anticipate multiple pull requests on this filters work.  The added benefit is the multiple PR's can serve

[2018-10-23 14:32] msageryd commented on #820
I had this problem as well, but it went away when I upgraded from RNSVG 7 to 8.

[2018-10-23 14:41] msageryd commented on #817
I have the same issue, but only in XCode. I can run the app in the simulator via `react-native run-ios`.

I have tried:
- react-native unlink react-native-svg
- npm remove react-native-svg
- close metro packager
- rm -rf ./ios/build
- npm install react-native-svg
- react-native unlink react-native-svg

The library seems to be removed correctly in xcode, and then added correctly again. No *red* lib

[2018-10-23 14:53] msageryd commented on #817
Switching to "Legacy Build System" in XCode (File/Project Settings) solved the problem

@msand Is there anything I can do to help you find the build problem? I suspect that there are drawbacks with the legacy system, or that this build system won't be around in the future.

Sidenote: Subjectively I feel that my, quite SVG heavy app, performs better with v8 than it did with v6. I'd really like to g

[2018-10-23 14:58] msand commented on #821
@kay-is Can you try v8.0.3? A regression was introduced in 8.0.0 and fixed in 8.0.2 at least, not sure if there are others as well. Please post a reproduction otherwise.

[2018-10-23 15:03] msand commented on #817
@msageryd I haven't upgraded XCode yet because of the significant number of problems people have been reporting around it, and the version I have works perfectly fine for now. I'm no expert in the XCode build system either, so I think it would probably be best to try and find someone properly experienced in that to take a look at it, perhaps they'll find something else to improve at the same time.

[2018-10-23 15:09] msand commented on #150
@glthomas Sounds good. I rebased onto master here and pushed to the filters-branch, lets use this one going forwards. Please feel free to ask anything if there's something I might be able to help explain. I've learned obj-c by maintaining this project, didn't have any previous experience with anything apple/mac/ios/obj-c related before that (summer last year). So I have a relatively fresh learning

[2018-10-23 15:15] msageryd commented on #817
Ok, sounds like a plan.
You might want to consider inting about "Legacy Build System" in the install section in the docs. I suspect this issue will become very hot otherwise.

I have been using the latest XCode without "Legacy.." for a couple of weeks now. No issues whatsoever with RN 0.56 (until the RNSVG issue).

[2018-10-23 15:40] msand commented on #817
<img width="1163" alt="screen shot 2018-10-23 at 18 37 50" src="https://user-images.githubusercontent.com/1131362/47372640-d5ab4080-d6f2-11e8-9c17-d09607836b92.png">
I wonder if the relative order of the files in the build phases could have any effect. Could you try moving RNSVGLength.m before RNSVGPainter.m and see if the error disappears / changes? @msageryd

[2018-10-23 15:58] msageryd commented on #817
No difference after changing the file order.
I removed the build folder before re-building.

[2018-10-23 16:00] msand commented on #817
How about if you uncheck "Parallelize Build"?
<img width="1077" alt="screen shot 2018-10-23 at 18 59 25" src="https://user-images.githubusercontent.com/1131362/47374143-e3ae9080-d6f5-11e8-8794-9d7d51627c9c.png">

[2018-10-23 16:19] msageryd commented on #817
I can't find that screen for RNSVG. In the scheme settings for my project the Parallelize setting is already unchecked. Are there scheme settings for each library, or does your project just happen to have "RNSVG" as it's name?

[2018-10-23 16:24] msageryd commented on #817
After just trying to build a couple of times, while looking around tor settings I got this:
![image](https://user-images.githubusercontent.com/4483085/47375531-c62af800-d6f0-11e8-9f42-fcb42f85e0a7.png)

[2018-10-23 16:31] msageryd commented on #817
Found the scheme settings for RNSVG.
- unchecked Parallelize
- removed ./ios/build
- Tried to build -> same problem (RNSVGLength.h..)

[2018-10-23 16:34] msand commented on #817
I see, alright. Well, thanks for trying it out. Not sure what to try next. Guess I'll have to upgrade xcode to investigate further. Would you happen to know any ios/xcode expert?

[2018-10-23 16:35] msageryd commented on #817
Success..

I did the same thing again, but this time I used Product/Clean Build Folder from within XCode instead of just rm -rf the folder. The project now builds successfully with "Parallelize" unchecked in the RNSVG package.

I wonder what trickery the "Clean Build Folder" does besides cleaning the build folder..

[2018-10-23 16:36] msand commented on #817
Ah excellent. So, now to figure out how to make react-native link uncheck parallelize perhaps?

[2018-10-23 17:48] msand commented on #796
If any problems remain, or if you want an alternative solution to the legacy build system, you can uncheck "Parallelize builds" for RNSVG: https://github.com/react-native-community/react-native-svg/issues/817#issuecomment-432323509

[2018-10-23 17:48] msand commented on #791
If any problems remain, or if you have problems because of XCode 10, you can uncheck "Parallelize builds" for RNSVG: https://github.com/react-native-community/react-native-svg/issues/817#issuecomment-432323509

[2018-10-23 18:06] msand commented on #821
Is this on Android, iOS or both?

[2018-10-23 18:37] kay-is commented on #821
Tried it in the iPhone simulator.

[2018-10-23 20:19] bobderrico80 opened #822 "Path rendering inconsistency between react-native and web"
I have a react-native-svg `Svg` defined here:

[code]

This is a port of this original svg element:
[code]

When I view this SVG on the web, I see this:
<img width="128" alt="screen shot 2018-10-23 at 4 10 27 pm" src="https://user-images.githubusercontent.com/7296842/47387774-50b62c00-d6de-11e8-97f0-f645b3c44c84.png">

However, in react-native, it looks like this:
![screen shot 2018-10-23 at 4 10

[2018-10-23 21:08] msand commented on #822
Published a fix for the spec conformance of the path parser: https://github.com/react-native-community/react-native-svg/commit/9affd59b008500e6704c20458186899fd4fc5b70
Available as v8.0.4

https://www.w3.org/TR/SVG/paths.html#PathDataMovetoCommands

[2018-10-24 09:57] jnicholls commented on #157
FWIW I installed the latest version `8.0.5` from npm and this issue is still present.

[2018-10-24 10:56] netmaxt3r opened #823 "Android: SVG percentage height width crash on version > 6.5.2"
We are facing issue while upgraded our project from rnsvg from 6.5.2 on android. below is sample code on a bare react native project
[code]
I tried version 8.0.5 master branch, plain-view branch and android app is crashing in all of them
logcat output
[code]

Versions
React-native: 0.57.3
react-native-svg:8.0.5

works perfectly on version 6.5.2

related closed ticket [#3](https://github.com/react-

[2018-10-24 13:13] bobderrico80 commented on #822
@msand Upgrading to `^8.0.4` fixes the issue. Thank you for the very prompt turn-around!

[2018-10-24 13:13] #822 closed

[2018-10-24 13:16] msand commented on #823
@netmaxt3r Hmm, strange, can you make full replication? This seems to work fine for me:

[code]

[2018-10-24 13:34] msand commented on #157
@jnicholls Oh, I wonder if I've introduced a regression after having fixed this, could you try with this commit (the latest one when I wrote the previous comment) https://github.com/react-native-community/react-native-svg/commit/ad99f97c84126ad1a66b5718d98f2adfaf3beb16
Or if that still fails, then the parent commit to that one: https://github.com/react-native-community/react-native-svg/commit/3559

[2018-10-24 14:15] Rob-CC commented on #821
Was having the same issue for iOS on 8.0.2. Upgrading to 8.0.5 fixed it for me.

[2018-10-24 16:13] msand commented on #157
@jnicholls I have a fix for android: https://github.com/react-native-community/react-native-svg/commit/e2e415c467be71bc1555f81228fac0bb9a66842c
It also adds support for the react-native inspector, so you can check the fill bounds of svg elements.

[2018-10-24 16:32] jnicholls commented on #157
@msand Thank you, I will check these out for sure. In the meantime I implemented onResponderMove, onPressIn and onPressOut and am doing my own calculation to determine if the user is tapping or dragging their finger (in a scroll-like fashion) which is working quite well as a JS workaround.

[2018-10-24 16:34] jnicholls commented on #569
I'd love to see nested `Svg` elements that behave similarly to how nested `<svg>` elements work in browsers. e.g. laying out svg icons inside of a root svg viewport.

[2018-10-24 16:54] pehlert commented on #258
For me this started to occur after an upgrade to 8.0.4 (from 6.4.0), but I couldn't really pinpoint the code that has caused it.

It seems to be related to this error though, which I also saw:

[code]

After downgrading back to 6.4.0 the errors both disappeared. Any idea what might be wrong here?

[2018-10-24 17:56] netmaxt3r commented on #823
holy molly, can u try add a backgroundColor to your container style and check its working for u? thats the only diff i have against i can see from ur code?

[2018-10-24 18:39] netmaxt3r commented on #823
@msand
please check this pull req

[2018-10-24 20:56] msand commented on #569
@jnicholls What is behaving differently? At least this seems to work fine:

[code]

[2018-10-24 20:57] msand commented on #569
https://www.w3.org/TR/SVG11/images/coords/PreserveAspectRatio.svg
https://www.w3.org/TR/SVG11/images/coords/PreserveAspectRatio.png
![image](https://user-images.githubusercontent.com/1131362/47461064-919a6780-d7e8-11e8-98b7-086ce0193273.png)

[2018-10-24 21:01] msand commented on #258
@pehlert Hmm, I can't really figure anything out from that stacktrace, as it doesn't even mention any code from this library. Could try to make a reproducible scenario?

[2018-10-24 21:05] msand commented on #800
Perhaps you we're using clipping? The implementation has changed to be more spec conformant (and there was a regression as well until 8.0.6, you might need to move your clipRule attribute to the ClipPath elements from the elements where you have the clipPath attribute.

[2018-10-24 21:13] msand commented on #785
Can you try with v8.0.8?

[2018-10-24 21:15] msand commented on #775
Try:
react-native unlink react-native-svg
and then:
react-native link react-native-svg

[2018-10-24 23:22] mchambaud commented on #442
I have a similar issue but the `libRNSVG.a` is actually in the build folder under `RNSVG/libRNSVG.a`

[2018-10-25 02:33] msand commented on #573
@msageryd Thought you might be interested in a very successful optimisation strategy I applied the other day. It works great to speed up animations/gestures where you're only transforming some parts of the content, or where only some parts of the svg content rarely but various layers need transforms and clipping.

It roughly goes like this: Cover the area you want to respond to gestures with a Ani

[2018-10-25 13:54] kay-is commented on #821
8.0.5 does interactions, but they are wrong.

This is my component:

[code]

[2018-10-25 17:51] wesleyguirra commented on #447
does it have support now?

[2018-10-25 19:08] msand commented on #447
I would recommend splitting your svg into a foreground and background layer, and place a native view with what ever you need in between. This will be more performant (reuses the resulting bitmaps of the svgs) than using the svg rendering logic to make bitmaps of other native components (rerendering all of it on any change in the foreignobjects) + handling hit testing and gestures etc.
Or what woul

[2018-10-25 19:50] msand commented on #447
I realized that clipping and masking of native content might be useful, and once we have filter support, that could also be used for all kinds of purposes. Reopening this.

[2018-10-25 20:06] msand commented on #447
[12.5. The ‘foreignObject’ element](https://svgwg.org/svg2-draft/embedded.html#ForeignObjectElement)
‘foreignObject’

Categories:

[Graphics element](https://svgwg.org/svg2-draft/struct.html#TermGraphicsElement), [renderable element](https://svgwg.org/svg2-draft/render.html#TermRenderableElement), [structurally external element](https://svgwg.org/svg2-draft/struct.html#TermStructurallyExternalElem

[2018-10-25 20:35] david-cako commented on #820
I was having issues where it wasn't converting strings to numbers.  Many hours spent, many combinations of RNSVG and victory-native (what I was using it with), clean builds all along the way, and I even bumped from react-native 0.55.4 to 0.57.3.  Nothing worked.

I started screwing with the order of libraries in my xcode project and that seemed to fix it.  One thing I remember doing specifically w

[2018-10-25 20:36] david-cako commented on #820
I was having issues where it wasn't converting strings to numbers.  Many hours spent, many combinations of RNSVG and victory-native (what I was using it with), clean builds all along the way, and I even bumped from react-native 0.55.4 to 0.57.3.  Nothing worked.

I started screwing with the order of libraries in my xcode project and that seemed to fix it.  One thing I remember doing specifically w

[2018-10-25 20:38] david-cako commented on #820
I was having issues where it wasn't converting strings to numbers. Many hours spent, many combinations of RNSVG and victory-native (what I was using it with), clean builds all along the way, and I even bumped from react-native 0.55.4 to 0.57.3. Nothing worked.

I started screwing with the order of libraries in my xcode project and that seemed to fix it. One thing I remember doing specifically was

[2018-10-26 03:35] czanella commented on #481
I just ran into this same issue, and the solution worked for me too. Thanks a million!! :)

[2018-10-26 11:34] gunnartorfis commented on #817
I was having the same issue.
When I expanded the Pods project, to Development Pods, RNSVG, Utils - the RNSVGLength.h was simply missing. So I found the missing file in Finder and drag&dropped it to the Utils folder and made sure it was targeted to the RNSVG schema.

[2018-10-26 19:31] glthomas commented on #150
@msand, so I’ve been studying the existing elements as well as your previous comments and trying to determine the next steps beyond adding the interfaces.  My focus initially will be on iOS.  Referring back to your comment from 19 days ago you mentioned “main work of making the filter element create a rendering pipeline according to the svg compositing model”.   As best as I can tell this means mo

[2018-10-27 15:53] msand commented on #150
@glthomas Excellent, seem you're on the right track.
It would probably make sense to refactor the masking logic a bit.

First extract a method to render a node to a `CIImage`: (The first part inside if (self.mask) {}, currently it uses bitmaps, but we need to use `CIImage` instead to get efficient filters on iOS, as in the blur example earlier: https://github.com/react-native-community/react-nativ

[2018-10-27 16:55] msand commented on #150
For the feMergeNodes, we should have the parseReference method of the RNSVGFilter to set up a filter graph (map from index/name to filter instance, and the outputs of instances are set as inputs to any others which reference them), such that after setting the source graphic on the first filter primitive and we call createCGImage on the CIImage of the output node, the CIFIlter pipeline handles comp

[2018-10-27 17:57] glthomas commented on #150
@msand, to do the refactoring you've suggested, do we need to import CoreImage in order to start using CIImage.
`#import <CoreImage/CoreImage.h>`
If so what file should we be importing this too?  RNSVGRenderable.m?

You mentioned also the need to refactor the mask code to use CIImage to make things efficient.  How do you mean?  Is the processing diverted to the GPU by using CIImage as opposed to C

[2018-10-28 07:29] msand commented on #150
@glthomas Core Image can work on either the cpu or the gpu, in both cases it should be possible to get more efficient than the basic for loop + arithmetic, as it can utilize vector instructions, and do matrix operations very efficiently on the gpu. And in the case of filter chains, it sometimes has the potential to chain several filters together, such that it only needs to process each pixel once.

[2018-10-28 17:05] msand commented on #150
@glthomas I think I have a rendering pipeline for filters which I'm sufficiently happy with for now at least, the applyFilter method is just the identity function for now, but once I have the filter graph constructed in parseReference, we can just set the inputImage and return the outputImage there.

[code]

[2018-10-28 18:52] glthomas commented on #150
@msand do we need to add the Core Image Framework to the project and import it?

[2018-10-29 02:35] msand commented on #150
@glthomas Sure, can do that. I have the ColorMatrix example from the spec mostly working now:
[code]
<img width="1009" alt="screen shot 2018-10-29 at 4 30 35" src="https://user-images.githubusercontent.com/1131362/47626365-748cce00-db33-11e8-97ac-1c5cf462969e.png">

And here's the mask example I've been testing:

[code]

[2018-10-29 03:55] msand commented on #150
More progress: Implement RNSVGFEGaussianBlur, RNSVGFEMerge & RNSVGFEMergeNode
https://github.com/react-native-community/react-native-svg/commit/21e3738f89f2ec7da5b4c0d6599f147e2b4a4d02
![simulator screen shot - iphone 8 plus - 2018-10-29 at 05 53 57](https://user-images.githubusercontent.com/1131362/47628641-2da4d580-db3f-11e8-8139-76a500ad0f37.png)

[2018-10-29 06:19] msand commented on #150
https://github.com/react-native-community/react-native-svg/commit/79748f9b20818e5b0edf1d42d011a91abe38ba20 [ios] Implement RNSVGFEBlend, RNSVGFEOffset, Fix RNSVGFEComposite

[2018-10-29 10:27] sebastijandumancic opened #826 "TouchableOpacity inside SVG not clickable"
Hello all,

I have an issue where `TouchableOpacity` doesn't trigger `onPress` events when it's nested inside `svg` element. For same feature, I have different implementation where `TouchableOpacity` on Android is outside `svg` element and it registers tap just fine. As soon as it's inside header it just stops working.

`react-native-svg: "7.0.3."`

Any ideas? Thanks!

[2018-10-29 15:21] msand commented on #826
I don't think we've had support for that yet. Would be nice to have though. You can use onPress directly on the svg elements for now, or isolate the part you want touchable to animate in a separate svg root which you wrap with touchable. This will allow it to just change the opacity of the already rendered svg, rather than re-render its content each frame of the animation.

[2018-10-29 15:29] sebastijandumancic commented on #826
Thanks for the answer @msand. So I should stop trying to get it to work, it won't until Touchable is outside Svg completely?

[2018-10-29 15:32] msand commented on #150
Added support for BackgroundImage and BackgroundAlpha, now it's already possible to do quite a lot with the existing primitives.

[2018-10-29 15:36] msand commented on #150
@glthomas Would be great with a bit more test cases at this point, to know what parts are still broken (of the parts that have implementations) in comparison to the ever-green browsers.

[2018-10-29 15:39] msand commented on #150
<img width="970" alt="screen shot 2018-10-29 at 17 38 30" src="https://user-images.githubusercontent.com/1131362/47661338-86a55580-dba1-11e8-889a-900a8e91855d.png">

[2018-10-29 16:10] fabianhoward opened #827 "Accept a numeric type for the property offset"
Here https://github.com/react-native-community/react-native-svg/blob/master/lib/extract/extractGradient.js#L32 only accepts offsets of type string. It seems perfectly reasonable to me and indeed desirable that just like positional coordinates the offsets could be specified as floats.

Note I am talking only about when the offset is a numerical string not when it is a percentage.

[2018-10-29 19:30] lwansbrough opened #828 "Bad access exception while drawing gradient in 8.0.3"
The following exception occurs while drawing an SVG with a gradient. The value of `gradient` is `0x0`.

`colorsAndOffsets` is `NULL`

<img width="1016" alt="screen shot 2018-10-29 at 12 29 22 pm" src="https://user-images.githubusercontent.com/186674/47675137-55fbf680-db76-11e8-9471-d807420dca07.png">

[2018-10-29 21:05] msand commented on #826
Yeah, I haven't tested or tried to make it work until now at least, so I would expect it not to work. Not sure exactly what it would require either, haven't looked into what touchable requires of its children to animate them, or to understand their size/position on screen.

[2018-10-29 21:07] msand commented on #827
Yeah, I've actually already added support in the current work-in-progess branch: filters, you can try that if you want it asap.

[2018-10-29 21:10] msand commented on #150
Dropshadows are possible to make now

<img width="726" alt="screen shot 2018-10-29 at 23 04 01" src="https://user-images.githubusercontent.com/1131362/47680512-a9e6f980-dbcf-11e8-80cd-5e2a66928b7f.png">

[code]

[2018-10-30 04:35] glthomas commented on #150
@msand, incredible work here.  Not sure how you find the time.  At any rate I tried adding the mask example you provided here to the Examples submodule maintained by @magicismight
I have a PR open over on there.  Though we still need to add an icon for the example.

[2018-10-30 08:39] sebastijandumancic commented on #826
Ok, thanks for the answer. Bump the thread if you ever get to work on it and thanks for everything else.

[2018-10-30 08:39] #826 closed

[2018-10-30 16:37] FibreFoX commented on #462
@koansang you should close this issue if you fixed it 👍

[2018-10-30 19:43] msand commented on #462
I'll go ahead and close this. I would expect it work (given that its inside defs) at least, as similar tests seem to work fine.

[2018-10-30 19:43] #462 closed

[2018-10-30 20:17] msand commented on #150
I get the feeling that he's been very busy the past year or so, can't remember if he has written replied in any react-native-svg issues this year, or replied to any questions I've posed since I got rights to maintain the project. So I think he probably has too much other stuff going on to give much attention to these things.

Anyways, he did a great job getting most of svg working in react-native

[2018-10-30 20:22] dustinsavery commented on #150
@msand I do not have access. It looks as though @magicismight is the only contributor, meaning he's probably the only one that has access. Another person that might have any insight on how to proceed here is @brentvatne. Any thoughts?

[2018-10-30 20:49] msageryd commented on #573
@msand, wow thanks!
This is very interesting. For now I have *ok* performance, but I will need to increase the speed when we take on larger projects (i.e more svg shapes). It would also be good with a bit more speed for users with older devices.

I'll dig into this, for sure.

[2018-10-31 05:19] rajeshlifeon24 opened #829 "Making build.gradle extensible"
Hello!
I've recently integrated react-native-svg in my app. I, however, found that the build.gradle is using hardcoded values for compile SDK, tools SDK, target SDK and min SDK. Here's the snippet:
android {
    compileSdkVersion 27
    buildToolsVersion '27.0.3'

    defaultConfig {
        minSdkVersion 16
        targetSdkVersion 23
        versionCode 1
        versionName "1.0"
    }
    lint

[2018-10-31 05:19] zhushichuan opened #830 "A problem occurred evaluating project ':react-native-svg'. > Could not find method implementation() for arguments [com.facebook.react:react-native:+] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler."
A problem occurred evaluating project ':react-native-svg'.

[2018-10-31 06:14] kdenz commented on #734
For me what worked is to calculate the width of the background rectangle dynamically based on text string length, so example:
`<Rect
                x={20}
                y={20}
                height="20"
                width={textString.length * 10}
              />`

[2018-10-31 06:38] tarunmehta-quovantis opened #831 "Can any one guide me how to create arc shape"
I want to create arc shape , if any one can help me as I didn't find any arc shape here.
I want to build similar like below url

https://github.com/doc-ai/react-native-arc-progress

[2018-11-01 02:13] zhushichuan commented on #775
你是怎么解决的，我还是不行

[2018-11-01 02:36] zhushichuan commented on #211
but ，I still have the same problem.
"react": "~15.4.0-rc.4",
		"react-dom": "^16.1.1",
		"react-native": "0.40.0",
		"react-native-svg": "^4.4.1",
		"react-native-svg-uri": "^1.2.3",

[2018-11-01 09:48] rantoinne commented on #55
@dubert how do we animate a pie chart so that each pie of the chart renders in a circular way.
I have been on this since a lot of days and have tried dozens of ideas but unable to achieve a perfect animation.
Can you help me with this.??

[2018-11-01 10:09] xiawaner commented on #55
Study this library and try it out

https://github.com/JesperLekland/react-native-svg-charts
https://github.com/JesperLekland/react-native-svg-charts-examples

[2018-11-01 11:43] rantoinne commented on #55
Have tried these too. Actually I also need the pies to be touchable. Using it caused a lot of bugs while integrating touchables though the docs support that the library has it.

[2018-11-01 16:57] Chooster opened #832 "Pattern doesn't work"
The error I'm getting is: `Invariant Violation: Native component for "RNSVGPattern" does not exist`

[code]
[code]

[2018-11-01 18:40] hasanen opened #833 "SVG's Animate-element"
I'm trying to create animation between to `Path`-elements' d-value. I found out that it's possible to do that with `animate`-element (codepen: https://codepen.io/anon/pen/Xxvvop). Since `animate` doesn't seems to be supported, is there a way how I could achieve this?

[2018-11-01 22:08] msand commented on #829
Seems you're using an old version of the library, it currently uses the standard react-native way of setting the library versions:

https://github.com/react-native-community/react-native-svg/blob/349c3b33675e761ece177884da35cebcd8fc82c0/android/build.gradle#L1-L3

https://github.com/facebook/react-native/blob/2a349f87f78a75163bc5cfd5e5233bfe00524676/local-cli/templates/HelloWorld/android/build.gra

[2018-11-01 22:08] #829 closed

[2018-11-01 22:14] msand commented on #833
You can try something like this: https://github.com/facebook/react-native/pull/18187#issuecomment-414129298
[code]

[2018-11-01 22:18] msand commented on #832
Try clearing caches, relinking the library and make a clean build.

[2018-11-01 22:30] msand commented on #831
Lmgtfy https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands
http://www.pindari.com/svg-arc.html
http://xahlee.info/js/svg_path_ellipse_arc.html

[2018-11-01 22:30] #831 closed

[2018-11-01 23:18] #832 closed

[2018-11-01 23:43] Asleepace commented on #463
Similar to @xe4me solution, this worked for me:
[code]

[2018-11-02 00:52] brendonhc opened #834 "Invariant Violation: requireNativeComponent: "RNSVGPath" was not found in the UIManager"
**Project:**
[code]

**Printscreen:**

![image](https://user-images.githubusercontent.com/25843486/47887793-03ddfe00-de20-11e8-84d4-a5f46ec734b0.png)

**Error details:**

[2018-11-02 01:04] #834 closed

[2018-11-02 01:52] brendonhc commented on #834
Comment on closing: I linked the dependency as requested in README.md and recompiled the application and the error stopped happening.

[2018-11-02 10:04] FibreFoX commented on #830
@zhushichuan Which Gradle version do you use, and which version of the android-plugin?

[2018-11-02 12:43] hasanen commented on #833
Thank you @msand, I'll give it a try and report back.

[2018-11-03 05:56] kapil708 commented on #830
same issue here.
i am using
classpath 'com.android.tools.build:gradle:2.2.3'
and RN:0.55.3

[2018-11-03 06:15] kapil708 commented on #830
solve it. by

from this
    implementation 'com.facebook.react:react-native:+'
to this
    compile 'com.facebook.react:react-native:+'

[2018-11-03 10:53] FibreFoX commented on #830
@kapil708 your configured gradle-wrapper is just to old, try to have a more up2date version of it (like 4.6).

[2018-11-03 23:40] tal2 commented on #794
I'm experiencing the same issue after upgrading to Expo SDK v31 which uses `"react-native-svg": "8.0.8"`.
Tested on **iOS 12.1**

The suggested workaround helped.

[2018-11-04 16:41] hasanen commented on #833
I got the animation working. I think I tried this before, but got error because of the patterns had newlines. But thanks for your working paths on the example @msand, I was able to find it and got my animation work!

[2018-11-04 16:41] #833 closed

[2018-11-05 11:09] andreaskarantzas opened #836 "Touch events do not get fired on specific devices"
The above issue can be reproduced with the TouchEvents view from the library's example. It works fine on the simulator and specific devices like iPhone 6, iPad or the emulator but not with iPhone X or iPhone 7 Plus. The touch events in the 1st & 3rd part of the "TouchEvents" section of the example, cause the alerts to appear on some devices but not others. The same is true for the "hover the svg p

[2018-11-05 15:55] maxkomarychev commented on #836
seems to be a duplicate of #592

[2018-11-06 03:50] zhushichuan commented on #830
我试试

[2018-11-06 03:51] zhushichuan commented on #830
ok,Let me try

[2018-11-06 06:52] tarunmehta-quovantis commented on #258
I also having the same error .

1. I have parent component
2. Multiple "Same Child components" in horizontal Scroll view

eg .
  state = {selectedIndex: 0}
 <ScrollView>
         <Abc
            onClick={this.onClicked.bind(this)}
           indexValue={0}
           isSelected {this.state.selectedIndex=== 0}
          />
         <Abc
            onClick={this.onClicked.bind(this)}
           in

[2018-11-06 07:38] rantoinne commented on #55
Wrapping the path component in a new class will help us achieve functionality for adding a delay for successive mappings.. I did so to animate my pie chart such that each of its pie are visible one after the other after a delay.

[2018-11-06 10:01] andreaskarantzas commented on #836
That is correct.

[2018-11-06 10:01] #836 closed

[2018-11-06 13:56] smoczynskicitiz commented on #817
Same issue for me too.

I did what @gunnartorfis did : I drag and dropped the missing file RNSVGLength.h where it should be. Then I had the same error for other files, and I did the same thing.

Afterwards I run `pod update`, clean project, rebuild and it was good.

[2018-11-06 15:20] alexsmartens commented on #325
Hi @administerspice, you have a really cool screenshot in your initial post. I'm looking to do something similar. Don't you mind sharing the snippet of your code showing how you did it?

[2018-11-06 18:58] oriharel commented on #180
Regarding d attribute animation in the <Path> element, I managed to animate the famous Batman example but needed a very ugly hack - I commented out the `checkPattern()` method inside the AnimatedInterpolation.js of the react-native node module. Check it out [here](https://gist.github.com/oriharel/a7b53b5f315d8688a5ae5b9a76b2f170). It makes me wonder, however, if the animation works, why should we

[2018-11-07 01:31] alexsmartens opened #838 "Extract color at any LinearGradient position [Feature question]"
I am using gradient for giving visual representation to a current value on a scale, where green means that the value is inside acceptable limits and red means that the value is outside of those limits. The scale showing these limits is implemented with `LinearGradient` and `Path`, the value marker is implemented with `Path` and the value itself is implemented with RN `Text`.

The question is
### g

[2018-11-07 10:20] folofse commented on #794
I solved this problem by adding overflow:hidden; to a wrapping view inside touchelement.

[2018-11-08 06:57] jackmew commented on #273
I use [svgr](https://github.com/smooth-code/svgr) to convert svg to react-native-svg component.

Everything is fine, except with <Mask>.

I also try to convert the svg myself. But there is still have problem about <Mask>

If there is <Mask>
1. [I need to add href manually](https://github.com/react-native-community/react-native-svg/issues/500).

[2018-11-08 07:30] #687 closed

[2018-11-08 14:18] alexsmartens commented on #838
Hi, can anyone help with this?

@msand, I've noticed you answered many questions of similar type. Could you suggest something in this case?

[2018-11-08 16:14] msand commented on #180
@oriharel I would expect that one to work, it's probably a bug in the implementation of checkPattern, it should just make sure that there is exactly the same number of substrings which can be interpreted as independent numbers in all strings, such that it can actually produce a string with a number in each place where it is needed.

It is also possible to animate between arbitrary paths in general

[2018-11-08 16:18] msand commented on #794
@folofse Very interesting, I wonder if that has been the root cause to several other issue people have reported. Could you provide a replication which demonstrates that effect? Would be very useful in eliminating the issue.

[2018-11-08 16:40] msand commented on #838
@alexsmartens Hey there, the colors are interpolated linearly, inside any part of the gradient it is normal arithmetic where you have an input parameter x giving an argument in [0, 1] with two constants a and b, and the result is (1-x)*a + x*b

But, the colors have several color components, so you'll probably want to use something from npm like:
[code]
Then just calculate how far along your scale

[2018-11-08 16:46] msand commented on #273
@jackmew Can you try adding the x, y, width and height attributes to the Mask element? It needs to be specified explicitly for now it seems.

[2018-11-08 18:50] alexsmartens commented on #838
Thanks for your suggestions @msand! I solved the problem by computing RGB color values in my function

[2018-11-08 18:50] #838 closed

[2018-11-09 01:59] jackmew commented on #273
@msand I try to add x, y, width, height, but there is no effect.

After adding href, AI.js can work.
But show nothing relational about Mask element.

Mask & G use the same Path element.

![screen shot 2018-11-09 at 9 42 52 am](https://user-images.githubusercontent.com/6193983/48238374-c4a64300-e405-11e8-814a-4ec8e633cb0d.png)

Without Mask element.
I guess Mask is to hide the part of Blue Rect ele

[2018-11-09 11:31] pavelkeyzik opened #839 "Unable to resolve module '../lib/props'"
Hey guys. I have some problem with Rect element.

`error: bundling failed: Error: Unable to resolve module "../lib/props" from "\node_modules\react-native-svg\elements\Rect.js": The module "../lib/props" could not be found from "\node_modules\react-native-svg\elements\Rect.js".`

OS: Windows 10
React-Native-Svg: 8.0.8
React-Native: 0.57.1
React: 16.5.1

[2018-11-09 13:39] msand commented on #839
Seems like your node_modules folder is corrupted, try deleting it and `npm i` again

[2018-11-09 15:02] pavelkeyzik commented on #839
I tried this and also I cleared cache but it doesn't help me. After all steps, I get a problem like #814.

[2018-11-09 17:13] pavelkeyzik commented on #839
Do you think it will help me? I think the problem with installation because I can't find props file in the lib.

[2018-11-11 14:03] sftgf commented on #591
+1

[2018-11-11 17:40] vivekkadu commented on #653
.

[2018-11-11 20:31] jans-y commented on #821
Exactly same issue here.

iOS worked by upgrading to latest but because of Android I had to downgrade to 6.5.2

[2018-11-11 20:37] msand commented on #591
If you're using yarn, then you can use resolutions: https://yarnpkg.com/en/docs/package-json#toc-resolutions
E.g. if you're using react-native-svg v8.0.8 and want to override it in all your dependencies, add this to your package.json file and run yarn again:

[code]
Or, if you're using npm, then you can run: https://www.npmjs.com/package/npm-force-resolutions#how-to-use
[code]

[2018-11-11 20:45] msand commented on #653
Upgrade to the latest Expo version, and remove react-native-svg from your dependencies (its comes with batteries included in Expo), instead import it from expo like this:

[code]

[2018-11-11 20:48] msand commented on #794
@Prefinem What width and height values are you giving your Svg root element? I suspect they might be bigger than supposed to be, causing unnecessary memory use, slower rendering and these touch issues. Could you provide a replication?

[2018-11-12 07:21] jmheik opened #840 "Crash when using Pattern"
I'm getting hard crash when trying to use Patterns. Testing with react-native-svg 8.0.8 and iOS simulator outputs to XCode console just `libc++abi.dylib: terminating with uncaught exception of type NSException`.

Simple test case which always crashes:

[code]

[2018-11-12 13:01] lachtos commented on #840
For me, iirc, it only worked with
`patternUnits="userSpaceOnUse"`
and
`x`, `y`, `width`, `height` and `viewBox` set

[2018-11-12 13:20] lachtos opened #841 "Emoji on TextPath rendered incorrectly when parent Text is rotated"
There is an issue when rendering emoji on a TextPath while the parent Text of the TextPath is rotated. The emoji is rendered out of place.

`#textPath` is just a straight line

[code]

![image](https://user-images.githubusercontent.com/16613421/48366532-e417c700-e6b6-11e8-91d6-54b073b7531d.png)

[2018-11-13 18:06] carlost commented on #608
sorry if I am late to the party @msand or if this is out of scope, but touch support is missing from `svgs`.  We use `react-native-web` with a webpack alias to replace `react-native-svg` with `svgs`.  We have issues with a 3rd party lib, `react-native-svg-charts`, that is passing `onPress` handlers to various `react-native-svg` components.  `svgs` doesn't have any special touch handling support, s

[2018-11-13 18:11] winghouchan opened #842 "TS error: opacity does not exist on component type"
The TS compiler throws an error saying the property opacity does not exist on component types. Below is a reduced test case.

[code]

produces

[code]

You can reproduce this on other components such as `G`.

I believe this is a bug because `opacity` is applicable to container and graphic elements (see quote from spec below, emphasis mine) of which `circle` is a graphic element.

– https://www.w3.

[2018-11-13 18:17] necolas commented on #608
I'm not sure it's a good idea to have `onPress` on SVGs, unless the touchable functionality is mixed in only when an `onPress` function is provided (as `Text` does). There are existing components that can wrap SVGs to provide this functionality (and all the other press-related functionality) without folding it into an SVG component. The main problem with `svgs` is the API is not compatible with Re

[2018-11-13 19:52] phenixrizen commented on #839
I'm having the same issue with:

OS: Ubuntu 18.04.1 LTS
React-Native-Svg: 8.0.8
React-Native: 0.57.5
React: 16.6.3

I've tried clearing the npm cache and removing the node_modules directory and reinstall the modules and I still get this error

[2018-11-14 17:21] neiker commented on #290
And what about this?

![image](https://user-images.githubusercontent.com/688444/48500006-8d2a0300-e818-11e8-88a3-5b2348b80372.png)

![image](https://user-images.githubusercontent.com/688444/48500020-95823e00-e818-11e8-89c5-5b4a900d1025.png)

[2018-11-14 17:23] neiker commented on #290
I just update from v6.4.0 to v8.0.8, it's broken and its really hard to know where start to looking for solutions

https://github.com/react-native-community/react-native-svg/compare/v6.4.0...v8.0.7

[2018-11-15 05:44] msand commented on #290
@neiker The commit messages have summaries of the changes, haven't had time to write release notes yet. What kind of issues do you have? Any description/replication?

[2018-11-15 06:04] msand commented on #841
@lachtos Ah, thanks for reporting this. Forgot to test that while implementing it.
If you have time to look at this, then these are the relevant parts of the code:

Android: 26 lines of code https://github.com/react-native-community/react-native-svg/blob/38310677e3daafd57db622d236fea296d5c8f930/android/src/main/java/com/horcrux/svg/TSpanView.java#L862-L868

iOS: 33 lines of code https://github.com

[2018-11-15 06:11] msand commented on #842
You can use fillOpacity and strokeOpacity for now. Or fix the type definition. Could add it to: https://github.com/react-native-community/react-native-svg/blob/72a53f373028e4c1d89286c1e6c93c7a229ebc90/index.d.ts#L158
Except that it shouldn't apply to the mask element.

[2018-11-15 08:22] burivuhster commented on #258
I finally figured out this issue.
It was caused by rendering multiple svg components with map function without wrapping it.
Here is the code that caused an error:
[code]
See, the resulting bunch of Lines returned my map() mixed with other Lines in parent component. During re-render my number of ticksY changed and I guess that was the cause of a mess.

The solution was to wrap the bunch of Lines wi

[2018-11-15 11:34] hemith commented on #749
check manual linking process.
$ react-native link react-native-svg ---> sometimes done incompletely.

[2018-11-15 12:19] winghouchan commented on #842
This might not be an option in the case where SVG components are generated. For my case I'm using [SVGR](https://github.com/smooth-code/svgr) which uses [SVGO](https://github.com/svg/svgo) to optimise my SVGs.

As we can't add `opacity` to `CommonPathProps` we could add it to individual element interfaces. Although it's not ideal because of duplication it would solve this issue in the meantime.

[2018-11-15 12:42] SaeedZhiany opened #843 "Upgrade project gradle dependency to latest version"
Currently the version is `2.2.3`, is that possible to upgrade it to latest version or there are technical issues for it?

[2018-11-16 13:27] zek opened #844 "Rendering Issue"
https://avataaars.io/?hairColor=BrownDark1&clotheType=Hoodie&avatarStyle=Circle

Trying to use this in RN but I got just black circle and rectangle

[code]

[2018-11-16 13:47] zek commented on #844
I changed

[code]

into

[code]

now All I get is a gray round. What are the tricks to make this compatible with that library?

[2018-11-16 23:33] dmorr041 opened #845 "onPress not working for top quartile of a circle SVG - Android"
"react": "16.6.0-alpha.8af6728",
"react-native": "0.57.4",
"react-native-svg": "^8.0.8"
Using several Android Emulators for testing

So I have an event handler hooked up to a Circle component nested inside an Svg Component, and the handler is supposed to set the state of a light arc that fills a percentage of a Path component nested within  the same Svg component. When clicking anywhere from 0%-39

[2018-11-17 01:58] msand commented on #844
Seems this exposes quite a few bugs in both implementations.
This works a bit at least, though still very buggy: https://snack.expo.io/@msand/Y291cm
Used https://svgr.now.sh/ and then did a search & replace from "xlinkHref" to "href" and removed the url() wrapping the id in the mask attributes.

[2018-11-17 02:06] msand commented on #843
Oh, I had missed that v0.57.0 bumps it to v3.1.4, can probably change to that.

[2018-11-17 02:41] msand commented on #844
Actually, it seems android renders correctly, it's the conversion which breaks it, or at least chrome renders the same when used with svgs: https://codesandbox.io/s/0k078q4yl
[code]

[2018-11-17 02:48] zek commented on #844
The code I shared works perfectly actually

https://codesandbox.io/s/ov5y2xo75

[2018-11-17 03:29] msand commented on #844
@zek This seems to work on android at least: https://snack.expo.io/@msand/c3B1bm

[code]

[2018-11-17 03:31] msand commented on #844
Seems the fill values aren't inherited from the Mask element, once I inlined the fill values into the elements inside the Masks it worked.

[2018-11-17 03:34] zek commented on #844
Wow @msand thank you works perfect on Android but what about iOS?

[2018-11-17 03:35] msand commented on #844
Not sure, can you try changing the fill in the masks I changed from white to black? it might fix it, if it does then i think i know where to look.

[2018-11-17 03:44] zek commented on #844
It was <Svg width="264px" height="280px" viewBox="0 0 264 280">
I deleted px and works perfect. Thank you 🙏

[2018-11-17 03:47] msand commented on #844
Yeah, just noticed the same. Great!

[2018-11-17 03:50] msand commented on #844
So, two bugs to fix:
- [ ] handle svg root width/height attribute strings containing px on iOS
- [ ] inherit fill/stroke attributes from Mask elements

[2018-11-17 04:47] zek commented on #844
OK I just started making avataaars library compatible with RN-svg so
1. Adding these into Mask element
[code]
2. Being sure Path element has fill="white"

But I guess there is one more detail I should do. The mouth is not same.

https://snack.expo.io/Bk9Y3Maa7

https://avataaars.io/?hairColor=BrownDark1&clotheType=Hoodie&avatarStyle=Circle&mouthType=Smile&skinColor=Light&topType=LongHairStraight&c

[2018-11-17 06:29] msand commented on #845
This seems to work: https://snack.expo.io/@msand/cnVkZS

[code]

[2018-11-17 12:35] SaeedZhiany opened #846 "change "compile" to "implementation""
When link library to project using `react-native link`, in build.gradle file it adds `compile project(':react-native-svg')` it's better to change linker to add `implementation project(':react-native-svg')`

[2018-11-17 15:43] msand commented on #846
This issue probably belongs in the react-native repo, but the issue has already been fixed and the patch will be included in react-native v0.58:
https://github.com/facebook/react-native/commit/4dfdec9b28074b311ffd75084d9d2a3cbd41a800#diff-409fd490b233c234fcd355cf00a9a0dc
You can ask them to cherry pick it for the next 0.57 release if they're planning any more of those.

[2018-11-17 15:57] msand commented on #831
You might get some inspiration from this as well: https://github.com/react-native-community/react-native-svg/issues/845#issuecomment-439592694

[2018-11-18 09:07] DavidKk commented on #839
I'm having the same issue with:

- React-Native-Svg: 8.0.8
- React-Native: 0.57.1
- React: 16.5.0

[2018-11-18 17:56] FibreFoX commented on #830
This issue should get closed, as this is not the fault of this RN module, but the project-setup of the using app-project.

[2018-11-18 22:47] kristerkari commented on #844
I reported some React Native svg rendering bugs to `svgr`'s repo, and now I realize that the same bugs (width and height with px, xlink:href) are mentioned in this issue. :)

For more info:
https://github.com/smooth-code/svgr/issues/234

[2018-11-19 05:20] DavidKk commented on #839
[code]
it works

[2018-11-19 06:33] kristerkari commented on #844
I also tested the output from svgr directly as a React component, and the same error is thrown.

[code]

[2018-11-19 10:32] winghouchan commented on #842
I've opened #847 with this fix so you can review it.

[2018-11-19 10:32] winghouchan commented on #842
@msand: I've opened #847 with this fix so you can review it.

[2018-11-19 10:41] riglar commented on #815
@msand, my implemented solution doesn't work in 8.0.8.

Would you expected that? Or has something gone wrong.

[2018-11-19 11:35] HighSoftWare96 commented on #445
@maxkomarychev the onLayout callback gives the current position or just the initial position of the element? I have to know the last position of the element...

[2018-11-19 11:48] tobq commented on #117
Still unimplemented

[2018-11-19 15:40] msand commented on #815
Hmm, i would expect it work, or don't know of any related changes at least

[2018-11-19 15:56] dmorr041 commented on #845
Fixed, it was a simple space and extra character somewhere.

[2018-11-19 15:56] #845 closed

[2018-11-19 18:30] yanush commented on #734
but if the font you are using is not mono-space then every char has a different width

[2018-11-20 01:35] albullington opened #848 "Removed child count (0) was not what we expected (1)"
I'm getting the following error on iOS only (specifically an iPhone SE running iOS 12) while rendering an area chart with a line and a gradient in React Native. I've been able to isolate the issue down to the `<Line />` component which renders a `<Path />`, but I'm not sure how to stop the error from popping up each time I render the chart.

I also tested on Android, and there are no errors there.

[2018-11-20 06:59] yanush opened #849 "text strokeWidth - outer instead of inner"
The current behaviour of stroke of texts is an inner stroke.
Is it possible to draw the stroke outside of the text?

[2018-11-20 09:56] KingDragonRao commented on #691
I had add a dynamic key  but doesn't work...

[2018-11-20 21:39] springroll12 commented on #848
@albullington I am experiencing nearly the same issue. I also have an area graph with a line and a gradient, as well as some decorators. My areachart looks nearly identical to the one posted above.

I've noticed that the initial render of the areachart works, but when you try to redraw it with a different x/y axis (i.e. change the number of child elements to X/YAxis), that's when the crash occurs.

[2018-11-20 22:26] rarenatoe opened #850 "SVG not being rendered correctly"
This is the svg file in question. I have removed whitespaces and compressed it as suggested in other threads/forums:
`<?xml version="1.0" encoding="UTF-8"?><svg width="20px" height="27px" viewBox="0 0 20 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><polygon id="path-1" points="0 0 16 0 16 23 7.82151442 14.698999 0 23"></polygon><filter x="-2

[2018-11-20 22:55] renato-bvdash commented on #850
While investigating, it seems like the property xlink not being supported might be what's causing the issue.
Does anyone know how I could transform this?

[2018-11-21 09:54] msand commented on #849
Hmm, what do you mean? Can you show an example using plain svg?

[2018-11-21 11:12] yanush commented on #849
I want the stroke to be drawn outside of the font and not inside of it
Otherwise I need to use super extra bold fonts, because the stroke shrinks them

[2018-11-21 16:36] rogerbright opened #852 "Can't style Text on Android"
This example from https://github.com/react-native-community/react-native-svg:

Text
The element is used to define text.

    <Svg
    height="60"
    width="200"

    <Text
        fill="none"
        stroke="purple"
        fontSize="20"
        fontWeight="bold"
        x="100"
        y="20"
        textAnchor="middle"

    </Svg>

When I run this on Android, I get plain text with none of the p

[2018-11-21 18:10] #852 closed

[2018-11-21 18:49] kristerkari commented on #850
I tried the image with the [React Native SVG transformer](https://github.com/kristerkari/react-native-svg-transformer) that I have created, and the image renders correctly for me. I don't think that the bug is is in this library, so probably `react-native-svg-uri` has a bug.

[2018-11-21 20:15] alburdette619 opened #853 "Android dynamic rendering not updating"
I am using react-native-svg-charts and I am seeing new behavior since updating this library. Suddenly when rendering children of the overall SVG component dynamically, they do not update regularly on Android though they do have predictable results.

For instance, with new props they will redraw, but if they are replaced with null or another invisible element with the same key they will not.  The o

[2018-11-22 01:15] Braveleon opened #854 "'path' tag compatibility issue"
When the circle drawn by the 'path' tag is shaken, there is a frame drop on the iphoneX, which is normal on the iphpne6s.

[2018-11-22 20:40] claudioviola commented on #473
Same issue here. I fixed but looks like a workaround...

I tried to add panResponder. panHandlers to SVG parent node and it works... but honestly I don't know if there is something of counterproductive...

[2018-11-22 21:42] flogy commented on #713
I have this issue on a Samsung Galaxy S7 edge (SM-G935F) running Android 8.0.0 as well... Duration between onPressIn and onPressOut is between 10ms and 30ms most times...

[2018-11-23 09:03] msageryd opened #855 "toDataURL() enlarges image three times"
It seems that toDataURL scales up the png image tree times. The following code should give a 100x100px image file, shouldn't it? I get a 300x300px file.

If this is by design, I'll go ahead and compensate for it. But if it's a bug that will be fixed eventually my compensation will lead to downscaled images when it's fixed.

[code]

[2018-11-23 09:40] barjas commented on #749
react-native link is missing the last step. it is not adding "`new SvgPackage()`"

Open up `android/app/src/main/java/[...]/MainApplication.java
**Add new SvgPackage() to the list returned by the getPackages() method. Add a comma to the previous item if there's already something there.**

i think this is a bug and need to be fixed.

[2018-11-23 09:41] barjas commented on #834
react-native link is missing the last step. it is not adding "new SvgPackage()"

Open up `android/app/src/main/java/[...]/MainApplication.java
Add new SvgPackage() to the list returned by the getPackages() method. Add a comma to the previous item if there's already something there.

this is a bug and need to be fixed.

[2018-11-25 00:56] leo-tavares opened #856 "Crash app only Release"
### Description

The app work fine in debug-mode, but i generate a release apk and now work. O apk crash logo quando inicia

### problem reproduction

1. Create new react-native project ( with init)
1. Follow setp by setp [react-native-svg](https://github.com/react-native-community/react-native-svg#automatic)
1. follow the [generate-apk](https://facebook.github.io/react-native/docs/signed-apk-andr

[2018-11-26 12:01] yanush commented on #622
I have the same issue but with the letters "ae"
Is there a fix for that? letterSpacing is not working for me

[2018-11-26 16:00] jsamr opened #857 "Specify rotate transform origin with native driver"
I have followed your example in a previous post and managed to have a very smooth, native animation with this rotating snippet. The only big issue is I don't see how I can specify pivot point for this rotation, which should be at `25` `25`. I can do it with a listener + `setNativeProps` + `extractTransform`, but I lose the native advantage.

[code]

[2018-11-26 23:27] wokkaflokka opened #858 "[Android] Project Integration Should Use Normal Gradle Dependencies"
According to the README, the way to integrate this project for Android is to define a target in `settings.gradle` that links to the underlying source in the `node_modules`. While this approach works, there are alternatives that may prove simpler and more canonical. In my opinion, the ideal integration for this project would follow the pattern set forth by `react-native`, allowing Android projects

[2018-11-27 00:31] rpweb commented on #608
thanks guys, works perfectly

[2018-11-27 00:57] rpweb commented on #608
Thanks guys, works perfectly for me.

[2018-11-27 08:31] zhangwen9229 commented on #749
![image](https://user-images.githubusercontent.com/5137377/49068366-7eecd580-f261-11e8-8eef-ffb494b230d0.png)
![image](https://user-images.githubusercontent.com/5137377/49068508-e145d600-f261-11e8-9dfd-8427f657b52e.png)

I had added new SvgPackage() .Also has error.  Any other solution,please.

[2018-11-27 08:33] zhangwen9229 commented on #749
Android， I had added new SvgPackage(),same error. Some solution？

IOS is ok.

[2018-11-27 12:53] msageryd commented on #850
For what it's worth, I ran your SVG through svgo and got an equal image, half the file size and with simpler SVG code. All the SVGs I import into my app goes through svgo. I've found that I get smaller SVG files with less problems. I actually run them twice through svgo. It seems that some optimization possibilities are not identified at the first run.

Your SVG after svgo
[code]

Here are the par

[2018-11-27 13:57] renato-bvdash commented on #850
thank you for your help. that narrows it to react-native-svg-uri.

On Tue, Nov 27, 2018, 07:53 Michael Sageryd <notifications@github.com wrote:

[2018-11-27 17:01] alburdette619 commented on #592
The work around for this is now causing unwanted side effects for me.  Changing to `onPressIn` worked great, but now I have to wrap things in a `ScrollView` which is fine, but when scrolling from a touch point, the point activates immediately and doesn't seem to be able to be altered by gesture functions (could be wrong about this last point).

[2018-11-28 17:17] alburdette619 commented on #516
Been quite a while and I'm seeing this with my paths.  I am also using react-native-navigation now at `^2.18.2`.  Specifically I'm using react-native-svg-charts and have implemented muti line charts.  It only seems to affect those.  You can see the PR file in question here: https://github.com/JesperLekland/react-native-svg-charts/pull/240/files

Specifically `/src/chart/chart-grouped.js`

[2018-11-29 01:56] giacomocerquone commented on #580
Ok I'm tracking down this problem since it doesn't let the onpress handler of the piechart from react-native-charts lib works.

Basically if you specify x and y of a G tag the onpress handler of the single paths will not work.

here the snack: https://snack.expo.io/@giacomocerquone/react-native-animated-graph

[2018-11-29 14:19] MrLoh commented on #516
This doesn't seem to happen for me anymore. But much in my setup has changed.

• iOS 12.1
• react-native: 0.55.4
• react-navigation: 2.2.5
• react-native-svg: 6.2.1

[2018-11-30 07:10] JNUfeatherwit commented on #806
i have the same problem sometimes,but after reloading the react native app the crash will disappear .I don't know Why?

[2018-11-30 07:16] jsamr commented on #857
@msand Perhaps you have some insight ?

[2018-11-30 08:17] msageryd commented on #855
I tried to follow the code in the hope to find any clues. But I found nothing. Does anyone know where to look for this odd behaviour?

Since the enlargement is exactly 3 times in both width and height I thought I'd find anything related to RGB. I don't know anything of the PNG format, but I suppose an RGB file is 3 times larger than a B/W file (not taking compression differences into account). Cou

[2018-11-30 21:09] Galamon5 commented on #258
Weird, I'm using a chart library that use svg library, the thing that I've tried was change a state when a event happen and that state is used for build the chart soo looks like an animated chart, so the weird thing is  when I did that this error appears me but I just dismiss it and, like magic, my app works property, but the error is annoying and I think that in production it will close the app.

[2018-11-30 21:13] sinewave440hz commented on #821
This is causing me problems too. Here is an example - apologies if it seems complex but it's a fairly slippery issue to repro and I've actually simplified my code a lot in order to show this. I have a fully working project available on request. My code may not be perfect, but what works in iOS 11.4 does not in 12.1. First a video showing the problem as I experience it:
![ezgif com-video-to-gif-3](

[2018-11-30 22:47] ulvestad commented on #848
I am experiencing this as well. Using react-native-chart-kit and react-native-svg to render some linecharts. When I try to update data, this error occurs.

[2018-12-01 15:03] Rybis opened #861 "How to detect an error in a compiled application? (Android Studio 3+)"
Is it possible in android studio to see the system or non-system log if the device is not with me? That is, if I could connect to it via usb, then everything would be simple, but we do not have such an opportunity. At the moment I was getting along with the try {} catch {} construct, but now I ran into a problem that I can’t detect an error in the code, although I’ve put it on everywhere like try

[2018-12-01 15:06] #861 closed

[2018-12-01 17:52] serhiipalash commented on #150
@msand thank you for your work!
Do you have any estimate when `filters` branch will be merged in `master`?

[2018-12-02 08:16] Taimoormk opened #862 "Text wrapping within a bounding box or `Rect`"
I understand SVG's don't natively support text wrapping but would like to see if there is any support provided within this library, as I have created a small piece of code to demonstrate the issue I am getting.

Ideally, I would like my text to wrap naturally within the bounding box like we have `p` tag within a `div` container.
Following is the React Native code I am using;

[code]

![simulator s

[2018-12-02 12:36] msand commented on #862
I started work on the text layout algoritm from svg 2.0 long ago, but never got around to finishing it. If you want multiline text, you either have to do it manually using text/tspan elements and the x and y attributes, or, wrap the svg in a view, and position react native text elements absolutely positioned where you want them.
Or, help out implementing the layout: https://github.com/react-native

[2018-12-02 12:56] stephenkopylov opened #863 "Unnecessary retention and copying of CGPath, leading to memory leak. iOs"
Hello, guys, and thank you for your amazing library!

So, I found this construction in `RNSVGRenderable.m` that leads to memory leak:

[code]
![screenshot 2018-12-02 at 2 51 39 pm](https://user-images.githubusercontent.com/5202281/49339967-2bec9700-f642-11e8-81db-7a8089beb012.png)

Why do we need extra call of CGPathCreateCopy, CGPathRetain and CFAutorelease, when we already use CGPathRelease late

[2018-12-02 16:40] stephenkopylov commented on #863
The problem is more complicated than I thought, so am closing the PR

[2018-12-03 12:27] Danny-weebo opened #865 "App crashes when adding mask prop to Circle"
Hey, I'm trying to 'copy' this
https://codepen.io/dannyb9737/pen/jQJZWO

I tried also to reproduce it in the sandbox -
https://snack.expo.io/Bk-s-2MyN
but seems like the Component `Mask` is undefined :(

to work into react-native, but the app keep crashing only after I'm adding the `mask` prop in the `Circle` component, here is my code (mixing it with styled-component).

the idea behind all of it

[2018-12-03 15:17] Danny-weebo commented on #865
I found my answer, seems like `Mask` has requires some props like `x, y, width, height, name` that without them the app crashes.

https://github.com/react-native-community/react-native-svg/blob/master/elements/Mask.js#L38

[2018-12-03 15:17] #865 closed

[2018-12-04 00:47] msand commented on #150
Thanks! Well, should probably implement it for android as well before merging, otherwise there will be redundant questions. You can already use it for iOS by depending on a specific commit or this branch. Publishing to npm doesn't really change anything, as there's no compile step involved with publishing, it just copies a subset of the files to npm and tags it with a version number. Commits are a

[2018-12-04 16:29] smddzcy commented on #119
Bump: Is this still not supported?

[2018-12-04 16:49] msand commented on #119
@smddzcy should work, requires setting x, y, width and height on mask, but otherwise should be fine
https://github.com/react-native-community/react-native-svg/blob/master/README.md#mask

[2018-12-04 16:49] #119 closed

[2018-12-04 21:41] alburdette619 commented on #853
@msand sorry to tag you, but I cannot make this happen.  I came back to it trying to again set some dynamic keys.  I am seeing that the children are in the tree properly every time, but sometimes they stay when they shouldn't and don't show when they should.  Also having weird issues like this on paths where they just disappear.  I think I'm treading into some other issues, but I don't see a worka

[2018-12-05 02:40] iamdurui commented on #806
@janicduplessis  And my react native version is 0.56.0, if I upgrade the version from my current version to 0.57.4, I can solve this bug(ReadableNativeArray cannot be cast to java.lang.Double)

[2018-12-05 09:34] davidsundstrom opened #866 "Compile error: cannot find symbol method"
Compiling my project on android throws me errors, however, it works perfectly fine for IOS.
I get 50 errors in android studios formulated similarily: error: cannot find symbol method <method n>:

<img width="1439" alt="skarmavbild 2018-12-05 kl 10 39 49" src="https://user-images.githubusercontent.com/15677791/49504687-7d7f6680-f87a-11e8-8bb6-42269137b32b.png">

and when running in terminal:
[code]

[2018-12-05 10:01] Massaxe commented on #866
+1

[2018-12-05 11:13] msand commented on #866
Seems your node_modules are corrupted. Try removing them and npm install again.

[2018-12-05 12:37] davidsundstrom commented on #866
That solved the problem! However, I got a new one. Pretty much the same. error: cannot find symbol<...>. But related to node_module "react-native-worker" instead.

<img width="734" alt="skarmavbild 2018-12-05 kl 13 35 20" src="https://user-images.githubusercontent.com/15677791/49513881-a7dd1e00-f892-11e8-99a7-b474a155fea2.png">

[code]

[2018-12-05 14:32] pascaloliv commented on #500
@winghouchan Definitely ! 👏  I'm pretty hyped by your last answer with the potential diff. Could be a great thing if you open a PR to cover the issue #500 !

[2018-12-05 14:52] niklassaers commented on #258
@Galamon5 I’m seeing the exact same error after updating to RN 0.57.7, so since we’re so close in time and get the same error down to the letter, I expect this isn’t related to react-native-svg (although I also use this module) but to our use of RN. Now on to figure out why we get it :) Just thought I’d share, though

[2018-12-06 01:01] rogueturnip commented on #258
I just did an update from 0.56 to 0.57.7 and also to RNSVG 8.0.8 and I"m getting this too in my bar and line graphs.  I've tried some of the suggestions of wrapping mapped items with <G> but still getting the same error.  Tested it with a component I have that has no maps and I still get the error.

[2018-12-06 10:41] niklassaers commented on #258
@Galamon5 I was wrong, commenting out the components that used react-native-svg made the app no longer crash. So yeah, I'm seeing the same as you when I do a state change that causes the component to re-render. The same action in production (TestFlight) causes a crash instead of red screen.

[2018-12-06 11:07] Subway19 commented on #129
Any idea to solve this? I am rendering Image from react-native-svg inside <Svg> ? The images work fine in  debug mode but doesnt work in release mode. The images are .png file

Below is the code .

[code]

[2018-12-06 20:49] rogueturnip commented on #258
I found that wrapping things with <G></G> did stop my crashes.  I had to really make sure that no component had more than one svg component inside it without being wrapped.

[2018-12-07 02:31] #842 closed

[2018-12-07 03:42] msand commented on #857
@jsamr How about something like this?
https://snack.expo.io/@msand/native-animation-rotation
[code]

[2018-12-07 07:52] jsamr commented on #857
@msand This works like a charm. Thank you so much for your involvement !

[2018-12-07 07:52] #857 closed

[2018-12-07 08:10] niklassaers commented on #848
Any good advise on this? I'm struggling with the same and it's the one issue that is keeping me from releasing an updated app. Been sprinkling G's around so that Svg only contains one element, but still no luck. Been trying out latest of commit of react-native-svg-charts and react-native-svg together, but still no luck.

[2018-12-07 13:27] zenggang97 opened #867 "JSON value "0" of type NSNumber cannot be converted to Nsstring"
I'm using version 8.0.0 of react-native-svg.
 When doing something as simple as this:
<BoxShadow setting={boxShadow}>
                   ....
</BoxShadow>
...
const boxShadow = {
    height: 49,
    color: '#000',
    border: 2,
    radius: 3,
    opacity: 0.2,
    x: 0,
    y: 3,
    style: { marginVertical: 5 },
}

in ios ,I get the following error:
JSON value "0" of type NSNumber cannot be conv

[2018-12-07 13:49] gokujy commented on #584
I am getting the same error:
Could not find method google() for arguments [] on repository container
Solve: I'm working on firebase crud and i installed angularfire2 and firebase plugin both.
So i uninstall firebase and error solved, i mean this error coming because conflict.

[2018-12-07 19:32] msand commented on #855
Try perhaps something like this:
[code]

[2018-12-07 19:49] msand commented on #855
The scaling call might actually causing another extra scaling, accounting for it in the bitmap size might be enough.

[2018-12-07 19:52] albullington commented on #848
I ended up using version of react-native-svg, 6.3.1, per @springroll12's suggestion. That stops the iOS app from crashing for me.

[2018-12-08 01:21] msand commented on #821
Can you try? https://github.com/react-native-community/react-native-svg/commit/2f513504d21a8138ac851784b3b110ccb8cceb3a
Or, if that doesn't solve it, could you please make a git repo with the needed files to run your test case?

[2018-12-08 01:22] msand commented on #794
Can you try? https://github.com/react-native-community/react-native-svg/commit/2f513504d21a8138ac851784b3b110ccb8cceb3a
It seems to have the touchable highlights in the inspector showing correctly.

[2018-12-08 03:53] msand commented on #157
Can you try this fix? (for iOS) https://github.com/react-native-community/react-native-svg/commit/2f513504d21a8138ac851784b3b110ccb8cceb3a

[2018-12-08 07:39] azizghuloum opened #868 "old version of gradle has missing dependencies"
Just today, our build started failing with the following error:
[code]
Upgrading to gradle 3.2.1 fixes the issue.
Will submit a PR soon.

[2018-12-08 10:10] Naturalclar commented on #868
Seems like `common-25.2.3.pom` and `common-25.2.3.jar` has been removed from `jcenter` repository.
https://stackoverflow.com/questions/53678786/could-not-find-com-android-toolscommon25-2-3
Adding google() as repository should fix the issue.

[2018-12-08 10:20] azizghuloum commented on #868
I've added another PR solving it differently. Whichever gets merged is fine.

[2018-12-08 10:35] ha0x7c7 commented on #868
@Naturalclar where should I put google() ?

[2018-12-08 10:41] Naturalclar commented on #868
inside the `build.gradle` file, as its done in #869

[2018-12-08 10:50] ha0x7c7 commented on #868
@Naturalclar If I uninstall and reinstall this package, this will be solved?

[2018-12-08 11:09] Naturalclar commented on #868
@ha0x7c7 reinstalling the package won't solve the problem yet, as the PR is not merged yet.
@azizghuloum Thank you! It's probably best to merge the two, since the google() repository will be needed for the newer version of gradle plugin
https://developer.android.com/studio/releases/gradle-plugin

[2018-12-08 11:13] azizghuloum commented on #868
@Naturalclar yes, I was going to recommend to merge the two.

[2018-12-08 17:41] rogueturnip commented on #868
When can we expect a new npm that contains this fix?

[2018-12-08 21:06] msand commented on #821
@sinewave440hz I have another attempt here: https://github.com/react-native-community/react-native-svg/commit/37f07050e4867da33b58ece871881efdb4cd1123
It seems to handle transforms correctly, and draws reasonable touchable areas in the tests I've done so far.

[2018-12-09 01:00] msand commented on #848
Seems like a workaround is to wrap the second map over the children inside a G element: https://github.com/JesperLekland/react-native-svg-charts/blob/3309d13476707477d5c06ec8f0e50b6bfa4dc129/src/chart.js#L126-L133
Also, moving the Path element to the end of the Svg element removes the error: https://github.com/JesperLekland/react-native-svg-charts/blob/3309d13476707477d5c06ec8f0e50b6bfa4dc129/src/

[2018-12-09 01:06] msand commented on #713
I think I have (gesture) interactions between native animated transforms and normal svg transforms working correctly now as well: https://github.com/react-native-community/react-native-svg/commit/8c05da043dea3f8d04420c2d7c9c11733e22258b

[2018-12-09 01:06] msand commented on #592
I think I have (gesture) interactions between native animated transforms and normal svg transforms working correctly now as well: https://github.com/react-native-community/react-native-svg/commit/8c05da043dea3f8d04420c2d7c9c11733e22258b

[2018-12-09 01:14] msand commented on #853
Can you try this change? https://github.com/JesperLekland/react-native-svg-charts/pull/280/files

[2018-12-09 01:17] msand commented on #794
I think I have (gesture) interactions between native animated transforms and normal svg transforms working correctly now as well: https://github.com/react-native-community/react-native-svg/commit/8c05da043dea3f8d04420c2d7c9c11733e22258b

[2018-12-09 01:18] msand commented on #854
?

[2018-12-09 01:18] #854 closed

[2018-12-09 01:29] #817 closed, assigned to nobody

[2018-12-09 01:32] msand commented on #689
@BeHotSiii Try with the latest react-native and react-native-svg versions.
Closing this until a reproduction is made available.

[2018-12-09 01:32] #689 closed

[2018-12-09 01:34] msand commented on #137
If you're still having performance issues, you should probably profile your code and find your bottlenecks and attempt to optimize those. There's not much to be done here without specific problematic cases. Closing...

[2018-12-09 01:34] #137 closed

[2018-12-09 01:36] msand commented on #273
@jackmew Open a new issue including a complete reproduction if you want progress on that issue. Will close this now as basic mask element support exists.

[2018-12-09 01:36] #273 closed

[2018-12-09 01:40] msand commented on #480
Closing this as viewbox works correctly.

[2018-12-09 01:40] #480 closed

[2018-12-09 01:42] msand commented on #516
Closing this until a reproduction is provided.

[2018-12-09 01:42] #516 closed

[2018-12-09 01:42] msand commented on #668
Closing this as the issue is fixed.

[2018-12-09 01:42] #668 closed

[2018-12-09 01:43] msand commented on #639
So, this is probably just linking issues, not a problem with the library, closing...

[2018-12-09 01:43] #639 closed

[2018-12-09 01:45] msand commented on #569
Closing this, as nesting svg inside svg works, and another issue is already open for foreignObject support: https://github.com/react-native-community/react-native-svg/issues/447

[2018-12-09 01:45] #569 closed

[2018-12-09 01:46] msand commented on #194
Closing this as Pattern is implemented now.

[2018-12-09 01:46] #194 closed

[2018-12-09 01:48] msand commented on #278
Closing this as the issue seems to be fixed.

[2018-12-09 01:48] #278 closed

[2018-12-09 01:48] msand commented on #649
Closing this as the cause is most likely svg elements which are much bigger than the screen.

[2018-12-09 01:48] #649 closed

[2018-12-09 01:50] msand commented on #239
This library isn't meant for reading .svg files, but for creating react components which render svg. There are other libraries which read svg files and render them using this library.

[2018-12-09 01:50] #239 closed

[2018-12-09 01:51] msand commented on #212
Closing as the original issues seems fixed.

[2018-12-09 01:51] #212 closed

[2018-12-09 01:52] msand commented on #239
https://github.com/react-native-community/react-native-svg/issues/12

[2018-12-09 01:52] #12 closed

[2018-12-09 01:53] msand commented on #748
This is probably an issue with react-native & cocoapods, not this library. Closing...

[2018-12-09 01:53] #748 closed

[2018-12-09 01:54] msand commented on #368
Seems like an old version compatibility issue. Closing...

[2018-12-09 01:54] #368 closed

[2018-12-09 01:55] msand commented on #540
Closing as this seems to be fixed/non-issue.

[2018-12-09 01:55] #540 closed

[2018-12-09 01:56] msand commented on #839
Seems like local caching issues. Closing...

[2018-12-09 01:56] #839 closed

[2018-12-09 01:57] msand commented on #653
Seems like an issue with an old version in an old expo. Closing...

[2018-12-09 01:57] #653 closed

[2018-12-09 01:57] msand commented on #161
I think I have (gesture) interactions between native animated transforms and normal svg transforms working correctly now as well: https://github.com/react-native-community/react-native-svg/commit/8c05da043dea3f8d04420c2d7c9c11733e22258b

[2018-12-09 02:13] msand commented on #106
I guess this can be closed.

[2018-12-09 02:13] #106 closed

[2018-12-09 02:13] msand commented on #77
This should work an all elements now. Closing.

[2018-12-09 02:13] #77 closed

[2018-12-09 02:14] msand commented on #114
This is probably an old issue. Closing.

[2018-12-09 02:14] #114 closed

[2018-12-09 02:14] msand commented on #143
Press handling with transforms should be working correctly now.

[2018-12-09 02:14] #143 closed

[2018-12-09 02:14] #92 closed

[2018-12-09 02:15] msand commented on #209
None as of yet. Feel free to work on it if interested.

[2018-12-09 02:15] #209 closed

[2018-12-09 02:15] msand commented on #247
Seems unrelated/old.

[2018-12-09 02:15] #247 closed

[2018-12-09 02:16] msand commented on #255
No support for shape-rendering as of yet.

[2018-12-09 02:16] #255 closed

[2018-12-09 02:16] msand commented on #285
There are other libraries available for this. Closing.

[2018-12-09 02:16] #285 closed

[2018-12-09 02:17] msand commented on #302
Seems like an old issue, closing...

[2018-12-09 02:17] #302 closed

[2018-12-09 02:18] msand commented on #291
Insufficient info, closing...

[2018-12-09 02:18] #291 closed

[2018-12-09 02:19] msand commented on #330
Sounds strange. Closing until replication / demonstration of expected behavior using other svg renderers available.

[2018-12-09 02:19] #330 closed

[2018-12-09 02:19] #307 closed

[2018-12-09 02:20] #348 closed

[2018-12-09 02:30] msand commented on #418
Press handling has been improved, and there no code/replication here to test. Closing.

[2018-12-09 02:30] #418 closed

[2018-12-09 02:30] msand commented on #434
You're probably looking for react-native-svg-uri

[2018-12-09 02:30] #434 closed

[2018-12-09 02:31] msand commented on #437
Alternatively, call toDataURL

[2018-12-09 02:31] #437 closed

[2018-12-09 02:32] #441 closed

[2018-12-09 02:33] msand commented on #451
useNativeDriver is supported now as well, you might want to rewrite to use that, can gives quite a bit better framerates.

[2018-12-09 02:33] #451 closed

[2018-12-09 02:34] msand commented on #444
Use fetch to download resources over http(s).

[2018-12-09 02:34] #444 closed

[2018-12-09 02:34] msand commented on #364
Seems like a version incompatibility. Closing...

[2018-12-09 02:34] #364 closed

[2018-12-09 02:35] msand commented on #126
Use a device with more memory available, or decrease the size of your canvas, the bytes need to be stored somewhere.

[2018-12-09 02:35] #126 closed

[2018-12-09 02:36] #326 closed

[2018-12-09 02:36] msand commented on #478
Feel free to provide a PR, closing for now.

[2018-12-09 02:36] #478 closed

[2018-12-09 02:38] msand commented on #491
Fixed in master.

[2018-12-09 02:38] #491 closed

[2018-12-09 02:52] msand commented on #395
Is this still an issue with the latest version?
This seems to work fine:

[code]

[2018-12-09 02:52] #395 closed

[2018-12-09 02:53] msand commented on #449
Can you try with the latest version?

[2018-12-09 02:54] msand commented on #526
Please provide a full replication. Closing until that's made available.

[2018-12-09 02:54] #526 closed

[2018-12-09 02:56] msand commented on #535
Closing until a replication showing how the behavior differs from other svg renderers is made available.

[2018-12-09 02:56] #535 closed

[2018-12-09 02:57] msand commented on #550
ClipPath isn't specified to work that way. Please make sure that svg supports your expected behavior in browsers first.

[2018-12-09 02:57] #550 closed

[2018-12-09 02:58] msand commented on #560
Can't really understand this. Please elaborate on what you want to achieve. Closing until then.

[2018-12-09 02:58] #560 closed

[2018-12-09 02:58] #474 closed

[2018-12-09 03:03] msand commented on #562
Closing until questions in https://github.com/react-native-community/react-native-linear-gradient/pull/255 are answered.

[2018-12-09 03:03] #562 closed

[2018-12-09 03:04] #554 closed

[2018-12-09 03:07] msand commented on #89
You can also use UIManager.measure, closing now.

[2018-12-09 03:07] #89 closed

[2018-12-09 03:08] msand commented on #734
You can use UIManager.measure or onLayout, closing.

[2018-12-09 03:08] #734 closed

[2018-12-09 03:08] msand commented on #93
Seems fixed, closing.

[2018-12-09 03:08] #93 closed

[2018-12-09 03:10] msand commented on #134
Closing because of no response.

[2018-12-09 03:10] #134 closed

[2018-12-09 03:10] #142 closed

[2018-12-09 03:11] msand commented on #157
I think this should be fixed now, closing until further notice.

[2018-12-09 03:11] #157 closed

[2018-12-09 03:11] msand commented on #161
I think this should be fixed now, closing until further notice.

[2018-12-09 03:11] #161 closed

[2018-12-09 03:12] msand commented on #176
Work on filters tracked here: https://github.com/react-native-community/react-native-svg/issues/150

[2018-12-09 03:12] #176 closed

[2018-12-09 03:12] msand commented on #161
I think this should be fixed now, closing until further notice.

[2018-12-09 03:13] msand commented on #183
Closing this until someone comes up with an idea how to implement.

[2018-12-09 03:13] #183 closed

[2018-12-09 03:15] msand commented on #198
Seems line a jest configuration issue rather than svg rendering issue. Closing.

[2018-12-09 03:15] #198 closed

[2018-12-09 03:16] msand commented on #210
I think I have (gesture) interactions between native animated transforms and normal svg transforms working correctly now as well: https://github.com/react-native-community/react-native-svg/commit/8c05da043dea3f8d04420c2d7c9c11733e22258b

[2018-12-09 03:16] #210 closed

[2018-12-09 03:18] msand commented on #592
Closing this until further notice.

[2018-12-09 03:18] #592 closed

[2018-12-09 03:32] msand commented on #600
@henricazottes I haven't had any time to look at this. Feel free to work on it. A simpler workaround might be to implement another method on the Text elements, which gets the sum of advances of all the anchored text inside the sub-tree, and using that value to shift the text. Should be much more straightforward than implementing the entire svg 2.0 text layout algorithm.

[2018-12-09 03:33] msand commented on #529
Closing this because of inactivity.

[2018-12-09 03:33] #529 closed

[2018-12-09 03:35] msand commented on #494
Haven't seen this issue myself, and there's no response nor replication. Closing.

[2018-12-09 03:35] #494 closed

[2018-12-09 03:35] #469 closed

[2018-12-09 03:36] #453 closed

[2018-12-09 03:36] #335 closed

[2018-12-09 03:37] #468 closed

[2018-12-09 03:38] msand commented on #292
Closing because of no response.

[2018-12-09 03:38] #292 closed

[2018-12-09 03:38] msand commented on #607
I think this is probably fixed now, The parser had an issue which has been fixed some time ago.

[2018-12-09 03:38] #607 closed

[2018-12-09 03:40] msand commented on #597
Is this still an issue?

[2018-12-09 03:40] msand commented on #614
Unrelated to this library.

[2018-12-09 03:40] #614 closed

[2018-12-09 03:41] msand commented on #537
Please provide a full repo as a reproduction. Closing until then.

[2018-12-09 03:41] #537 closed

[2018-12-09 03:42] #616 closed

[2018-12-09 03:43] #617 closed

[2018-12-09 03:43] #623 closed

[2018-12-09 03:43] msand commented on #461
@pedromrb Please feel free to work on it if you have a need for it.

[2018-12-09 03:46] msand commented on #633
Works in the master branch at least.

[2018-12-09 03:46] #633 closed

[2018-12-09 03:47] msand commented on #615
Please provide a full replication. Closing until then.

[2018-12-09 03:47] #615 closed

[2018-12-09 03:48] msand commented on #635
Work on filters tracked here: #150

[2018-12-09 03:48] #635 closed

[2018-12-09 03:48] #637 closed

[2018-12-09 03:48] msand commented on #644
Not related to this library.

[2018-12-09 03:48] #644 closed

[2018-12-09 03:49] msand commented on #624
Press handling has been improved a lot. Please try with the latest commit from the master branch. Closing until further notice.

[2018-12-09 03:49] #624 closed

[2018-12-09 03:50] #642 closed

[2018-12-09 03:50] #631 closed

[2018-12-09 03:51] #655 closed

[2018-12-09 03:52] msand commented on #611
Can you provide a full replication? Closing until that.

[2018-12-09 03:52] #611 closed

[2018-12-09 03:52] msand commented on #657
Take a look at: https://github.com/JesperLekland/react-native-svg-charts/

[2018-12-09 03:52] #657 closed

[2018-12-09 03:55] msand commented on #667
Please feel free to provide a PR to change this. Not sure why this would've changed.

[2018-12-09 03:55] msand commented on #670
This change has already been made, closing.

[2018-12-09 03:55] #670 closed

[2018-12-09 03:57] msand commented on #673
You can use ColorMatrix to achieve this: https://github.com/react-native-community/react-native-svg/issues/150#issuecomment-433770734

[2018-12-09 03:57] #673 closed

[2018-12-09 03:58] msand commented on #676
You can position the svg absolutely on top of the content, until we have foreignObject support: https://github.com/react-native-community/react-native-svg/issues/447

[2018-12-09 03:58] #676 closed

[2018-12-09 03:59] msand commented on #686
Please provide a full replication. Closing until then.

[2018-12-09 03:59] #686 closed

[2018-12-09 04:03] msand commented on #694
Render both elements (icon and placeholder), add onLayout to the svg element, (add to state and) set hidePlaceholder to true, and only render the icon when this is the case.

[2018-12-09 04:03] #694 closed

[2018-12-09 04:04] msand commented on #337
This seems to work fine now.

[2018-12-09 04:04] #337 closed

[2018-12-09 04:05] msand commented on #313
Please try with the latest version, or provide a full replication. Closing until then.

[2018-12-09 04:05] #313 closed

[2018-12-09 04:05] msand commented on #671
Linking issue, not issue with the library.

[2018-12-09 04:05] #671 closed

[2018-12-09 04:06] msand commented on #281
Please provide a full replication. Closing until then.

[2018-12-09 04:06] #281 closed

[2018-12-09 04:07] msand commented on #702
Please provide a full replication. Closing until then.

[2018-12-09 04:07] #702 closed

[2018-12-09 04:08] msand commented on #683
Is this still an issue with the latest version? In that case, please provide a full replication.

[2018-12-09 04:08] #683 closed

[2018-12-09 04:08] msand commented on #680
This should be fixed now and works without using key.

[2018-12-09 04:08] #680 closed

[2018-12-09 04:09] msand commented on #715
Seems unrelated to this library.

[2018-12-09 04:09] #715 closed

[2018-12-09 04:09] msand commented on #708
Changing width and height works correctly now. Closing.

[2018-12-09 04:09] #708 closed

[2018-12-09 04:10] msand commented on #675
Please provide a full replication.

[2018-12-09 04:10] #675 closed

[2018-12-09 04:10] msand commented on #712
You can also use react-native style transforms to do animated rotations. Closing now.

[2018-12-09 04:10] #712 closed

[2018-12-09 04:11] #692 closed

[2018-12-09 04:12] msand commented on #721
Can't understand/interpret this. Please elaborate if you want help.

[2018-12-09 04:12] #721 closed

[2018-12-09 04:14] #717 closed

[2018-12-09 04:14] #719 closed

[2018-12-09 04:15] msand commented on #726
You can use fetch to download resources, and use setState to change what is rendered when.

[2018-12-09 04:15] #726 closed

[2018-12-09 04:17] msand commented on #725
Closing because of inactivity.

[2018-12-09 04:17] #725 closed

[2018-12-09 04:18] msand commented on #666
You can use onLayout to get the dimensions, or UIManager.measure

[2018-12-09 04:18] #666 closed

[2018-12-09 04:18] msand commented on #735
Please provide a full replication.

[2018-12-09 04:18] #735 closed

[2018-12-09 04:19] msand commented on #745
This makes no sense. yarn is completely unrelated. There's no such thing as SVG color, and there are no css selectors in react-native.

[2018-12-09 04:19] #745 closed

[2018-12-09 04:19] #747 closed

[2018-12-09 04:20] msand commented on #751
@paulbx81  Feel free to work on this.

[2018-12-09 04:20] msand commented on #329
Closing because of inactivity.

[2018-12-09 04:20] #329 closed

[2018-12-09 04:22] #731 closed, assigned to nobody

[2018-12-09 04:29] msand commented on #482
Closing because of inactivity.

[2018-12-09 04:29] #482 closed

[2018-12-09 04:30] msand commented on #264
Closing because of inactivity.

[2018-12-09 04:30] #264 closed

[2018-12-09 04:30] msand commented on #503
Closing because of inactivity.

[2018-12-09 04:30] #503 closed

[2018-12-09 04:30] msand commented on #433
Closing because of inactivity.

[2018-12-09 04:30] #433 closed

[2018-12-09 04:31] msand commented on #376
Closing because of inactivity.

[2018-12-09 04:31] #376 closed

[2018-12-09 04:31] #793 closed

[2018-12-09 04:31] #440 closed

[2018-12-09 04:33] msand commented on #798
Please provide a full replication. This works fine in a clean project and the issue is probably unrelated to this library.

[2018-12-09 04:33] #798 closed

[2018-12-09 04:34] #697 closed

[2018-12-09 04:34] #714 closed

[2018-12-09 04:35] msand commented on #669
Please provide a full replication. Closing until then.

[2018-12-09 04:35] #669 closed

[2018-12-09 04:36] msand commented on #812
@Almouro  Is this issue still occuring?

[2018-12-09 04:36] msand commented on #811
Closing until a full replication is provided.

[2018-12-09 04:36] #811 closed

[2018-12-09 04:36] #814 closed

[2018-12-09 04:36] #783 closed

[2018-12-09 04:37] msand commented on #454
Please provide a full replication, closing until then.

[2018-12-09 04:37] #454 closed

[2018-12-09 04:38] msand commented on #464
Seems to work fine, please provide a full replication. Closing until then.

[2018-12-09 04:38] #464 closed

[2018-12-09 04:38] msand commented on #819
Please provide a full replication. Closing until then.

[2018-12-09 04:38] #819 closed

[2018-12-09 04:39] #796 closed

[2018-12-09 04:41] msand commented on #789
Is this still an issue?

[2018-12-09 04:41] #823 closed

[2018-12-09 04:42] msand commented on #785
Please provide a full replication. Closing until then.

[2018-12-09 04:42] #785 closed

[2018-12-09 04:42] #820 closed

[2018-12-09 04:43] msand commented on #828
Closing because of inactivity.

[2018-12-09 04:43] #828 closed

[2018-12-09 04:44] #775 closed

[2018-12-09 04:44] msand commented on #325
Fixed in #704

[2018-12-09 04:44] #325 closed

[2018-12-09 04:45] #843 closed

[2018-12-09 04:46] #846 closed

[2018-12-09 04:46] #830 closed

[2018-12-09 04:48] msand commented on #445
@HighSoftWare96  It gives the most recently reported size, communication over the bridge is async, so if you're animating it might already have changed. Otherwise it should stay up to date for each re-render.

[2018-12-09 04:48] #445 closed

[2018-12-09 04:49] msand commented on #691
Please provide a full replication. Closing until then.

[2018-12-09 04:49] #691 closed

[2018-12-09 04:51] msand commented on #473
Is this still an issue? Can you provide a full reproduction?

[2018-12-09 04:52] msand commented on #856
Please provide a full replication. Closing until then.

[2018-12-09 04:52] #856 closed

[2018-12-09 04:52] msand commented on #622
Is this still an issue? Can you provide a full replication?

[2018-12-09 04:54] msand commented on #858
If you can make a PR and show an example of how this simplifies things then we can surely consider it. Are there any other react-native modules using this pattern?

[2018-12-09 04:55] msand commented on #749
These are issues with react-native link, please post them in the RN repo.

[2018-12-09 04:55] #749 closed

[2018-12-09 04:56] msand commented on #862
You can also use onLayout or UIManager.measure to get the width and height of the text.

[2018-12-09 04:56] #862 closed

[2018-12-09 04:57] msand commented on #863
@stephenkopylov What was the complication you found? Not sure I remember all the related issues to this. Think there's something with press/gesture handling related to it.

[2018-12-09 04:59] msand commented on #866
Not sure what would cause that, but unrelated to this library at least. Closing for now.

[2018-12-09 04:59] #866 closed

[2018-12-09 05:00] msand commented on #500
@winghouchan Sounds good, looking forward to your PR 😄

[2018-12-09 05:02] msand commented on #258
This might be of interest to you: https://github.com/react-native-community/react-native-svg/issues/848#issuecomment-445501856

[2018-12-09 05:03] msand commented on #867
Can you provide a full replication?

[2018-12-09 05:07] msand commented on #599
@mchen37  Can you provide a full replication?

[2018-12-09 05:09] msand commented on #117
@tobq (and everyone else) Feel free to work on this

[2018-12-09 05:19] #868 closed

[2018-12-09 05:30] #759 closed

[2018-12-09 05:33] msand commented on #753
@neoziro How is progress / your current thinking on this?

[2018-12-09 05:36] msand commented on #768
Seems to work fine on ios for me. Can you please provide a full reproduction? Or verify that it works with the latest versions of react-native and react-native-svg? Closing for now.

[2018-12-09 05:36] #768 closed

[2018-12-09 05:58] msand commented on #551
Seems to work fine: https://snack.expo.io/@msand/eager-bubblegum

[2018-12-09 05:58] #551 closed

[2018-12-09 06:06] #850 closed, assigned to nobody

[2018-12-09 06:10] #601 closed

[2018-12-09 06:11] msand commented on #599
I think this is fixed in the latest version. Please reopen if you still have issues.

[2018-12-09 06:11] #599 closed

[2018-12-09 06:38] Bindernews commented on #789
It was fixed for me a while ago, although apparently I forgot to mention it. Derp. If it's fixed for @GetSource1234 then I think it can be closed.

[2018-12-09 10:07] jalalaghazadeh commented on #364
updating my `"react-native-svg"` version to currently latest version `8.0.9` works for me!

[2018-12-09 11:07] sinewave440hz commented on #821
Seeing changes...but there are still issues. I changed the gesture handling to just read up/down motion on each circular slider. Again, it works fine in iOS 11.4 but is pretty messed up on 12.1 still. At the moment, the motion is read correctly, but affects another circular slider than the one being dragged, creating a bit of a whack-a-mole effect overall :) Here is the project that I've culled fr

[2018-12-09 11:09] sinewave440hz commented on #821
Looking at your example, I see that there are a few things I'm doing differently. I will try and apply those to my case where appropriate and see if things improve.

[2018-12-09 11:18] GetSource1234 commented on #789
Well, I use the same workaround as @Bindernews -> wrap elements within <G>. BTW, just verified within v. 8.0.9 and still getting an issue (env. iphone 6, 12.1 ). One more thing, form me issue occurs within  AreaChart:

issue
[code]

works fine
[code]

[2018-12-09 15:10] FibreFoX commented on #867
Hm, that reminds me of problems I had in one of my projects, where we reverted to pre-8 version too. If I recall correctly this code did reproduce this on iOS while working on android:
[code]

[2018-12-09 22:49] neoziro commented on #753
@msand In finally decided to use the internal method. SVGR now exposes a synchronous method, not yet a Babel plugin, but it is technically possible to implement one.

[2018-12-10 00:02] msand commented on #821
@sinewave440hz seems the workaround found by @folofse works: https://github.com/react-native-community/react-native-svg/issues/794#issuecomment-436575946
Also reported on the react-native repo: https://github.com/facebook/react-native/issues/21996
And https://github.com/react-navigation/react-navigation/issues/5007
It boils down to adding a overflow: hidden to the wrapping view, made a pr here: ht

[2018-12-10 00:29] msand commented on #821
@kay-is I tried moving the panResponder in your example to a wrapping view, seems like a functional workaround for now:
[code]

[2018-12-10 01:05] msand commented on #821
@kay-is If you only want it to respond if you click the actual circle, you can check that the distance is within the radius like this:

[code]

I know it's a hack, a would be great to find the actual cause for these issues. Do you have any known versions of react-native, react-native-svg and ios simulator where it works correctly?

[2018-12-10 01:44] msand commented on #821
@kay-is seems like it's enough to move the panHandlers to the svg root element. I wonder if it's just because of the changing position / matrix of the G element which contains the circle, perhaps when the properties are invalidated, but gesture events keep coming, it fails to do the hitTesting / inverse transformations and thus gives nonsensical locations in the gesture events.

[2018-12-10 02:17] msand commented on #449
This seems to work fine in the latest expo: https://snack.expo.io/@msand/dW5uYW

[2018-12-10 02:17] #449 closed

[2018-12-10 02:41] msand commented on #363
This seems to work correctly on both iOS and Android with the latest version. Closing.

[2018-12-10 02:41] #363 closed

[2018-12-10 02:52] msand commented on #867
@FibreFoX That seems to work fine for me in both android and ios. Closing this until a reproduction is available.

[2018-12-10 02:52] #867 closed

[2018-12-10 02:54] msand commented on #863
Is this even causing any memory leaks? At least when I animate svg content the memory seems to stay flat, similarly if a svg element is rendered and removed based on a flag. Can probably close this, unless an actual memory leak as been found. Please comment if that is the case.

[2018-12-10 02:54] #863 closed

[2018-12-10 03:00] msand commented on #473
This seems to work correctly in the latest version, please comment if that's not the case.

[2018-12-10 03:00] #473 closed

[2018-12-10 03:36] #827 closed

[2018-12-10 03:39] #667 closed

[2018-12-10 04:44] msand commented on #606
Is this still an issue? Please comment or reopen if so.

[2018-12-10 04:44] #606 closed

[2018-12-10 04:48] msand commented on #812
I would assume this is fixed since removing the shadow nodes. Otherwise, we can probably introduce a null check or try to isolate the issue better. Please comment or reopen if you still observe exceptions with the latest version.

[2018-12-10 04:48] #812 closed

[2018-12-10 04:53] msand commented on #713
@flogy Please open another issue for android with a full reproduction. This is probably resolved now. Comment or reopen otherwise.

[2018-12-10 04:53] #713 closed

[2018-12-10 04:54] msand commented on #597
Please provide a full reproduction if this is still an issue. Closing until then.

[2018-12-10 04:54] #597 closed

[2018-12-10 04:56] msand commented on #765
I guess this is resolved then? If you find a nice place / set of conditions to put that logic then it would be great if you could open a pull request. Closing this for now.

[2018-12-10 04:56] #765 closed

[2018-12-10 06:00] phosphene commented on #776
Hey there. I'm sorry to say I've been engaged in other work.

On Sat, Dec 8, 2018, 8:26 PM Mikael Sand <notifications@github.com wrote:

[2018-12-10 10:37] stephenkopylov commented on #863
@msand sorry, don't have any more time to investigate the problem =(
Maybe later I'll dig into it again

[2018-12-10 10:44] GetSource1234 commented on #789
@msand yes, mentioned patch is working, at least for me.

[2018-12-10 16:47] Legend1991 commented on #858
@msand Hi
`dependencies {
        //noinspection GradleDependency
        classpath 'com.android.tools.build:gradle:3.2.1'
 }`
updating to 3.2.1 version will fix the issue

[2018-12-10 21:04] msand commented on #776
Alright, no worries. Anyway, would be great to get some regression tests, and perhaps even compare against the reference images used by firefox and chrome etc. If anyone is interested, already investigating other react-native modules how they do testing of their iOS and Android native code and documenting it here would be great. Then there would be a clear path forwards as soon as someone has time

[2018-12-10 22:46] msand commented on #821
@shergin Do you know about any changes related to hit testing requiring overflow: hidden for iOS 12 and react-native? Or someone on the react-native team who has seen something related to this?
https://github.com/react-native-community/react-native-svg/issues/821#issuecomment-445587423

[2018-12-11 02:01] wokkaflokka commented on #858
@msand I'll look into. `react-native` itself is using this pattern: https://facebook.github.io/react-native/docs/integration-with-existing-apps#configuring-maven

[2018-12-11 04:02] 7ynk3r commented on #840
I love the library! I've been using it for a while now and it's great!

One thing that would make it even better is to be "more" compatible with web svgs.  For instance,  https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns has all tags supported but `viewBox` isn't defined and makes the library to break.

This kind of issues make consuming work from designers hard given that they us

[2018-12-11 08:39] gcloudspider commented on #794
like @folofse overflow:'hidden' is work, but i can't find reasons, maybe it  solves my problem, My svg icon just wants it to display, I don't want it to have click events；

[2018-12-11 10:03] Iskander508 opened #871 "Android crash"
Crash when trying to render an svg element. Happens on both debug/release. Multiple devices Android ranging from Android v6 to 8.

`    --------- beginning of crash
2018-12-11 10:56:42.722 13880-13880/com.XXXXXXXXXXXXX E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.XXXXXXXXX, PID: 13880
    java.lang.NullPointerException: Attempt to read from field 'com.horcrux.svg.SVGLength com.horcrux.

[2018-12-11 10:19] Iskander508 commented on #871
Found the culprit - mask property on G:
Example:
`const Example = ({ size }) => (
  <Svg width={size} height={size} viewBox="0 0 96 96">
    <Defs>
      <ClipPath id="mask-2" fill="white">
        <Circle cx="48" cy="48" r="48" />
      </ClipPath>
    </Defs>
    <G
      stroke="none"
      strokeWidth="1"
      fill="none"
      fillRule="evenodd"
      **mask="url(#mask-2)"**

      <Circle c

[2018-12-11 11:42] msand commented on #858
Yes, but react-native has a bunch of c/c++ code which would require installing the ndk, and a 20minute build just to get started otherwise. Building this library tends to take a few seconds. So I'm not sure it's worth the hassle. I haven't seen it done by any other module. But please do make the change so we can measure and compare.

[2018-12-11 12:13] msand commented on #871
We should probably add some null checks after the lookup of mask, and only do the masking logic if the referenced element actually exists.

[2018-12-11 12:41] msand commented on #840
Thanks!

Hmm, what do you mean? Can you provide a specific svg file which doesn't work? viewbox is certainly supported at least, and I can't find any mentions of it in the linked article.

[2018-12-11 14:03] msand commented on #821
@kay-is I think I've found the underlying reason for incorrect locations when placing the panResponder on elements inside the svg root rather than on the root itself. I have a fix available here: https://github.com/react-native-community/react-native-svg/commit/6df918356b5df6cde98b78560b3e889199bd67a4
Can you please test it?

[2018-12-11 14:06] kay-is commented on #821
Thank you for your effort :)

I'll test it this week.

[2018-12-11 14:30] SaeedZhiany opened #872 "Support for dominantBaseline property"
In react svg, we have `dominantBaseline` property for `Text` component. is there any plan in future to add support of this property?

[2018-12-11 16:00] msand commented on #872
We already have support for alignment-baseline and baseline-shift, I'm not completely sure I understand all of what implementing support for dominant-baseline entails. Do you have any example content?
https://www.w3.org/TR/SVG11/text.html#BaselineAlignmentProperties
https://www.w3.org/TR/SVG11/text.html#DominantBaselineProperty
https://www.w3.org/TR/SVG11/text.html#AlignmentBaselineProperty
https:

[2018-12-11 18:44] msand commented on #821
@kay-is Android also had a bug with handling transforms: https://github.com/react-native-community/react-native-svg/commit/4b65c00912567afb050bf0d094ec6cadcbcc74ef

[2018-12-11 19:02] msand commented on #821
published v8.0.10 with the fixes

[2018-12-11 19:06] msand commented on #821
I think this can probably be closed now. Please comment/reopen if you can observe unexpected behavior with the latest version. Thanks for the issue reports!

[2018-12-11 19:06] #821 closed

[2018-12-11 19:11] msand commented on #794
Published a new version (v8.0.10) with fixes for press and gesture / pan handling for both iOS and Android.

[2018-12-11 19:19] #871 closed

[2018-12-11 21:37] 7ynk3r commented on #840
For instance, in the link there's an example
[code]

which will translate to react-native-svg without big changes
[code]

But it won't work. The app crashes because `Pattern` doesn't have `viewBox` defined.

[2018-12-12 03:28] JNUfeatherwit opened #873 "[android crash] ViewManager: Error while updating prop x"
This bug sometimes occurs, but sometimes it doesn't.Upgrading to the latest version has no effect.I have been troubled by this problem for a long time.
### version
"react-native": "0.55.4"
"react-native-svg": "^8.0.10"
"react": "16.3.1"
[code]

[2018-12-12 03:38] JNUfeatherwit commented on #873
sometimes the error is 'error while updating prop height' or 'error while updating prop width' or  'error while updating prop marginRight'

[2018-12-12 03:44] zim-lee opened #874 "Could not find httpcore.jar (org.apache.httpcomponents:httpcore:4.4.5)."
react-native:0.57.7
react-native-svg:8.0.9-8.0.10

I change react-native-svg to 8.0.8, it works fine.

[2018-12-12 09:39] ankha0109 commented on #258
Same issue,
Has anyone fixed this issue yet?

[2018-12-12 10:34] buraksak35 opened #875 "Upgrading 8.0.8 => 8.0.10 Android Build Error"
com.android.ddmlib.InstallException: INSTALL_FAILED_INSUFFICIENT_STORAGE
        at com.android.ddmlib.Device.installRemotePackage(Device.java:1004)
        at com.android.ddmlib.Device.installPackage(Device.java:911)
        at com.android.builder.testing.ConnectedDevice.installPackage(ConnectedDevice.java:122)
        at com.android.build.gradle.internal.tasks.InstallVariantTask.install(InstallV

[2018-12-12 15:29] msand commented on #874
Strange, we don't depend on that library, and can't see it in any of my android projects. I guess this is a fluke and related to something else. Or can you provide a git repo as reproduction? @zim-lee

[2018-12-12 15:30] msand commented on #875
Seems you're out of space on your device/emulator.

[2018-12-12 15:30] #875 closed

[2018-12-12 15:32] msand commented on #258
@ankha0109 Seems it's mostly fixed by wrapping any parts where you have both static children and some dynamic number of children in the same component. Try wrapping the dynamic part in a G element. I'm not sure if this is a bug in react, react-native or this library yet. If you can provide a small reproduction that would be great!

[2018-12-12 15:40] VincentCATILLON commented on #500
Looking for your PR too ;)

[2018-12-12 17:00] krestaino commented on #258
@Galamon5 Did you ever resolve your issue? I'm seeing the same error using `victory-native` and while researching I landed on this issue, which is the exact error that you posted above.

[2018-12-12 17:42] SudoPlz commented on #258
That's such an ooold issue. If I remember correctly I managed to resolve that by turning a stateless react object to stateful?
But my memory is super fade right now, sorry for not posting anything earlier.

[2018-12-13 00:37] JNUfeatherwit commented on #873
Thank you for answering。But for us,  it is unlikely to upgrading rn.So I rolled back the version of react-native-svg to 6.0.0.Is it ok?

[2018-12-13 00:56] msand commented on #873
Well, that's just up to you. Alternatively you can apply the patch to the version of rn you are using and build it yourself (requires ndk)

[2018-12-13 01:57] zim-lee commented on #874
That's weird. I'll check my code again. Thx! @msand

[2018-12-13 01:57] #874 closed

[2018-12-13 18:13] dreadjr commented on #848
@msand I was able to get it work using
`<Gradient index="somekey" />`
or like you said, removing the gradient.

[2018-12-13 22:57] agates4 opened #876 "[Android] package com.facebook.infer.annotation does not exist"
Versions

[code]

Android build error

[code]

File

[code]

On line 16 at the import
[code]

What might be causing this issue?

[2018-12-13 23:13] agates4 commented on #876
I added
[code]

to
[code]

However, this came up with another error: apparently, this SVG library conflicts with the ExpoKit library.

To anyone reading this that was trying to implement the react-native-qrcode-svg in their ejected android app, you do not need react-native-svg. ExpoKit already has an SVG library. All you have to do is install react-native-qrcode-svg.

[2018-12-13 23:13] #876 closed

[2018-12-14 15:41] spyshower opened #877 "Unable to touch and drag an SVG Line"
Hello,

I am trying to implement a clock in which a user can touch a pointer and move it. This behavior works as expected on iOS but not on Android. Specifically, when you touch the pointer the 1st time it works normally, however after that while the View is being displayed at the right point on the clock, the actual View(?) is in it’s original spot (invisible, but it’s there).

Snacks:

https://s

[2018-12-14 19:00] springroll12 commented on #848
@dreadjr Did you apply any of the other fixes @msand suggested (adding `<G>` wrappers to `chart.js` maps and/or moving the `<Path>` element to the end of the SVG) ?

[2018-12-14 20:09] dreadjr commented on #848
@springroll12 No, just ensuring the index property of the gradient was set.

[2018-12-15 20:34] msand opened #878 "Optimize rendering and path data animations"
Look into (Android):
 - Moving animations to RenderThread instead of the UI Thread
 - DisplayListCanvas https://github.com/aosp-mirror/platform_frameworks_base/blob/master/core/java/android/view/DisplayListCanvas.java
 - Animators https://github.com/tarek360/RichPath https://github.com/facebook/litho/blob/d34059ddc034491e82515ee29ee6655a0eae92a6/litho-core/src/main/java/com/facebook/litho/animatio

[2018-12-15 21:43] spyshower commented on #877
Anyone?

[2018-12-15 23:41] msand commented on #877
Can you try with plain react-native and the latest version of react-native-svg? Several gesture related bugs have been fixed recently. E.g. https://github.com/react-native-community/react-native-svg/issues/821

[2018-12-16 18:59] spyshower commented on #877
No I can't even properly run a fresh project on Android Studio. The tools are incredibly bad, just like this bug.

[2018-12-16 21:37] msand commented on #877
What OS are you on?

Can you run `react-native info` inside your project root?

Have you done all the parts in https://facebook.github.io/react-native/docs/getting-started.html ?

If you're on mac, perhaps try something like:
https://github.com/fwh1990/react-native-init

it can:

Otherwise check here if you're on linux: https://shift.infinite.red/painless-react-native-setup-for-mac-windows-linux-3

[2018-12-16 21:43] msand commented on #877
Or actually, with your attitude, it might be wiser to stop trying and change jobs. I'm not sure coding will ever feel satisfying or fit a person who writes like you did. Will probably save both yourself and others a lot of suffering.

[2018-12-16 22:14] spyshower commented on #877
@msand  Thanks for taking the time and trying to help me about installing it properly. To be honest I was expecting your 2nd post immediately instead.

You can make any assumptions you want about me. The reality is that I am a few weeks before the release I have been developing alone for about a year, and just this week I have encountered a ton of problems: bugs, poor documentations, props whose n

[2018-12-16 23:10] ninofiliu commented on #568
Same, `<Text>` seems to be having some issues.

`<G><Text>some text</Text></G>`: works fine

`<G><Text textAnchor="center">some text</Text></G>`: makes the whole app crash: no logged error, the app simply closes. It can be opened back but as soon as I navigate on the faulty component, it happens again. I have to delete the faulty tag, reinstall the app, and re-run `react-native run-android` to mak

[2018-12-17 10:06] SaeedZhiany opened #880 "Nested svg content is rendered twice"
This is a wired and annoying bug. When using a svg nested into another svg component, the content of nested svg has been drawn twice for no reason. The more strange thing with it is that one of them has drawn without respect to its parent properties (like width, height, x, y, ...).
My code is very complex, so I provide a simple code to reproduce the problem.

[code]

here is the result, the right

[2018-12-17 10:23] SaeedZhiany opened #881 "Nested react native component always drawn from (0,0) coordinate"
When using a react native component inside Svg, it always drawn from the root Svg (0,0) coordinate and none of `G` or `Svg` properties does not affect on it.

here is a code to reproduce the problem.

[code]

here is the result:

![screenshot_1545041926](https://user-images.githubusercontent.com/13766432/50081022-aac8fe80-0202-11e9-8ac8-8dd7eb831fb9.png)

as you see the text ignore its `G` parent'

[2018-12-17 11:47] kay-is commented on #821
I upgraded to version 8.0.10, but now I get errors about my props.

    JSON value '40' of type NSNumber cannot be converted to NSString

Tried to convert them manually with `toString` but then the graphic wouldn't show anything anymore.

[2018-12-17 12:58] Lucifer1662 commented on #591
I got it to work by installing react-native-svg then going into /node_modules/expo/node_modules and renaming/deleting react-native-svg in there.
Probably a better way but it worked.

[2018-12-17 14:56] alburdette619 commented on #853
Sorry, been busy, hopefully we will get to this today or tomorrow.  Thanks!

[2018-12-18 06:57] sonaye commented on #297
@msand Why not add macOS as a target? that should cover `react-native-macos`

[2018-12-18 23:11] tandemloop commented on #279
Didn't work.

[2018-12-18 23:26] opolyo01 opened #882 "Upgrading to "^6.0.0", "^7.0.0", or "^8.0.0" fails"
I have been on the version of 5.x, and upgrading to 8 throws an error.  I don't even see url dependency.  Any idea?

warning: the transform cache was reset.
Loading dependency graph, done.
error: bundling failed: Error: Unable to resolve module `url` from `/Users/opolyako/citcode/citadel-react-native-viz/examples/RNVizExample/node_modules/xmlhttprequest/lib/XMLHttpRequest.js`: Module `url` does no

[2018-12-19 15:14] oleksandr-dziuban opened #883 "react-native-svg feDropShadows support"
Hello guys, just have one question regarding shadows support in react-native-svg package. Do you know is it possible to implement shadows here? Thank you.

P.S. In WEB SVG structure for drop shadows looks like:

[code]

[2018-12-19 16:49] msand commented on #883
The filters branch has ios support to some degree already, check this issue: https://github.com/react-native-community/react-native-svg/issues/150

[2018-12-19 16:49] #883 closed

[2018-12-19 18:09] Rohithzr opened #884 "[Stop] creating animated stop throws percent.match is not a function"
I am not sure if Animating the Stop element is even possible. Is there some other way to achieve this.

[code]

[code]

[2018-12-19 20:38] ksesong opened #885 "Support vector effect property"
Is there any plans to support the`non-scaling-stroke` value of `vector-effect` property (as described [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/vector-effect))?

One solution would be to flatten the transformations (using for example: https://github.com/fontello/svgpath), but I wouldn't be able to animate these transforms without changing the stroke appearance.

[2018-12-19 20:41] msand commented on #297
@sonaye I'm considering a rewrite in c++ or rust because of the fabric rewrite of react native, check here: https://github.com/react-native-community/react-native-svg/issues/878
This would simplify cross-platform efforts significantly

[2018-12-20 13:42] ksesong opened #886 "Superposition of translucent shapes yields wrong values"
I generate a `<Svg>` component consisting of overlaid shapes with different `fillOpacity`, and I get access to the pixel data using the `toDataURL` method. It all works fine, until I read the values and I realize that the superposition is not working as expected.

Here is a snack of the issue:
https://snack.expo.io/@ksesong/sum-of-translucent-shapes
(Instructions: After changing the `fillOpacity`

[2018-12-21 16:36] mgonzalezs commented on #853
@msand The change https://github.com/react-native-community/react-native-svg/issues/853#issuecomment-445502539 didn't work.

    <LineChart...  key={chartKey}>
      {condition ? <Child key={childKey}/> : null}
    </LineChart>

If I change `childKey` also the child won't re-render. If I change `chartKey` will re-render all the graph but this makes the graph blinks.

[2018-12-21 19:03] noahtallen opened #887 "Error while updating property "d" of a view managed by RNSVGPath: null for input string S"
I'm getting a full crash on Android only with the error: Error while updating property "d" of a view managed by RNSVGPath. Null. For input string S.

The exact same code works on iOS. I am using react-native `0.57.8` and react-native-svg `8.0.10`. Those should both be the latest versions.

After some investigation, I discovered that this error happens because I needed a bit more education on using

[2018-12-24 09:27] smemamian opened #888 "Trying to add a RNSVGGroup to a RCTView"
I want to use `Animated` component to my SVG components.

[code]

but I got this error:

[2018-12-24 19:52] msand commented on #888
The error message explains exactly what is wrong, you're trying to add an svg group (G element) to a react native view, you need to wrap it in a Svg root element instead. Same as using svg in the web.

[2018-12-24 19:52] #888 closed

[2018-12-24 19:56] msand commented on #882
This is unrelated to this library, if you have a repro, please post it to the issue in the react native repo instead.

[2018-12-24 19:56] #882 closed

[2018-12-24 22:40] tsdmrfth commented on #871
Same issue here and i did not understand the @Iskander508 's solution

[2018-12-25 06:00] kuangyliang opened #889 "LinearGradient set red to black"
This is my code：

                 <Defs>
                        <LinearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="100%">
                            <Stop offset={"0%"} stopColor={"red"}></Stop>
                            <Stop offset={"100%"} stopColor={"black"}></Stop>
                        </LinearGradient>
                    </Defs>

I want the cicle progress color is from red to

[2018-12-25 08:32] Iskander508 commented on #871
It was a wrong definition in the svg itself. Wrong use of the mask prop. Can you share your svg which causes the crash? Maybe we can fix it.

[2018-12-25 13:05] msand commented on #889
What you're attempting to do isn't part of the spec yet, they're called conical gradients, and you need a polyfill http://leaverou.github.io/conic-gradient/
https://www.w3.org/TR/css-images-4/#conic-gradients
And you'll need to create create some other structure yourself to emulate it

[2018-12-26 04:15] SeanningTatum opened #890 "TypeError: percent.match is not a function. (In 'percent.match(percentReg)', 'percent.match' is undefined"
Hi I just used the converter. But When I try to use the SVG I encounter this error.
[code]

The generated code
[code]

[2018-12-26 06:38] gavaliswapnil opened #891 "Base64 image data not rendered in iOS"

[2018-12-26 06:45] gavaliswapnil commented on #891
import React from 'react'
import Svg, { Image } from 'react-native-svg'

const SvgComponent = props => (
  <Svg width={500} height={383} {...props}>
    <Image
      width={500}
      height={383}
      xlinkHref="data:image/png;base64,,<base64_image_string>/>
</svg>)

export default SvgComponent

Above code not working in iOS

[2018-12-26 08:57] NJQter commented on #690
I have meet the same question, how do yo solve this problem?

[2018-12-26 21:04] graphical-iain opened #892 "Android: SVG percentage height/width does not respond to changing container size"
On Android, if a container changes size via an animation, an SVG sized with percentages remains the same size as initial load.

I'm on version 8.0.8 of RNSVG.
Animated scaling works as expected on iOS.

Screenshot of SVG post animation on Android (left) and iOS (right):
![image](https://user-images.githubusercontent.com/6206408/50456929-d98f5500-0925-11e9-9899-6005282a9948.png)

    <Animated.View

[2018-12-26 21:17] alamothe commented on #794
- Is a repro still needed?
- I am using Expo `31.0.2`, can I somehow upgrade `react-native-svg` to `8.0.10`?

[2018-12-26 22:58] msand commented on #794
If you have a repro showing unexpected behavior with the latest version then that is much appreciated. Can't really upgrade native dependencies in expo without ejecting, by design of expo.

[2018-12-27 11:47] msageryd opened #893 "Memory leak (CGPathRetain?)"
I'm just at the beginning of my investigation. Something in my app is clearly leaking. I tried to dig into the leaks tool in Instruments, but I'm not sure of what I'm seeing.

RNSVG versions tested **8.0.3** and **8.0.10**. Leaks are the same with booth versions.

For every SVG element it seems that there is a leak. Some of the leak-counts matches the number of SVG elements. The below screenshot i

[2018-12-29 15:41] akepecs commented on #713
This problem is still occurring for me on an iPhone X (both physical device and the iOS simulator). The problem does not occur in the simulator using a iPhone SE (I don't have a physical iPhone SE to test on).

I have noticed the problem while attempting to use victory native's tooltips on a VictoryBar chart.
I am using react-native-svg 8.0.10 and victory-native 31.0.0.

[2018-12-29 20:17] msand commented on #713
@akepecs can you provide a repro? Either expo or something that can be cloned and run as is

[2019-01-01 12:16] brianfoody commented on #621
@roycedot sorry a few months later asking you this but could you provide a snippet of how you implemented point (2) above?

Edit [CP] Embed Pods Frameworks in Build Phases on my main Xcode project to remove React from Input Files and Output Files

[2019-01-03 00:00] defualt opened #894 "require('react-native-svg') takes a long time on low end Android"
I'm trying to optimize the launch time of my app and I found react-native-svg to be a bottleneck.

On a low end Nokia 2 running Android 7.1.1 in production mode I recorded the following lengths of time.
1449ms, 1292ms, 1285ms, 1215ms, 1178ms, 1167ms.

In my iphoneXR Simulator on a 2018 macbookpro I get 94ms, 89ms, 71ms, 67ms.

My monitoring code is:

[code]

"react-native-svg": "^6.3.1",
"react-na

[2019-01-03 10:30] msand commented on #894
Have you tried upgrading jsc? https://github.com/react-native-community/jsc-android-buildscripts

[2019-01-03 15:05] HighSoftWare96 opened #895 "Load image from native assets"
Is there a way to load an image in the <Image /> svg component from a uri like this:
`<Image href={{uri: "my_image"}} />`
where my_image.png is saved in the drawable folder for android and in a .xcassets for ios?

[2019-01-03 21:03] defualt commented on #894
I will try `jsc-android-buildscripts` hopefully before the end of the week.

I just added a timing alert to `extractTransform.js` and it takes 441ms to process on my Nokia 2.  So that would be a nice chunk out of loading time.

I also found that importing the entire lodash library in several places adds 100ms which ain't nothing and can probably be factored out.

[2019-01-04 06:10] kuangyliang commented on #889
Thanks!

[2019-01-04 10:54] V0ri4n commented on #890
Same here!

[2019-01-04 17:00] vjsingh commented on #591
This seems to be a new issue in Expo 31? None of the fixes in this thread worked for me

[2019-01-04 19:06] defualt commented on #894
I tried out jsc-android-buildscripts but I actually got worst performance for the entire app and for react-native-svg.

With `react-native-svg`.  Left value is entire app load time, and right value is `react-native-svg`'s contribution to load time, in milisecends.  The first row of each set is the initial load, and the rows after are subsequent force-quit + load.

### With jsc-android
8618 - 1106

[2019-01-05 12:10] sundariragavan commented on #894
@msand Hello everyone, react-native-svg is very slow on Android devices. On the other hand, this same app behaves smoothly on iOS devices. The svg image rendering  is very slow. The app is responding, once the image loading completed.The API return correctly. Any idea ?

[2019-01-05 13:41] msand commented on #894
Do the android devices you're testing have comparable hardware to the ios devices you're testing? If you compare cheap / low end android to expensive / high end ios devices you can expect performance differences for sure. Also, the rendering pipeline and architecture varies among devices, hardware/os version combinations etc. I would recommend optimizing with e.g. svgo, and profiling the code to f

[2019-01-05 15:46] msand commented on #894
@defualt I tried removing lodash and compiling the parser in development instead of run-time. I haven't tested it yet, but though you might be interested in trying it out: https://github.com/react-native-community/react-native-svg/tree/optimize_startup

[2019-01-05 17:34] defualt commented on #894
Awesome I’ll give it a try on Monday.

[2019-01-06 10:10] msand commented on #591
@vjsingh Expo already includes react-native-svg, you shouldn't add it as a dependency.

[2019-01-07 01:12] spyshower commented on #877
The Expo update to SDK 32 that comes with the updated libraries didn't fix the issue. Can I have some help here please? The examples I provided have minimum code so I cannot figure out myself what's going on.

[2019-01-07 08:28] OleksandrKucherenko opened #898 "Use API instead of IMPLEMENTATION"
https://github.com/react-native-community/react-native-svg/blob/025b8e78694b65ec0d32b52c3f8bd1fc66c7df1d/android/build.gradle#L54

latest android gradle plugin introduce renamed dependency configurations.

**implementation** -- means include dependency JAR into the compiled library
**api** -- means, library force main project to include react-native, but library code itself will not contain any re