[2019-01-07 12:48] msand commented on #898
From the article you link to:

It seems correct to use implementation rather than api, afaik we do not leak the react-native api from the interface we expose, and I don't know about any native module which would depend on our interface anyway, so I think this couldn't even have any potential effect on anything at all.

[2019-01-07 12:51] msand commented on #898
Btw, why the CAPS? Are you screaming these words inside your head when you write/read them?

[2019-01-07 15:16] vjsingh commented on #591
@msand Thanks for the advice. I'm not sure what it was since I removed my dependency on react-native-svg. It may be related to https://github.com/JesperLekland/react-native-svg-charts which I used, but that library appears to load react-native-svg as a peer dependency which looks to be the right way to do it?

Anyway, for now I am just going to stick with Expo 30 until I have some more time. Thank

[2019-01-07 16:04] OleksandrKucherenko commented on #898
no other way to highlight the keywords in title of post

[2019-01-07 16:11] #898 closed

[2019-01-07 22:04] msand commented on #894
@default have you been able to measure any difference? Can't really find anything else to simplify at this point without changing the interface / semantics. Would need to profile the parse and first execution time in more detail to find any potential optimization targets. But having read the code several times, nothing pops out as having big potential gains at this point. The next step would be to

[2019-01-07 22:56] defualt commented on #894
Looks like massive improvement.  Great work!

Old version start times
878
810
803
820
795

optimize_startup version start times
185
167
146
163
131

[2019-01-08 09:49] Yandamuri opened #899 "error while updating the property 'marginTop' in a shadow node of type"
I am facing some recurrent issues with react-native-svg package as mentioned below,

     Error while updating property 'fill' of a view managed by: RNSVGPath
     Error while updating property 'width' of a view managed by: RNSVGPath
     Error while updating property 'height' of a view managed by: RNSVGPath
     Error while updating property 'marginTop' of a view managed by: RNSVGPath

 Following

[2019-01-08 12:35] msand commented on #899
Can you try upgrading react-native to 0.57.4 or newer?

[2019-01-08 22:17] devmark88 commented on #873
@msand is this exception catchable in componentDidCatch method of the application component (not your component)?

[2019-01-09 11:37] andreymazuro commented on #889
@kuangyliang  did you manage to figure this out?

[2019-01-09 15:32] pedrosimao commented on #645
I am facing the same issue.
It would be a great feature to be added to this Library.

[2019-01-09 21:45] zocheyado commented on #668
This is 100% the issue a lot of the time. Android needs each element to have inline styles and this will work just fine on any version I have tested. Meaning that I got all my SVGs to work by simply editing them and nothing to do with this plugin.

[2019-01-09 23:04] brentvatne commented on #894
@msand - nice :)

[2019-01-10 09:38] kuangyliang commented on #889
No,I just modified it briefly.Because svg  LinearGradient  can only set linear gradients，Can only achieve the UI design effect as much as possible
   <LinearGradient id='linear' gradientUnits='userSpaceOnUse' x1='180' y1='150' x2='20' y2='150'>
                <Stop offset='0%' stopColor={startColor} />
                <Stop offset='100%' stopColor={endColor} />
     </LinearGradient>

UI design:

[2019-01-10 09:40] kuangyliang commented on #889
If your ring doesn't need rounded corners, you can do it with two semicircles. I tried it.

[2019-01-10 12:04] msand commented on #889
Seems to me that the bottom middle is opposite to the jump in colors, if you split that image in half (along the middle in the vertical direction) you can use two gradients and paths, one with yellow to orange, and one with orange to red.

[2019-01-10 22:53] KidkArolis commented on #867
I'm getting this as well with the Usage example from README..
If I "Dismiss" the React error, I do see the svg, but the error keeps happening upon reload.

[2019-01-10 23:02] KidkArolis commented on #867
I've downgraded to v7, but got the same error.

If I remove `<Rect>` it works, e.g.:

This works:

[code]

This doesn't:

[code]

[2019-01-11 05:49] kuangyliang commented on #889
I have tried it, it does.But I don't know how to solve the problem of rounded corners.If you are using two semicircles，Your semicircle should have rounded corners on one side and no rounded corners on the other side.

[2019-01-11 17:29] PurnimaNaik opened #900 "Load a local svg file using react-native-svg"
Is there a way to load an existing svg asset from local files?
Something like this:-

`<Svg fillAll="#c6ccd8" width="60" height="60" source={require('../../icons/account.svg')}/>`

[2019-01-11 20:14] Naeoth commented on #645
Finaly it was a mistake from my code. I have the correct opacity behaviour on press.

Can you share your code to help you on your issue ?a

[2019-01-11 22:57] msand commented on #645
@slorber @Naeoth  I have an experiment for using TouchableOpacity inside svg content here: https://snack.expo.io/@msand/touchableopacityg no changes needed inside the library.

[2019-01-11 23:49] msand commented on #645
Simplified into plain component:
[code]

[2019-01-12 00:15] msand commented on #900
Check https://github.com/react-native-community/react-native-svg/issues/753

[2019-01-13 13:03] paulwalczewski commented on #855
@mand, tried that modified function above and it doesn't seem to work. For testing purposes I updated the function within node modules and then rebuild within xcode - perhaps I did something wrong and that's why I do not see the change (output is still 3x the normal size)?

[2019-01-14 07:03] vishalTechnoFreek commented on #258
Thanks, @burivuhster  this solution worked for me, It was really a great help for me.

[2019-01-14 10:16] tmxiong commented on #900
add this code `android.disableResourceValidation=true` in `android/gradle.properties`

[2019-01-14 10:17] msageryd commented on #893
While testing some fixes by @msand (PR #897 ), I'm not able to reproduce the above leaks. I performed the same app interactions as above and got the following:

![image](https://user-images.githubusercontent.com/4483085/51106986-cd443c80-17ed-11e9-8e55-b0bcf4852148.png)

I think this confirms that the leaks are fixed.

[2019-01-14 10:58] slorber commented on #645
thanks @msand this is great to know ;) will keep this in mind the next time i need this

[2019-01-14 15:31] msageryd commented on #646
Fixed in 9.0.0

[2019-01-14 15:31] #646 closed

[2019-01-15 12:17] ReggaePanda commented on #880
i have the same issue. 😳
but it is Android only.
on iOS it works fine!

[2019-01-15 13:23] msand commented on #894
v9.0.0 has been released with these changes and various spec conformance fixes included.

[2019-01-15 15:05] paulwalczewski commented on #855
Thanks @msans.
Since solution was untested and Android-only (and I don't know Swift/C++ to tackle the native iOS one), I've temporarily bypassed the issue by utilising react native [PixelRatio](https://facebook.github.io/react-native/docs/pixelratio).
Basically I call _PixelRatio.get()_ to get the density, then I shrink the image by density value before passing it to _toDataURL()_.
This way when i

[2019-01-15 15:10] clems36 opened #901 "Empty "d" attribute in Path makes iOS app crash"
Hi! I'm using Expo's SVG component which uses `react-native-svg@8.0.10` since their SDK 32 update and since then, my app crashes on iOS when the `d` attribute of a `Path` is `''`. It works fine on Android and before the update (they upgraded from `8.0.8` to `8.0.10`), it worked on iOS aswell.

[Here's a snack that reproduces this](https://snack.expo.io/@emixis/svg-ios-crash), if you switch from v3

[2019-01-15 15:22] msand commented on #881
Nesting native components inside Svg hasn't really been specified anywhere yet. foreignObject is probably the thing to implement to make the nested components take the current transform matrix into account. I would just place the native components using position: absolute, and place them outside the  svg root such that the normal react-native layout can do it's thing. Alternatively, use native tra

[2019-01-15 15:23] msand commented on #880
I'm unable to replicate this with v9 at least. Could you make a cloneable git repo (with v9) where i can just install and run to see the issue.

[2019-01-15 16:17] #901 closed

[2019-01-15 16:23] msand commented on #890
Fixed in v9

[2019-01-15 16:23] #890 closed

[2019-01-15 16:40] msand commented on #887
The parser in ios merely keeps parsing the matches of the regular expression, interpreting the second S as a number (resulting in 0), thus giving the first S four values anyway. Then fallback logic interprets another S command incorrectly, ignoring the last line command (L interpreted as number again). It just happens that the values you've used gives the same output, in general this won't be true

[2019-01-15 16:40] #887 closed

[2019-01-15 19:41] sm1th opened #902 "v9.0.0 release notes?"
What are the breaking changes from `v8.x.x`? What are the upgrade steps? Do I have to run `react-native link`?

Thanks

[2019-01-15 20:07] msand commented on #902
Linking shouldn't be necessary if you already have v8 linked. Breaking changes should be limited to spec conformance fixes of:
Skew/skewx/skewy as plain attributes or as part of a transform object (transform strings were already conforming)
Use elements with x or y attributes or as part of a transform object

[2019-01-16 08:05] clems36 commented on #901
Thanks!

[2019-01-16 16:36] SoloJiang opened #903 "Could not resolve all files for configuration ':react-native-svg:classpath'"
When I use `react-native-svg-charts`, it's peerDependencies is `react-native-svg`. So I `npm i react-native-svg-charts --save`, and then `react-native link react-native-svg`.Finally, I use `react-native run-ios`.But:
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':react-native-svg'.

     Required by:
         project :react-native-svg

* Try:

[2019-01-17 11:49] oleksandr-dziuban opened #904 "iOS application crash when use <TSpan> with spaces as text"
Hello, guys, just noticed a problem when I use <TSpan> element with text which contains only space symbols (or just one space symbol) iOS application causes crash. Android application works fine.

It can be reproduced on empty app with imported Svg, Text, TSpan inside `<View>`.

[code]

"react": "16.6.1",
"react-native": "0.57.7",
"react-native-svg": "9.0.0", (same on 8.x.x)

Mac OS 10.14.2 High S

[2019-01-17 12:09] oleksandr-dziuban opened #905 "Dynamic fonts are not rendering on Android with "react-native-dynamic-fonts" package"
Hello, guys, just noticed a problem when I use "react-native-dynamic-fonts" package to apply custom fonts on SVG `<Text>` element on Android application. iOS application shows fonts perfectly.

[React Native Dynamic Fonts](https://github.com/eVisit/react-native-dynamic-fonts) package works correctly, because I can see preloaded custom font on simple `React Native` `<Text>` elements on Android.

It

[2019-01-18 09:33] i-schuetz commented on #109
Any updates on this (with Expo)?

[2019-01-21 13:18] wmonecke commented on #848
Any updates on this?

[2019-01-21 14:56] taylorkearns commented on #794
@dwilt I'm noticing the same issue and it also happens to be the right-most SVG element that appears to be collecting the other touch events.

[2019-01-21 15:31] wmonecke commented on #258
This is happening to me specially with the `LinearGradient` component from `react-native-svg`. Removing it / using other types of graphs removes the error.

[2019-01-22 07:43] clems36 commented on #901
@msand can you please re-open this ?

[2019-01-22 09:50] c100k opened #906 "Pattern is not displayed on iOS"
Hi there,

Nice job done on the Pattern implementation. Nevertheless, it does not show up on **iOS**. It works as expected on **Android** though.

**Configuration**

- react-native : 0.57.8
- react-native-svg : 9.0.0
- iOS : 12.1

**Pattern.jsx**

[code]

As you can see, it is the exact same code as the [documentation](https://github.com/react-native-community/react-native-svg#pattern) but the pat

[2019-01-22 11:00] saikiranoptisol opened #907 "How to increase svg width based on text"
I'm using this component in my app in many places. recently i found some difficulty with the usage. if i have long text the width of the svg must be adjustable based on the text and the text must be in the center of the box. For suppose
![microsoftteams-image 3](https://user-images.githubusercontent.com/40380599/51531223-e3dc3a80-1e62-11e9-9fac-b8d4d939fc73.png)

My code is something like below

`

[2019-01-22 11:57] msand commented on #901
You need to rebuild the native bundle, have you ejected from expo?

[2019-01-22 12:23] clems36 commented on #901
No, my bad... Guess I'll have to wait for the next sdk to test that.

[2019-01-22 12:38] msand commented on #907
How about something like this?
https://snack.expo.io/@msand/bWVhc3

[code]

[2019-01-22 12:55] hesselberg commented on #794
+1 on @dwilt solution with `View` and `overflow: hidden` - glad I found this after upgrading from Expo `30.0.0` to `32.0.0`

[2019-01-22 13:23] saikiranoptisol commented on #907
if i use   fill={hasMeasured ? 'black' : 'none'}> my app is getting crashed with reason RCTJSONStringify() encountered the following error: invalid number value (infinite) in JSON write.

and more over if i see the code the color of text is only black but i need gradient color

[2019-01-22 13:44] msand commented on #907
How about something like this: https://snack.expo.io/@msand/measured-svg-text-with-gradient

[code]

[2019-01-22 13:53] saikiranoptisol commented on #907
import React, {Component} from 'react'
import {ImageBackground, View, Text as NormalText} from 'react-native'
import FilterNavigation from "../FilterMatches/FilterNavigation";
import {LinearGradient as SvgLinearGradient} from "react-native-svg";
import Stop from "react-native-svg/elements/Stop";
import Text from "react-native-svg/elements/Text";
import Svg from "react-native-svg/elements/Svg";

cl

[2019-01-22 13:57] msand commented on #907
Hmm, strange, what version are you using?

[2019-01-22 13:58] msand commented on #907
Does this work?

[code]

[2019-01-22 14:01] saikiranoptisol commented on #907
i just modified my code as
<Svg  width="100%"
                              height="80%"
                              onLayout={this.onRootLayout} style={{backgroundColor:'yellow'}}>
                            <SvgLinearGradient id="Gradient" x1="0%" x2="100%" y1="0%" y2="0%">
                                <Stop stopColor="#C2515D" offset="0%"/>
                                <Stop stopColor=

[2019-01-22 14:04] msand commented on #907
![screenshot_20190122-160310](https://user-images.githubusercontent.com/1131362/51540527-50edd100-1e5f-11e9-9055-ae97a4b3e4ae.jpg)

[2019-01-22 14:04] msand commented on #907
[code]

[2019-01-22 14:13] saikiranoptisol commented on #907
fill={hasMeasured ? 'url(#Gradient)' : 'none'}>

getting error as RCTJSONStringify() encountered the following error: invalid number value (infinite) in JSON write.

[2019-01-22 16:23] #907 closed

[2019-01-22 16:24] msand commented on #907
There was a bug in the iOS implementation, paths without fill and stroke didn't get measured. This works now:

[code]

[2019-01-22 17:07] reneeichhorn opened #908 "Allow animations on the `d` prop of the Path component."
My use case is that I'm wrapping the Path component with `createAnimatedComponent` and then simply use `react-native-reanimated` (their `createAnimatedComponent` should be compatible to the react-native one)

I debugged the behavior a little bit and when using the wrapped component the app crashes because `react-native-svg` tries to render with `_path = nil` and then crashes. To be more detailed:

[2019-01-22 17:56] msand commented on #907
Or, if you would want the underline to be the same width as the text (even if you rotate the device), then you could use this:
[code]

[2019-01-22 17:56] msand commented on #907
Slightly more involved version:
[code]

[2019-01-22 19:56] msand commented on #907
Published v9.0.1

[2019-01-22 20:10] msand commented on #908
Can you provide a full replication?

[2019-01-22 20:59] msand commented on #904
Unable to replicate in v9.0.1 with this at least:
[code]

[2019-01-22 22:34] #906 closed

[2019-01-22 22:35] msand commented on #906
There was a regression, published fix in v9.0.2, thanks for reporting!

[2019-01-23 09:04] reneeichhorn commented on #908
Sure

[code]

I would do an example without reanimated but there is no way of creating a string from an animated value in react-native animated. Anyway the `createAnimatedComponent` of reanimated behaves very similar.

[2019-01-23 09:10] saikiranoptisol commented on #907
@msand  i just copied and pasted the above code completely still i got error like RCTJSONStringify() encountered the following error: invalid number value (infinite) in JSON write.

if i use  fill={ready ? 'url(#Gradient)' : 'none'} in Text  the error/exception is coming

[2019-01-23 10:53] msand commented on #908
A few minor changes needed, stroke was missing and viewport needs to be viewBox instead:
[code]
But otherwise seems to work fine, with no changes needed to the library.

[2019-01-23 11:15] #903 closed

[2019-01-23 11:42] msand commented on #908
Android required a bit of modification in reanimated, check my pull request here: https://github.com/kmagiera/react-native-reanimated/pull/176

[2019-01-23 12:03] reneeichhorn commented on #908
Wow! Thats amazing, thank you a lot!
So on iOS it was my bad, I was still on version 8 unfortunately, works for me now as well!

[2019-01-23 12:03] #908 closed

[2019-01-23 12:03] msand commented on #908
Also, wrote a small tagged template literal function:

[code]

[2019-01-23 12:06] reneeichhorn commented on #908
Wow that was fast :D  Creating a tagged template was exactly my idea as well 👍

I think there is lots of potential with animated paths especially for charts etc.

[2019-01-23 13:16] #905 closed

[2019-01-23 13:37] oleksandr-dziuban commented on #904
@msand Thank you for your help, let me check on 9.0.1 too

[2019-01-23 13:38] oleksandr-dziuban commented on #905
@msand Is this issue already fixed?

[2019-01-23 13:44] msand commented on #892
Can you provide a full replication? This seems to work fine:

[code]

[2019-01-23 14:54] graphical-iain commented on #892
Here's the component with the animation:

[code]

Contents of LogoSVGComponent (I left out the Path points, since it's a lot of points):
[code]

[2019-01-23 15:09] #884 closed

[2019-01-23 15:10] msand commented on #884
Fixed in master branch:

[code]

[2019-01-23 15:22] msand commented on #905
Nope, its still only in the master branch, haven't cut any new release yet.

[2019-01-23 15:24] msand commented on #907
Did you upgrade and rebuild the native bundle?

[2019-01-23 15:24] oleksandr-dziuban commented on #905
Thank you a lot, just tried to add same Java code for tis fix, but I still can't see custom dynamic fonts in the app... weird. Maybe I'm doing something wrong?

[2019-01-23 15:25] oleksandr-dziuban commented on #904
@msand Checked, but still have crash on my iOS 12 iPhoneX emulator + real iPhone 6 Plus (iOS 12.1.3) device

[2019-01-23 15:57] msand commented on #892
Still seems to work fine:
[code]
Are you using the latest version? i.e. v9.0.2

[2019-01-23 16:12] msand commented on #905
Released v9.0.3, can you try with that?

[code]

[2019-01-23 16:26] oleksandr-dziuban commented on #904
@msand Maybe the reason in combination of another things...

[2019-01-23 16:28] #894 closed

[2019-01-23 16:33] oleksandr-dziuban commented on #905
@msand Double checked in my app, it works perfectly now with 9.0.3! Thank you a lot!

[2019-01-23 16:34] msand commented on #904
Did you rebuild the native bundle? Can't replicate it yet at least. Can you try v9.0.3?

[2019-01-23 16:39] oleksandr-dziuban commented on #904
@msand I didn't check your simple example yet, just tried to run my large application with complex SVG structure and spaces symbols as svg text and still have the crash.
So maybe the reason in combination of space symbols and another SVG things in my code.
I will let you know when I try basic simple app example. Thank you for your time

[2019-01-23 16:41] msand commented on #904
Here's an even simpler example:

[code]

[2019-01-23 16:44] oleksandr-dziuban commented on #904
@msand For me problem replicates in <TSpan> with only space symbols. <Text> works fine

[2019-01-23 16:54] #895 closed

[2019-01-23 16:54] msand commented on #900
Closing as duplicate

[2019-01-23 16:54] #900 closed

[2019-01-23 17:04] #500 closed

[2019-01-23 17:09] #891 closed

[2019-01-23 17:11] #899 closed

[2019-01-23 17:11] #902 closed

[2019-01-23 17:31] msand commented on #109
@i-schuetz Doesn't [react-native-svg-uri](https://github.com/vault-development/react-native-svg-uri) work?
[code]

<img width="1440" alt="screen shot 2019-01-23 at 19 29 23" src="https://user-images.githubusercontent.com/1131362/51625265-62110d80-1f45-11e9-9b55-5cc2830f4e6d.png">

[2019-01-23 18:11] graphical-iain commented on #892
I was running 8.0.10, cause that's what's currently included with Expo. However I just manually deleted the version that comes with Expo, installed 9.0.3 and reran it and it produces the same result for me.

![image](https://user-images.githubusercontent.com/6206408/51627002-db413e00-1f0e-11e9-8a5c-01574c508d53.png)

Just to double check, you are testing this on Android, yea? Cause it works perfec

[2019-01-23 18:12] i-schuetz commented on #109
@msand Not well apparently:

[2019-01-23 18:31] graphical-iain commented on #892
I just copied and pasted your code and ran it in the Android Simulator and I get the same issue. The line doesn't change scale.

![image](https://user-images.githubusercontent.com/6206408/51628494-1f364200-1f13-11e9-861b-07bba823c244.png)

[2019-01-23 19:49] msand commented on #109
Release mode in android requires a bit of extra work:
App.js
[code]
.babelrc
[code]

@matc4 Perhaps should update the documentation?

[2019-01-23 22:35] msand commented on #892
@graphical-iain Well, that explains it. You need to rebuild the native code, which cannot be done with expo without ejecting first. You'll need to use plain react-native, or wait for expo to upgrade.

[2019-01-23 22:45] msand commented on #892
And yes, testing both platforms:
<img width="1440" alt="screen shot 2019-01-24 at 0 43 57" src="https://user-images.githubusercontent.com/1131362/51642251-360b8180-1f71-11e9-80c4-93781ab8e104.png">

[2019-01-23 23:18] msand commented on #841
@lachtos Could you provide a full replication? The example you used for the screenshot looks quite useful for debugging/development. Btw, is it an issue on only iOS or Android, or on both? I notice the iOS code doesn't take rotation into account, while it seems Android does. But haven't made any test/example for this yet.

[2019-01-23 23:20] msand commented on #848
@wmonecke I would need more reproductions to analyze this further. Other than that it seems there exists workaround. So, seems relatively fine as no one else has provided broken examples yet.

[2019-01-24 00:58] msand commented on #258
I suspect this might be a bug in react-native. What versions are you using @wmonecke can you paste the output from running `react-native info` here?

[2019-01-24 01:00] msand commented on #258
Or possibly, colliding / the same key on several children within a single parent, might be the cause as well.

[2019-01-24 01:01] msand commented on #258
@vishalTechnoFreek can you also provide the output from `react-native info`?

[2019-01-24 01:09] msand commented on #258
@pehlert  @rogueturnip (or anyone else) Do you have a set of versions and an example where this reliably doesn't happen but does happen reliably with some other set of versions? Would be great to have a bit more to go on to isolate this.

[2019-01-24 01:11] msand commented on #873
Closing, as it's a bug in react-native, and fixed in the latest versions.

[2019-01-24 01:11] #873 closed

[2019-01-24 01:20] msand commented on #853
Please provide a full replication if you want progress on this

[2019-01-24 01:42] msand commented on #753
@neoziro I've added docs for using svg files now: https://github.com/react-native-community/react-native-svg#use-with-svg-files

.babelrc
[code]

App.js
[code]

Can svgr be given the .svg content, and output a function, rather than source code?
Either way, a babel plugin to do it only in development / at compile-time when the source changes, rather than every render or each startup at runtime, or

[2019-01-24 03:03] msand commented on #840
Ah, this is due to missing support for objectBoundingBox in [patternUnits](https://svgwg.org/svg2-draft/pservers.html#PatternElementPatternUnitsAttribute) and [patternContentUnits](https://svgwg.org/svg2-draft/pservers.html#PatternElementPatternContentUnitsAttribute) atm. We have the calculation for the bounding box available now, so it's relatively easy to get support for it nowadays. Would have

[2019-01-24 03:14] msand commented on #840
Btw, stop-color should be stopColor instead. And, with the latest commit in the master branch, you can use this to get equivalent output to the original:

[code]

<img width="991" alt="screen shot 2019-01-24 at 5 13 37" src="https://user-images.githubusercontent.com/1131362/51652043-de800c80-1f96-11e9-9974-7d94ec3c34fd.png">

[2019-01-24 14:59] tyurderi opened #909 "linearGradient says e.match is not a function"
See my snack: https://snack.expo.io/@tyurderi/bGluZW
I found a similar issue where you said the issues is fixed already, see:
https://github.com/react-native-community/react-native-svg/issues/890

I currently receive the following error:
![Error on iPhone](https://puu.sh/CBDpp/39c25a15fd.jpeg)

[2019-01-24 15:18] msand commented on #877
I tried cleaning up the code and running it with the latest react-native-svg release and the latest react-native release candidate, on iPhone X, iOS 12.1 simulator, and Android 8.0 (API 26), and both seem to do what the code tells it to do, correctly:

Clock.js
[code]

Test.js
[code]

[2019-01-24 15:36] msand commented on #909
1. You're using Expo v26, the oldest available, no error in the latest version v32
2. You need to render something and set the fill or stroke of that to reference your gradient if you want it to render
3. You need to set stopColor for the stops in the gradient

https://snack.expo.io/@msand/bGluZW
[code]

[2019-01-24 15:36] #909 closed

[2019-01-24 15:39] pgnedoy commented on #91
Hey, guys. Have one problem. Image isn't displayed on Android  when I use clipPath property inside of Image

[2019-01-24 15:44] pgnedoy opened #910 "Image as a background of the polygon isn't displayed"
So, image isn't displayed when I use clipPath property inside Image. Do you have any ideas?

        <Defs>
          <ClipPath id="hexagon">
            <Polygon
              points={pointsClipPathPolygon}
            />
          </ClipPath>
        </Defs>

        <Image
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          href={{ uri: ImageU

[2019-01-24 16:43] spyshower commented on #877
Hey @msand, thanks for taking the time to help with this. The code still isn't working on Expo. I guess Expo itself is the problem here? Also, I assume you didn't use it that's why it worked, am I right?

[2019-01-24 18:27] #844 closed, assigned to nobody

[2019-01-24 18:31] msand commented on #910
Can you provide a full replication? Perhaps try with a <Rect width="100%" height="100%" /> inside the clipPath?

[2019-01-24 18:44] fiid opened #911 "Unable to resolve module './patternReg' from lib/extract/extractProps.js"
I'm getting a confusing error trying to use react-native-svg on a project.

```Unable to resolve "./patternReg" from "node_modules/react-native-svg/lib/extract/extractProps.js"``` (this is from the expo bundler)

It seems weird since extractProps.js seems to have no mention of patternReg.

[2019-01-24 19:09] fiid commented on #911
I'm using VictoryCharts and expo in this project also.  I think one possible cause is that there's a version of react-native-svg under expo and one up at the project level.  If I remove the project level one though, Victory is then unable to find the expo version of r-n-svg.  Any thoughts or suggestions greatly appreciated.

[2019-01-24 21:33] bmcn99 commented on #910
Try changing href={{ uri: ImageUrl }} to source={{ uri: ImageUrl }}

This worked for me, but I was using a local file.

...and while we're discussing images, I don't suppose anyone has been able to resize any images included this way? I am trying to do so but the x, y, width, and height attributes are being completely ignored. Opacity does work however.

I had some trouble earlier with resizing my

[2019-01-24 23:53] shreyasb07 commented on #217
@Aurelyn10
I tried what you had suggested in the screenshot above, about adding to the Header paths, but I still continue to face the same error and the build fails.

My react-native version is 0.43.3 and react-native-svg is at 5.1.6

Do I need to update these to a later version as @msand has suggested?

[2019-01-25 01:31] kristerkari commented on #844
the error on iOS does not get thrown if I omit all the width/height props for the svg images.

[2019-01-25 03:12] msand commented on #911
This question probably belongs in the VictoryCharts repo, perhaps can try using a recently forked version of it where the dependency has been adapted to be Expo compatible, such as this one: https://github.com/InteractionEcologies/victory-native

[2019-01-25 11:58] msand commented on #217
I would recommend upgrading to the latest version of both react-native and react-native-svg

[2019-01-25 12:06] msand commented on #753
@neoziro Seems like @kristerkari has done the work for us ❤️ https://github.com/kristerkari/react-native-svg-transformer
https://github.com/kristerkari/react-native-svg-example/blob/master/rn-cli.config.js

[2019-01-25 12:09] msand commented on #753
https://medium.com/@prathik_63905/using-svg-in-latest-react-native-version-0-57-e04aa8ea7dd8

[2019-01-25 12:21] msand commented on #753
Updated docs: https://github.com/react-native-community/react-native-svg/blob/master/README.md#use-with-svg-files

[2019-01-25 12:40] kristerkari commented on #844
That's weird. I updated to 9.0.4 and I can see the same error being thrown. No error if I downgrade to 9.03.

<img width="422" alt="error2" src="https://user-images.githubusercontent.com/993108/51746541-4280fe80-2085-11e9-8c1e-6a443a26eec4.png">

[2019-01-25 12:45] msand commented on #844
@kristerkari Did you rebuild the native code? I have a hunch you're using the new javascript with the old native code.

[2019-01-25 12:46] kristerkari commented on #844
I am rebuilding the project, but maybe there is something cached. I'll try building through Xcode to see if it helps.

[2019-01-25 12:57] kristerkari commented on #844
@msand You we right, for some reason when building from the command line it did not refresh the native code. I did the build with Xcode and the error went away and now also the command line build is working.

[2019-01-25 13:42] msand commented on #753
@brentvatne @ide Would it be possible to get react-native-svg-transform into Snack? Such that one could import an .svg file and use it as a component?
https://github.com/kristerkari/react-native-svg-transformer#step-3-configure-the-react-native-packager

[code]

[2019-01-25 13:55] msand commented on #753
I guess this issue could probably be closed at this point, as both remote and local svg files can be handled in multiple ways now.

[2019-01-25 13:55] #753 closed

[2019-01-25 13:58] msand commented on #877
Yeah, you'll need to wait for them to update to the latest code. At least it seems fine with the latest master branch, released versions, and release candidates; of react-native and react-native-svg. Reopen if otherwise.

[2019-01-25 13:58] #877 closed

[2019-01-25 14:02] msand commented on #840
Android still has a bit of issues with the small magnitudes of the path coordinates when using, patternContentUnits="objectBoundingBox"
It might be possible to workaround by setting a global scaling factor of units to the minimum of the width and height of the bounding box, and scaling the canvas to account for the remaining aspect ratio change. I tried and it mostly worked, by some gradients and

[2019-01-25 14:06] msand commented on #840
So, I would recommend using userSpaceOnUse for both patternUnits and patternContentUnits, and using the viewBox of the root svg element to adjust the coordinates / dimensions of the primitives you want to fill with the pattern. Or if you really want patternContentUnits="objectBoundingBox", then you can investigate why android has issues with the small values.

[2019-01-25 17:02] fiid commented on #911
For sure.  I was able to get it to work by explicitly importing the version of react-native-svg that expo has, which also seems to satisfy the victory dependency, but isn't the version chosen by npm.  Thanks for the suggestion!!

[2019-01-25 17:02] #911 closed

[2019-01-25 17:38] msand commented on #910
Perhaps can wrap it inside another Svg element, and set the size on that? I'm not sure I understand the question. Executable code / an example would make it easier

[2019-01-25 17:42] msand commented on #600
This can probably be worked around for now by using a onLayout handler on the root Text element, and translating the group as a whole, a bit like in this: https://github.com/react-native-community/react-native-svg/issues/907

[2019-01-25 17:45] msand commented on #570
This can probably be worked around for now by using two render passes, first with plain Text and TSpan elements (no TextPath) and a onLayout handler on the root Text element, to measure to text length, and then, adjusting the placement along the textpath accordingly, slightly like in this approach/workaround but a bit more advanced: https://github.com/react-native-community/react-native-svg/issues

[2019-01-25 19:53] springroll12 commented on #848
@msand I have not managed to succeed with any of the posted workarounds unfortunately.

The only change that made a difference so far was wrapping the second map in `chart.js` with `<G>`. This produced a different crash. I'll try to post an image of this shortly. Unfortunately I've not had a chance to work up a test case yet, but I will try in the near future.

[2019-01-25 20:10] bmcn99 commented on #910
The modal is in a <View> with no extra styling. This is grabbed from the example on https://github.com/react-native-community/react-native-svg, though I changed href to source and the opacity format to get it to work

`                        <Modal
                            animationType="slide"
                            onRequestClose={this.onCloseModal}
                            transpare

[2019-01-25 21:23] springroll12 commented on #848
![svg_chart_js_g_wrap_issue](https://user-images.githubusercontent.com/41022787/51773446-459bdf00-20c5-11e9-8394-8e2108b2cfc2.png)

This may not be helpful until you have a reproducible test case, but here is the error anyway. Here are my current package versions, however I've tried quite a few combinations at this point.

[code]
This error appears when I try to make the modifications suggested in

[2019-01-26 14:43] tell-y opened #912 "No documentation of Rect rx ry props"
There is no sample code using rx and ry props of Rect component.
https://github.com/react-native-community/react-native-svg#rect

But actually those was implemented, so we can use those.
https://github.com/react-native-community/react-native-svg/blob/master/elements/Rect.js#L20

[2019-01-27 04:43] msand commented on #12
Docs have been updated: https://github.com/react-native-community/react-native-svg#use-with-svg-files
With react-native-svg-transformer you can now do this:
[code]

[2019-01-27 04:43] msand commented on #239
Docs have been updated: https://github.com/react-native-community/react-native-svg#use-with-svg-files
With react-native-svg-transformer you can now do this:
[code]

[2019-01-27 09:21] rohanx96 opened #913 "Not receiving PanResponder events on iOS"
I am on react-native-svg version 9.0.5. I am not receiving any panHandler events on iOS. Android works fine.
I went through several similar issues but nothing seems to work for me. #127 #821
I tried adding the panHandlers to the root svg component and set overflow in container view but it did not work.
Here is a snippet from my code:
[code]

[2019-01-28 03:40] houzhanshan opened #914 "com.android.build.gradle.tasks.factory.AndroidJavaCompile.setDependencyCacheDir(Ljava/io/File;)V"

[2019-01-28 14:17] msand commented on #821
@kay-is Can you try with the latest version and verify that you rebuild the native code and clear the javascript cache? Seems to work fine with the latest release:

[code]

[2019-01-28 14:18] msand commented on #913
Can you try with the latest version and verify that you rebuild the native code and clear the javascript cache? Seems to work fine with the latest release:

[code]

[2019-01-28 14:49] msand commented on #914
?

[2019-01-28 14:51] #892 closed

[2019-01-28 19:46] joshuaungheanu opened #915 "ios"

[2019-01-28 19:46] #915 closed

[2019-01-29 01:13] msand commented on #109
Docs have been updated: https://github.com/react-native-community/react-native-svg#use-with-svg-files
With react-native-svg-transformer you can now do this:
[code]

[2019-01-29 01:17] msand commented on #900
Docs have been updated: https://github.com/react-native-community/react-native-svg#use-with-svg-files
With react-native-svg-transformer you can now do this:
[code]

[2019-01-29 01:17] msand commented on #660
Docs have been updated: https://github.com/react-native-community/react-native-svg#use-with-svg-files
With react-native-svg-transformer you can now do this:
[code]

[2019-01-29 16:47] msand commented on #660
Oh this question was for urls, well, docs have been updated for that as well: https://github.com/react-native-community/react-native-svg#use-with-content-loaded-from-uri
[code]

[2019-01-29 18:56] danielgindi opened #916 "maven source for react native inteferes with React classes"
The existence of these lines in the `build.gradle`.

[code]

Somehow interferes with RN. I don't see them defined in any other RN module.

The symptoms are that most RN classes are somehow not recognized, unless I remove these lines.
This includes `cannot resolve symbol ReactActivity`.

[2019-01-29 19:06] danielgindi commented on #916
Well this seems to be an issue with Gradle. Cleared all cached, twice, and the issue is gone. I hate gradle.

[2019-01-29 19:06] #916 closed

[2019-01-30 16:23] #914 closed

[2019-01-30 16:52] wouterds opened #917 "Broken after upgrading React Native to 0.58: "Unable to resolve module react-native/Libraries/Image/ImageSourcePropType""
It can't resolve an import referenced in this library.

[code]

Seems like [they moved or removed the file](https://github.com/facebook/react-native/commit/84f18341aad1c11d97aea042810964ff4a7cbbcb).

[2019-01-30 17:00] msand commented on #917
Proptypes have been removed since v8 was released on 19 Oct 2018: https://github.com/react-native-community/react-native-svg/pull/805

[2019-01-30 17:00] #917 closed

[2019-01-30 17:03] wouterds commented on #917
You're right, it looks like I'm using an outdated version. Sorry!

[2019-01-30 22:00] msand commented on #606
Custom fonts have been fixed, try with the latest version.

[2019-01-30 22:05] msand commented on #863
At least all leaks I've found are fixed at this point. If you're able to find any others, please open a new issue. Thanks for reporting!

[2019-01-31 00:38] msand commented on #765
@adam-s this is probably a bug in fresco actually, the default settings for a ImageRequest allow even fetching, and only if we have it in bitmap cache do we have a fast path. The
[code]
causes
[code]
to be used.

https://frescolib.org/docs/image-requests.html
**Lowest Permitted Request Level**
The image pipeline follows a definite sequence in where it looks for the image.

1. Check the bitmap cach

[2019-01-31 00:47] msand commented on #912
The svg specs includes some examples
https://www.w3.org/TR/SVG11/shapes.html#RectElement
https://www.w3.org/TR/SVG/shapes.html#RectElement

https://svgwg.org/svg2-draft/geometry.html#RY
https://svgwg.org/svg2-draft/geometry.html#RX

Also, e.g. MDN has some documentation:
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/rect
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/rx
http

[2019-01-31 03:02] jakks-team opened #918 "React-Native Link causes bug on settings.gradle"
I'm not sure whether this is a bug from the react-native-svg or the react-native command line. Or maybe even just that I'm using some outdated tools.
So I'll just leave it here. Please recheck the case.

Things I'm using (with their version number).
OS: Windows 10
npm: 6.4.1
node: v10.14.1
Android Studio: 3.1.2
react-native-cli: 2.0.1
react-native: 0.58.3
react-native-svg: 9.0.7

Following the ins

[2019-01-31 14:11] msand commented on #912
Also, the example app includes a few:
https://github.com/magicismight/react-native-svg-example/blob/5a972149f22e0464152d487e6aab015a368ba02a/examples/Rect.js#L52-L115

[2019-01-31 21:33] gosuperninja opened #919 "LinearGradient crash with xlink:href"
xlink:href are not supported, the use of it causes a crash. linearGradient that use xlink:href have no children elements which causes a call on undefined.

Example
[code]

[2019-01-31 21:34] gosuperninja commented on #919
``

[2019-02-01 02:31] msand commented on #918
Hmm, haven't seen this before. Are you able to replicate this in a new project? I wonder why/when this would have changed. I'll try on a windows machine later on.

[2019-02-01 02:46] msand commented on #919
Hmm, apparently the spec allow inheritance here:
https://www.w3.org/TR/SVG11/pservers.html#LinearGradientElementHrefAttribute
https://svgwg.org/svg2-draft/pservers.html#LinearGradientElementHrefAttribute

[2019-02-01 05:21] lanlanlittle commented on #749
android clean

[2019-02-01 11:08] jakks-team commented on #918
Yes, and somehow this issues doesn't happen to only react-native-svg. But i've been adding other libraries as well like react-native-sound, react-navigation, and others, and the same problem also happen.

I'm quite unsure, when react-native link react-native-svg is run, who actually handles what to add to the project?
Is it react-native-cli? or is there a script that is provided by react-native-sv

[2019-02-01 13:40] bhavikjethava commented on #848
const Gradient = ({ index }) => (
<G>
    <Defs key={index}>
      <LinearGradient id="gradient" x1="0%" y="0%" x2="0%" y2="100%">
        <Stop offset="0%" stopColor="rgb(255, 255, 255)" stopOpacity={0.8} />
        <Stop offset="100%" stopColor="rgb(255, 255, 255)" stopOpacity={0.2} />
      </LinearGradient>
    </Defs>
</G>
  );

Add <G> it will solve your issue

[2019-02-01 13:41] bhavikjethava commented on #848
const Gradient = ({ index }) => (
<G>
    <Defs key={index}>
      <LinearGradient id="gradient" x1="0%" y="0%" x2="0%" y2="100%">
        <Stop offset="0%" stopColor="rgb(255, 255, 255)" stopOpacity={0.8} />
        <Stop offset="100%" stopColor="rgb(255, 255, 255)" stopOpacity={0.2} />
      </LinearGradient>
    </Defs>
</G>
  );

Add <G> it will solve your issue

[2019-02-01 14:56] msand commented on #918
react-native-svg doesnt have any control of this aspect, we only have the library specific build.gradle file: https://github.com/react-native-community/react-native-svg/blob/master/android/build.gradle
react-native-cli does the rest

[2019-02-02 01:06] Orbyt opened #921 "Logo renders for a split second at top left of screen before parent loads."
### Description
I'm in the process of swapping some bitmap logos to SVGs for various performance and usability reasons. I am successfully using the the SVG component I built using `react-native-svg` on another screen, however on our "splash" screen a strange issue has become apparent.

### Problem
The logo appears to render at an incorrect position of `0, 0` before it's own parent `<Container/>` r

[2019-02-02 01:33] msand commented on #921
@Orbyt Can you try adding a `return null;` statement in between these two lines:
https://github.com/react-native-community/react-native-svg/blob/b3d29c904508aa8141e678a03049efbee544915c/android/src/main/java/com/horcrux/svg/SvgView.java#L213-L214

[2019-02-02 06:32] tell-y commented on #912
Thanks.
I would like to edit those example of README.md, What should I follow contributing rule to change the file or screen shot image?

[2019-02-02 11:15] msand commented on #912
Sure, feel free to submit a pull request 👍

[2019-02-02 12:03] IljaDaderko opened #922 "Upgrading to rn58 or rns9 causes [is not usable as a native method argument] error"
This is happening in iOS, not tested in Android

I've upgraded my app to following versions:
[code]

And started receiving error below, I'm not entirely sure which one of the upgrades is causing it

It seems to be happening specifically with `Circle` component or due to Animating it, as there are other places in my app using common components like `Svg` `Defs` `LinearGradient` that work.

Code bel

[2019-02-02 12:54] IljaDaderko commented on #922
UPDATE:

Alright, I updated to v9.2.0 and now this issue seems to be resolved.

[2019-02-02 12:54] #922 closed

[2019-02-02 12:57] IljaDaderko opened #923 "[9.2.0] alongside rn0.58 throws error when using `rotate: 90deg`"
I updated to latest versions of `react-native` and `react-native-svg`
And am now receiving following error

I don't think error is related to upgrading react-native as I can successfully use `deg` strings in other places of the app. Error happens when using style object on `SVG` element like so

[code]

[2019-02-02 13:36] msand commented on #923
@IljaDaderko Can you try removing this line: https://github.com/react-native-community/react-native-svg/blob/6777211d7eddb43a38db0e28176ad149610fd825/elements/Svg.js#L129
I think this was needed to get native animated transforms working on the root element, but I'm not completely sure right now.

[2019-02-02 13:58] msand commented on #923
Published a new version v9.2.1 with a patch to fix this: https://github.com/react-native-community/react-native-svg/commit/a2d420c7e836339e80cdc50de38f520735f1f9a4

[2019-02-02 14:31] IljaDaderko commented on #923
9.2.1 fixes the issue, thank you.

[2019-02-02 14:31] #923 closed

[2019-02-02 15:42] msand commented on #923
Published v9.2.2 with a few fixes for the new optimization, here's an example showing off some of it, and native animated transforms on the root element:
[code]

[2019-02-02 16:04] msand commented on #751
Well alright, but it seems unlikely to get worked on before a complete rewrite to a cross-platform rendering backend.

[2019-02-04 00:39] msand commented on #880
@SaeedZhiany @ReggaePanda Think I managed to replicate and fix this. Can you test with v9.2.3?

[2019-02-04 00:42] #880 closed

[2019-02-04 00:53] msand commented on #858
I guess this can be closed. Or are you still looking into this? @wokkaflokka

[2019-02-04 01:04] msand commented on #886
Check e.g. https://twitter.com/kzzzf/status/1075450658050977792

[2019-02-04 11:04] rohanx96 commented on #913
Thanks @msand  it is working fine. I had another view covering up the SVG elements so they did not receive the touch events. Thanks @msand again for your efforts.

[2019-02-04 11:04] #913 closed

[2019-02-04 18:20] Orbyt commented on #921
@msand I went into `node_modules/react-native-svg/android/src/main/java/com/horcrux/svg/SvgView.java` and made the following changes:

[code]

became:

[code]

This appears to fix the flickering icon issue caused by double rendering. Are there any drawbacks to this small fix? I am ignorant of the internal workings of this file; why does this fix work?

[2019-02-04 18:37] msand commented on #921
I think this code was in reponse to crashes when width or height had strange values, and animated splash screens with the absolute fill styles, not sure i remember all the details, will try to search for it when I have more time available. But this might be a more reasonable solution either way, having it render for the first time, a few frames later than otherwise, should be an acceptable tradeof

[2019-02-04 18:38] Orbyt commented on #921
@msand So what are the next steps here? Is this something I should make a PR for, or would you prefer these changes stay out of the main codebase? We can certainly fork the project and make these changes if needed, but we'd prefer not to maintain our own version of this lib.

[2019-02-04 19:12] msand commented on #921
A pull request sounds good. I wonder if there would be need for a call to super.invalidate(); before returning, i have a hunch it might lead to the svg not getting rendered in some edge case. But, I would kind of assume that if the early predicate is true, then the view hierarchy will have at least some layout to do still and will cause another call to draw it later. This is also something that mi

[2019-02-04 19:41] Orbyt commented on #921
@msand Invoking `invalidate()` there would eventually cause `onDraw` to be executed again, which would cause `drawOutput` to be called in a loop until `early` is no longer true. I'm unsure as to whether this is actually an issue; it doesn't appear to have an effect during rendering.

I'll put up a PR this afternoon.

[2019-02-05 06:47] bhavikjethava commented on #848
`
const Gradient = ({ index }) => (
      <G>
            <Defs key={index}>
                  <LinearGradient id="gradient" x1="0%" y="0%" x2="0%" y2="100%">
                        <Stop offset="0%" stopColor="rgb(255, 255, 255)" stopOpacity={0.8} />
                        <Stop offset="100%" stopColor="rgb(255, 255, 255)" stopOpacity={0.2} />
                  </LinearGradient>
            </D

[2019-02-05 06:52] bhavik13 commented on #848
`const Gradient = ({ index }) => ( <G> <Defs key={index}> <LinearGradient id="gradient" x1="0%" y="0%" x2="0%" y2="100%"> <Stop offset="0%" stopColor="rgb(255, 255, 255)" stopOpacity={0.8} /> <Stop offset="100%" stopColor="rgb(255, 255, 255)" stopOpacity={0.2} /> </LinearGradient> </Defs> </G> );`

Add `<G>` tag

[2019-02-06 16:20] oleksandr-dziuban commented on #570
@msand Hello, any ideas when it can be fixed? Found this problem in my app, so it's critical issue now... Thanks

[2019-02-06 16:26] msand commented on #570
Not sure. Do you have time to work on it?

[2019-02-07 07:48] praveens96 opened #926 "Out of Memory exception in android"
getting the below exception when trying to do a swipe and load some more data in to the svg <g>

I have a bar graph with timeline, on swipe i am adding some more bars(Rects). after approx. 52 Rects app is crashing with the above exception. tried profiling in android studio. approx. after storage reaches 250 MB app is getting crashed.
React Native Info:
react-native-cli: 2.0.1
react-native-svg: lat

[2019-02-07 09:13] oleksandr-dziuban commented on #570
@msand Sorry I don't have native platform languages skills to fix this issue

[2019-02-07 13:48] ankardon opened #927 "Emoji disappearing in Text inside Group after translation"
When you translate a Group containing a Text with an emoji, the emoji stops being rendered, while the remaining text will be displayed normally. This also happens when manipulating the x and y of the Group directly instead of using a transformation. Furthermore, without setting the backgroundColor of the surrounding View, the emoji won't be rendered at all.

App.js replicating the error:
[code]
Pl

[2019-02-07 17:37] alexlau811 commented on #794
I have been watching this issue since the very first day. The `overflow: hidden` solution cannot fix my app because I have a rather complex SVG consists of different callbacks for each inner `<G>` elements. I have no choice but to find the solution myself tonight.

In the past few hours, I constantly compare the `hitTest:withEvent:` result between iOS 10 and 12. I found that in iOS 12, one of the

[2019-02-07 21:51] msand commented on #794
@alexlau811 Great work! So, it seems it would be enough to calculate the bounding box in the setHitArea method, and use that as an early condition to return false in the hitTest. As the bounding box calculation seems to work where CGPathContainsPoint has bugs. This should also speed up the cases where the touch events aren't even intersecting the bounds. I suspect your current workaround probably

[2019-02-08 00:25] alexlau811 commented on #794
@msand Amazing! This perfectly fixes the bug. The touch works perfectly with my SVG on iOS 12 with your fix. 👏🏻👏🏻👏🏻 Thanks a lot!

[2019-02-08 01:20] msand commented on #927
@ankardon I think I've fixed the issue. Can you try https://github.com/react-native-community/react-native-svg/commit/abb17bc7f0985c0b5eaa85ead7351e5c74a731f8

[2019-02-08 01:49] msand commented on #841
@lachtos This seems to be fixed in https://github.com/react-native-community/react-native-svg/commit/abb17bc7f0985c0b5eaa85ead7351e5c74a731f8

[2019-02-08 02:22] msand commented on #910
@pgnedoy At least this seems to work fine:

[code]

[2019-02-08 02:31] msand commented on #910
Or equivalently, but perhaps a bit simpler to see the difference:
[code]

[2019-02-08 05:38] jakks-team commented on #918
Closing this issue, as this is most likely not on any aspect that react-native-svg contributors have control over.
For future, I just suggest to add in the Readme or tutorial for people who might met similar problem to check the setting.gradle

[2019-02-08 05:38] #918 closed

[2019-02-08 06:38] lachtos commented on #841
@msand Sorry I didn't reply to your previous comment, notification got lost in the emails. Will absolutely check the fix out later.

[2019-02-08 11:19] FransTwisk opened #929 "Jest tests fail on RN 0.58 (due to Jest Transpiling issue?)"
This issue might affect a lot of packages, but currently I only experiencing it with this one. I believe it's related to https://github.com/facebook/react-native/issues/22175 and the solution is probably to update the import/exports and class arrow methods.

When running jest tests:
[code]

[2019-02-08 11:36] matthewjj commented on #258
Hi, im getting this error with the following code:
[code]

It works fine if I take the `Rect` code out.

Im using
[code]

[2019-02-08 12:23] ankardon commented on #927
@msand Thanks, it does work now! Mind that I am only able to test it on android.

[2019-02-08 13:25] oleksandr-dziuban commented on #904
@msand Confirmed issue cannot be reproduced now. Please close this issues. Thanks a lot

[2019-02-08 13:25] #904 closed

[2019-02-08 18:57] seanhenry commented on #929
I get this issue too after updating to 0.58.

In the meantime, I'm working around the issue adding the following to `__mocks__/react-native-svg.js`:
[code]

[2019-02-09 00:49] msand commented on #258
I've isolated this to between v6.5.2 and v7.0.0 with the code in https://snack.expo.io/@msand/groaning-chocolate
https://github.com/msand/ReproRCTUIManagerBug

[2019-02-09 01:01] msand commented on #258
I've isolated it to the removal of this method returning null for the shadowView: https://github.com/react-native-community/react-native-svg/commit/257a98cecba4f5594f9d29b996c14902a3a02d37
Merged just before releasing v7
This change allows using native animation of the opacity, but I'm not sure if it's actually needed for animating other things, and opacity might be possible to animate with the sa

[2019-02-09 01:03] msand commented on #258
The merged PR can be found here: https://github.com/react-native-community/react-native-svg/pull/755

[2019-02-09 01:06] msand commented on #258
I've opened an issue over at the react-native repo, perhaps someone there has deeper insight into this. https://github.com/facebook/react-native/issues/23350

[2019-02-09 01:21] msand commented on #848
I've traced this down to #755
If you want to use the latest code, and are willing to accept the tradeoff, you can use the fix_manage_children branch where I've reverted the cause of this, until a proper workaround can be found: https://github.com/facebook/react-native/issues/23350

[2019-02-09 02:03] #927 closed

[2019-02-09 02:05] msand commented on #848
Published v9.2.4 with a fix. Can you please test it?

[2019-02-09 02:05] msand commented on #258
Published v9.2.4 with a fix. Can you please test it?

[2019-02-09 02:13] msand commented on #789
I've published a proper fix for iOS in v9.2.4
If anyone has any issues in either iOS or Android with the latest version, please comment and / or provide a reproduction.

[2019-02-09 03:11] msand commented on #794
Published v9.2.4 with the fixes. Thanks for your help!

[2019-02-09 03:20] msand commented on #855
I think for now at least, unless we want to make a major version jump, if we want to make any changes here we need to keep them backwards compatible. We could perhaps introduce a parameter, to say that you want a downscaled version rather than the scaled bitmap size.

[2019-02-09 03:21] msand commented on #841
Published v9.2.4 with the fixes.

[2019-02-09 03:21] #841 closed

[2019-02-09 03:23] msand commented on #921
Fixed in v9.2.4

[2019-02-09 03:23] #921 closed

[2019-02-09 03:24] msand commented on #926
What width and height values do you give your Svg element? I suspect it might be too big to fit in memory.

[2019-02-09 12:03] praveens96 commented on #926
@msand thanks for the response. as i need a scrollbar, the width increases dynamically. after increasing width thrice app is crashing.

for getting scrollbars, i am giving more width and overflow scroll to get a scrollbar. is that the right approach, kindly suggest.

[2019-02-09 14:16] msageryd commented on #855
I think a parameter would be great. I think there are two distinct use cases for toDataUrl().

- Create a bitmap for local use in the app, i.e. show on the same screen it was captured on

- Create a bitmap for external use (outside of the app) where you need a specific resolution

[2019-02-09 14:18] christopherfraser commented on #911
I had the same problem. I think deleting the metro cache and haste map in /tmp fixed it for me.

[2019-02-09 15:18] msand commented on #926
I would recommend striving to have the svg width and height to be at most as big as the native screen resolution on the device, and transform the content in response to pan/touch. Or, you might have use for what I've suggested here: https://github.com/react-native-community/react-native-svg/issues/573#issuecomment-432892772 and the excellent videos made by @wcandillon https://www.youtube.com/watch

[2019-02-09 17:57] msand commented on #570
The text rendering should be split into several passes per Text element root / anchored subtree. First to do bidi transformations and other text-shaping to find the glyphs, advances and positions + rotations. Allowing to get the sums of advances per text chunk, to shift the first character of the anchored chunks by half the extent of all the anchored text in the subtree. And another to actually re

[2019-02-09 19:07] msand commented on #622
@yangyi @liuqiang1357  Could you provide a small code snippet to demonstrate the issue you had?

[2019-02-09 20:07] msand commented on #600
I think I might have fixed this for iOS now
![simulator screen shot - iphone xr - 2019-02-09 at 22 06 34](https://user-images.githubusercontent.com/1131362/52525754-01106600-2cb7-11e9-94a7-7efcc13df244.png)

[2019-02-09 20:08] msand commented on #600
Shouldn't be too hard to port the changes to android either.

[2019-02-09 23:51] msand commented on #570
I think i've fixed this now. Can you try with the text-anchor-subtree-calculation branch? https://github.com/react-native-community/react-native-svg/tree/text-anchor-subtree-calculation

[2019-02-09 23:51] msand commented on #600
I think i've fixed this now. Can you try with the text-anchor-subtree-calculation branch? https://github.com/react-native-community/react-native-svg/tree/text-anchor-subtree-calculation

[2019-02-10 01:45] msand commented on #855
I've implemented support for an optional second argument to the toDataURL method, as an options object parameter having a width and height property. Would this cover your needs?
It's available in the toDataURL branch
https://github.com/react-native-community/react-native-svg/tree/toDataURL

[code]

[2019-02-10 12:22] abduraufsherkulov commented on #591
I have a similar issue here. Expo 32, as soon as it renders the component, expo crashes.

[2019-02-10 12:34] msand commented on #591
@abduraufsherkulov if you use expo, then this library comes built it and you shouldn't add it as a dependency, also make sure none of your other dependencies depend on it. Or, eject the project.

[2019-02-10 12:49] msageryd commented on #855
@msand strikes again =)
To me, this is a perfect solution. Thank you very much. I won't dig into this part of my app in another week or two. Should I use your branch, or will you merge this into master anytime soon?

[2019-02-10 13:31] witalobenicio commented on #903
@SoloJiang how did you fixed that?

[2019-02-10 14:01] msand commented on #855
Would be great to validate the implementation before merging and releasing it at least. I haven't opened the output or drawn it on screen yet, only made sure that it gives output on both ios and android so far.

[2019-02-10 14:04] msageryd commented on #855
Ok, sure.
I'm in the middle of a release, so I won't have time to try out your branch until the end of the week. I'll ping back here as soon as I've tested.

[2019-02-11 09:07] oleksandr-dziuban commented on #570
@msand Sure, will check in few hours

[2019-02-11 09:20] oleksandr-dziuban commented on #570
@msand Checked, it works fine for my case! Text alignment works perfectly on iOS/Android, checked with <Text> + few <TSpan> inside with letterSpacing + textAnchor="middle"

[2019-02-11 13:07] Joktaii opened #931 "Display attribute not working as expected on SVGs"
I'm currently using the react-native-svg library and I've noticed that the display attribute seems to behave differently across the native platforms when utilized with SVG's.

When setting the display attribute of a parent view to none: `display = "none"` the SVG moves to the top left-hand side, and remains visible on Android. However, in iOS, the SVG behaves as expected and is hidden.

### Androi

[2019-02-11 15:36] vjsingh commented on #591
I'm not sure if I set my package.json wrong somehow, but after upgrading to Expo 31 I had to change all imports of react-native-svg in a package I depend on to import from Expo instead.

https://github.com/vjsingh/react-native-svg-charts/commit/298f3718b147358a68f07a1104d657ab1540bf86

[2019-02-11 16:22] msand commented on #591
That sounds correct, Expo should probably change their setup, such that they also expose the react-native-svg module.

[2019-02-11 16:24] msand commented on #591
You can find examples of ejecting from expo: https://github.com/msand/InfiniDrawExpo
to ExpoKit: https://github.com/msand/InfiniDrawExpo/tree/expokiteject
or to plain react-native: https://github.com/msand/InfiniDrawExpo/tree/nativeeject
And the original project which has both web (using react-native-web) and plain react-native here: https://github.com/msand/InfiniDraw/

[2019-02-12 10:43] SoloJiang commented on #903
I found the mistake is that my andriod studio proxy was set in socks. However, this error was caused by it works on http, so I changed my andriod studio proxy method, to be exact, I switch to the http
proxy listening port.

[2019-02-12 13:27] oleksandr-dziuban commented on #570
@msand Hello, do you know when this bug fix can be added to master + new package version published? It's a bit urgent for my project :) Thank you

[2019-02-12 15:59] JulianKingman opened #932 "Too few elements in array (expected at least 5)"
In the latest rnsvg (9.2.4), I get this error. Tracing the error, it appears that the RNSVGCGColor function expects an array of 5+ elements for the color, but the extractBrush (extractColor) function returns an array of length 2.

For example, if I provide a stroke color (`stroke: "rgba(0, 0, 0, 0.3)"`), the extractBrush returns `[0, 1291845632]`, leading to the below screenshot.

![simulator scre

[2019-02-12 16:17] JulianKingman commented on #932
Looks like it's probably related to this commit: https://github.com/react-native-community/react-native-svg/commit/1c518c98960629dd9fc81d8ec89b3229f68bf108

[2019-02-12 16:26] KidkArolis opened #933 "http://svgr.now.sh/ is not working"

[2019-02-13 00:00] msand commented on #932
Can you try rebuilding your native bundle? The changes to the js and native logic were done in sync. This means you must be using old native or js logic with new native or js logic to be able to get this type of error. (new js with old native obj-c code in this case)

[2019-02-13 00:05] msand commented on #570
You can use the git uri for now. In practice nothing changes except a single line in your package.json, this library has no build process, as you probably noticed from it already working for you when you verified the fix. A new version will come in due time. Putting it to npm just changes from where you fetch the bytes. And who tracks what how.

[2019-02-13 03:35] thaiphamvan opened #934 "Image Svg component not full screen"

[2019-02-13 12:16] Limycuk commented on #932
i have the same issue with version 9.2.4
i remove application from emulator and removed react-native-svg from node_modules after that i tried to fix by:

npm install
npm start -- --reset-cache
react-native run-ios

but i've got the same error

[2019-02-13 13:10] msand commented on #932
Can you open the project in xcode, clean the build, and build again? Seems your native code didn't update

[2019-02-13 13:19] msand commented on #934
?

[2019-02-13 13:27] JulianKingman commented on #932
I think my issue is related to expo/expokit. It doesn't update the native dependencies. I thought I could work around it, but it looks like I was wrong...

[2019-02-13 13:27] #932 closed

[2019-02-13 14:58] Limycuk commented on #932
clean build doesn't help
we are migrated to cocoapods project and bug resolved

[2019-02-13 23:59] jpls93 opened #936 "How to paint a whole SVG except for the insides of a shape."
I've tried the `Mask` element for it. But, I'm not sure if I'm going the right path. Couldn't seem to figure out how to accomplish it. From what I understand, I'm trying to accomplish the reverse of a ClipPath. Basically paint everything outside but protect the inside of a shape.

![wxbar](https://user-images.githubusercontent.com/17956698/52752580-443a4400-2feb-11e9-8a2f-1ff9db0858dc.png)
![vfxdv

[2019-02-14 03:48] houzhanshan opened #937 "Unable to resolve module `react-native/Libraries/Image/ImageSourcePropType` from `/Users/housan/DoubleCreate/node_modules/react-native-svg/elements/Image.js`"

[2019-02-14 03:49] #937 closed

[2019-02-14 04:04] jakks-team opened #938 "Help on getting onPress event coordinates in SVG coordinates."
Need help on how to get the event object or something similar to get the x,y coordinates for the onPress on the SVG view itself or a Rect/Circle and things inside it.
And if possible to know whether the coordinates is relative to the SVG coordinates, or the screen coordinates.

I've seen the react-native-svg/index.d.ts has the props onPress with parameter
`onPress?: (event: any) => Any`

But I'm u

[2019-02-14 11:51] thaiphamvan commented on #934
radialGradient in svg component. Not full screen when width and height='100%' in containt style={flex: 1 }

[2019-02-14 22:00] maketroli opened #939 "How to make an SVG properly clickable on React Native with Expo?"
I am using React Native with Expo and I have 4 SVG elements that I need them to be clickable. This is the code for each of these:
[code]
With that code I am able to click on the SVG element but the weird thing is that when I try to click on another element the click is still firing the event of the last element I clicked on.

[I recorded a video with the behavior][1]

So, is there a better way to

[2019-02-15 06:48] gh357550318 opened #940 "How to make the Image label rotate separately in svg"
[code]

How to make the iamge tag rotate alone    not complete <Svg>？
I have tried
const AnimatedImage = Animated.createAnimatedComponent(Image);
and put <svg> style move this const    it’s not working

[2019-02-15 06:51] gh357550318 commented on #940
@msand    please help me ,thank you

[2019-02-15 12:18] ankardon opened #941 "Touching Text does not fire onPress"
Touching the text in this example does not execute the onPress method:
[code]

react-native info output:
[code]

[2019-02-15 17:03] wokkaflokka commented on #858
@msand thanks for following up. I haven't really looked into this until briefly this morning. While I agree with some of your points about why the `react-native` uses this approach when others do not, additional motives that could inform why Facebook uses this approach include:

1. Distributing as a pre-compiled AAR treats the Android code more like an artifact dependency rather than a source depe

[2019-02-15 17:03] #858 closed

[2019-02-15 19:30] msand commented on #933
This issue probably belonged in the svgr repo, as it's fixed I'll close this now.

[2019-02-15 19:30] #933 closed

[2019-02-15 20:11] msand commented on #940
How about something like this: https://snack.expo.io/@msand/funny-cheese

[code]

Based on: https://github.com/react-native-community/react-native-svg/issues/857

[2019-02-15 20:21] msand commented on #858
@wokkaflokka Interesting, thanks for looking into it! I think in our case, it might actually be helpful that people can merely change the source in node_modules in attempts to find fixes to issues, rebuild, verify and open a pr.
With regards to the source set, I think that is decided by https://github.com/react-native-community/react-native-cli
I'm not sure what are all the effects your suggested

[2019-02-15 21:23] msand commented on #941
This workaround seems to work in expo:
[code]

And I think I've fixed the underlying issue in the fix-text-onpress branch, can you try with this commit please? https://github.com/react-native-community/react-native-svg/commit/bc6f46c71389e3edb2b3ff193c143e84255718f2

[2019-02-15 22:25] msand commented on #939
This seems to work correctly in the latest version of react-native-svg (and react-native) at least:
[code]

[2019-02-15 22:27] msand commented on #939
Upgrading Expo to v32 seems to make it work correctly in Android, iOS seems to have the bug you describe. https://snack.expo.io/@msand/playful-tea

 You can request Expo to upgrade their version of react-native-svg to the latest one for v33.

[2019-02-15 22:46] msand commented on #938
How about this: https://snack.expo.io/@msand/ranting-mixed-nuts
[code]

[2019-02-15 23:31] msand commented on #936
You can use either one, but clipping will likely be more efficient, e.g. clipPath with clipRule set to evenodd and geometry something like this will probably be the easiest:
[code]
![screenshot_1550272899](https://user-images.githubusercontent.com/1131362/52889554-3de1ce80-3189-11e9-99f1-8de47706b0be.png)

Alternatively you can use clipRule="nonzero" and draw path segments in opposite directions s

[2019-02-16 21:12] msand commented on #931
@Joktaii It seems to work fine in the latest version at least, what versions are you using?
https://github.com/msand/RN059/commit/720be5fa4538da8c695a989044ba6a4d142421c0
[code]

[2019-02-17 00:02] msand commented on #934
Can you provide a full replication?

[2019-02-17 12:04] ankardon commented on #941
Yeah that fixed the Issue, thanks again @msand !

[2019-02-17 12:04] #941 closed

[2019-02-17 14:05] lanreng opened #942 "How do put text content inside the rect?"
version:
   react-native   0.55.4
   react-native-svg 6.0.0

           <Rect width="40" height="40" fill="blue" />
            <Text
              textAnchor="middle"
              fontWeight="bold"
              fontSize="16"
              fill="blue">
              0
            </Text>

How do put text content inside the rect?
like this
![data](https://user-images.githubusercontent.com/4771609

[2019-02-17 14:43] lanreng commented on #942
@msand  my God   。。。use Defs？ How to do it, I just learned

[2019-02-17 16:32] msand commented on #942
You mean something like this? https://snack.expo.io/@msand/spunky-coffee
You're probably just missing a y attribute on the Text element to place it where you wish:
[code]

[2019-02-17 16:55] flsilva opened #943 "Is <Svg fill="..."> officially supported?"
Hello,

First of all, thank you for your hard work on such an amazing library.

I'm looking for an easy way to color all SVG elements at once. My use case is one of the most common for SVGs: icons. When we work with third-party icons we don't have control over their internal structures, and to be honest, we don't care, do we? All we want to do is to render them, and (easily) color them, all elemen

[2019-02-17 19:58] msand commented on #943
Thanks! Sure, same as on the web ideally. So, additionally you can use currentColor in the fill and stroke attribute of the elements and set it using the color attribute of the root Svg element, so you can have a global stroke and fill, plus a third tint/currentColor for context dependent / themable parts. Additionally you can create react components with normal prop overrides, render props etc.

[2019-02-17 20:07] #936 closed

[2019-02-17 20:40] msand commented on #943
<img width="405" alt="screen shot 2019-02-17 at 22 39 32" src="https://user-images.githubusercontent.com/1131362/52918871-f4b68980-3304-11e9-8ef7-18b9c71ea6ed.png">

[2019-02-18 02:05] gh357550318 commented on #940
how is 'expo'?
Why not is  react-native-svg？
‘expo ’  Where to get it from

[2019-02-18 02:17] gh357550318 commented on #940
wow  i know
your react-native-svg version is？

[2019-02-18 09:58] gh357550318 commented on #940
![bg](https://user-images.githubusercontent.com/44966458/52942716-76122880-33a6-11e9-8007-d76014058ba1.png)

For example, if the picture is round, let the picture rotate at this center of mind .

[2019-02-18 11:45] gh357550318 commented on #940
@msand
 style={{
              transform: [
                { translateX: 150 },
                {
                  rotate: this.RotateValueHolder.interpolate({
                    inputRange: [0, 1],
                    outputRange: ['0deg', '360deg'],
                  }),
                },
                { translateX: 150 },
              ],
            }}

What is controlling the center of

[2019-02-18 11:50] msand commented on #940
In that case it is in the origin

[2019-02-18 11:59] msand commented on #940
@gh357550318 Perhaps this can help you:

[code]

[2019-02-18 13:28] msand commented on #940
The rotations happen about the origin, so if you want to rotate in some other coordinate system, you first need to transform that one to the origin, apply the rotation, and transform it back. That is what the spec says that the optional arguments to the rotate transform definition must do:
https://www.w3.org/TR/SVG11/coords.html#TransformAttribute

More info at:
https://www.w3.org/TR/css-transform

[2019-02-18 13:57] flsilva commented on #943
Thank you for your quick response.

That's great, also thanks for the examples, that answers my question. I'll make some time to send a PR to update the docs (`README.md`). I think I can use your pencil draw (code and screenshot), it's a great example to showcase how `color`, `fill` and `stroke` can be used. Sounds good?

I'm using TypeScript, so I want to send another PR to update types since I g

[2019-02-18 14:07] msand commented on #940
@gh357550318 updated the example a bit

[2019-02-18 14:24] msand commented on #943
Sounds good. Yeah, it supports the stroke, fill, color and additionally onLayout, opacity, transform, inherited font and style. The style property should allow setting default text properties as well, (but I haven't tested it properly):

https://github.com/react-native-community/react-native-svg/blob/be6a517029de9a26a796139b641349571944bd7c/elements/Svg.js#L58-L90

https://github.com/react-native-

[2019-02-18 14:27] msand commented on #943
Oh, and the Touchable / PanResponder props: https://github.com/react-native-community/react-native-svg/blob/be6a517029de9a26a796139b641349571944bd7c/lib/extract/extractResponder.js#L1-L16

[2019-02-18 14:28] msand commented on #943
The title attribute is only supported by svgs and swgs on the web for now. On native it doesn't do anything at the moment.

[2019-02-18 15:41] jpamarohorta commented on #891
Sorry I couldn't understand. Is there a react-native-svg support for images with base64 or the only solution is to use the Image component from react-native?

[2019-02-18 16:44] msand commented on #891
You can use it, but you need to use the href attribute:
[code]

![screenshot_1550508192](https://user-images.githubusercontent.com/1131362/52965266-1408f180-33ad-11e9-965c-53ab0d471018.png)

[2019-02-18 17:33] msand commented on #943
Essentially, anything you can do with a G element + the color, width, height, viewBox, preserveAspectRatio attributes.

[2019-02-18 19:08] flsilva commented on #943
Awesome! That clarifies a lot, and should result in the best solution I guess, which is changing `SvgProps` to extend `GProps` like this:

[code]

I'm gonna send a PR.

[2019-02-18 22:03] dutzi opened #945 "Add support for react-native-dom"
[react-native-dom](https://github.com/vincentriemer/react-native-dom/) is a complete implementation of React Native for the web.

react-native-video already [implemented support for it](https://github.com/react-native-community/react-native-video#installation), it would be great if we could have it here also.

I'm not sure if it's currently possible, but I'm [figuring it out](https://github.com/vi

[2019-02-18 23:42] springroll12 commented on #848
@msand This seems like it worked, but I'll have to test further to be sure.

Had a quick test of v9.2.4 and I can no longer reproduce either the original bug from this thread, or the secondary bug I posted earlier. Note that I've only tested on iOS with an iPhone X simulator so far:

[code]

Note that this seems to work without applying any of the workarounds posted in this thread or elsewhere.

I

[2019-02-19 02:10] gh357550318 commented on #940
I am going to try，

I am very honored to meet you.
@msand

[2019-02-19 05:00] datvudang opened #946 "Limit height on android"
I have a SvgView with height depend on a list of item. Height may be more than 4~5000. Everything works well on iOs but the view disappeared on android.
I had try on snack with react-native-svg-example. Still not works on android.

Example code:
[code]

I test on android version 6.0.1

[2019-02-19 10:12] jpamarohorta commented on #891
Thank you! I'm testing this solution but it's making my svg completely black. Any idea what could it be?

[2019-02-19 10:41] Joktaii commented on #931
Sorry for the delay in response, hopefully, the information provided below should answer any questions about what versions I am using in the project.

{
  "name": "test",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "react": "16.6.3",
    "react-native": "0.58.4",
    "r

[2019-02-19 12:05] msand commented on #891
Old version perhaps? Are you using Expo?

[2019-02-19 12:06] msand commented on #931
@Joktaii Can you give a full reproduction? Or at least one which shows the buggy rendering.

[2019-02-19 16:25] Joktaii commented on #931
Hopefully, this shows what you want to see. I have it initially starting with the display property being visible and I then change it to none.

![svg demo](https://user-images.githubusercontent.com/45260516/53030472-c222a300-3462-11e9-9a51-8a770a92dcee.gif)

[2019-02-19 22:05] msand commented on #946
I would recommend limiting the size of the Svg root element to the size fo the native screen resolution, and use native animation of transforms using a ScrollView instead, like this: https://snack.expo.io/@msand/efficient-transform-of-large-svg-surfaces

[code]

It seems to crash on Expo when using Android. But works fine with the latest react-native and react-native-svg versions at least.

Do you

[2019-02-19 23:34] msand commented on #931
I was thinking more in terms of code, could you copy paste the code you used for that video?

[2019-02-20 02:13] Ayiga opened #948 "Android SVG.toDataURL Rendering results in indexOutOfBoundsException"
Greetings,

When I attempt to render a hidden SVG using toDataURL I fairly consistently end up with an java.lang.IndexOutOfBoundsException.  However, I do not encounter it at the same index consistently.

I have narrowed the exception down to being involved in `GlyphContext.popContext` every time.  However, I'm uncertain how the `ArrayList`s that are involved are getting out of sync with the `mTop

[2019-02-20 06:50] TheSoma300 commented on #832
Can we please reopen this issue as I am experiencing infuriating amounts of problem trying to add images for backgrounds for slices in a pie chart. tried clearing caches, relinking nothing worked.

[2019-02-20 07:04] emilany opened #949 "Add gap between pie chart slices"
I'm trying to render a pie chart through an svg with a gap/line between the slices, but I'm not currently getting the right results. [This](https://i.redd.it/5xitof5uxhh21.png) is how it should look like.

This is how I've done the component, this is with reference to this [medium](https://hackernoon.com/a-simple-pie-chart-in-svg-dbdd653b6936) post.

[code]

This is currently rendering a circular

[2019-02-20 08:27] Joktaii commented on #931
Sure, sorry for the misunderstanding. Though the code is practically the same code I gave within my initial comment.

import React, {Component} from 'react';
import { StyleSheet, Text, View} from 'react-native';
import SvgFootballUk from "./FootballUK"

const Home = () => {
 return(

    <View
    display = "none"

        <Text style = {styles.text}> Testing display attribute </Text>
        <Tex

[2019-02-20 12:20] msand commented on #832
Why open an issue about the pattern element if you have problems with the image element?

[2019-02-20 13:56] msand commented on #948
Very interesting. I wonder if it's being render twice at the same time, once by the normal view hierarchy, and once by the toDataUrl call. Could you try doing the call in the ref callback, like this:
[code]
Alternatively, try doing the rendering a bit later using a setTimeout. I'll try running the code later. If you find any way to trigger it reliably, please let me know.

[2019-02-20 14:25] msand commented on #949
Perhaps something like this: https://snack.expo.io/@msand/restless-fudge

[code]

[2019-02-20 16:39] Ayiga commented on #948
@msand I just woke up this morning, and I came to the conclusion that it *must* be executing the same code at the same time, as you suggested.  Once to draw the element in the hidden view, and another time to try and render the element as a string.

It would also explain the other errors that some people are getting on `Android`, as I have also been encountering them.

https://github.com/react-nat

[2019-02-20 18:18] jpamarohorta commented on #891
No, I'm using a project with native modules. I'm not using the last RN version so I'll update it to the latest and give feedback. Thanks!

[2019-02-20 20:04] msand commented on #948
I guess making a Lock on the root svg element and acquiring it in the root render and the toDataUrl method should ensure that only one render pass is active at any one time.
https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/locks/Lock.html

[2019-02-20 20:07] msand commented on #948
Or, just making SvgView.drawChildren synchronized

[2019-02-20 20:16] msand commented on #948
@Ayiga can you try with https://github.com/react-native-community/react-native-svg/commit/fdd8f93dac675263c1aed741f0d137345cdc1498

[2019-02-20 23:02] Ayiga commented on #948
@msand So with [fdd8f93](https://github.com/react-native-community/react-native-svg/commit/fdd8f93dac675263c1aed741f0d137345cdc1498) I end up getting an error from react-native upon invoking `toDataURL`.  It looks like react-native doesn't much appreciate method overloading as the Error states: `RNSVGSvgViewManager.toDataURL got 2 arguments, expected 3`.

If I rename the `toDataURL` method that al

[2019-02-21 10:15] oleksandr-dziuban commented on #570
@msand Hello,I used a link as npm dependency from github to use your latest fix for text alignment/kerning with letter spacing. Just noticed that we have incorrect behaviout for text with textAnchor="middle" after these fixes. Not aligned text is rendered like textAnchor="start", it is shifted to initial position even if we have textAnchor="middle" for it. Thanks

[2019-02-21 11:55] msand commented on #570
@oleksandr-dziuban Can you provide a reproduction?

[2019-02-22 11:37] msand commented on #948
@Ayiga I suspect there will still be concurrency issue in your patch, the drawChildren method will need to be synchronized at the very least, but the toDataUrl method which has a custom size on the canvas will also need to be synchronized, and, it will need to call
[code]
As the first and the last thing it does. Otherwise, any paths which have % units dependant on the width, height or diagonal, wi

[2019-02-22 13:16] AdamGerthel commented on #939
I have the same problem, and have a Snack that reproduces it: https://snack.expo.io/@insats/bug-react-svg

![feb-22-2019 14-16-08](https://user-images.githubusercontent.com/1490370/53244903-76fbd080-36ac-11e9-8f6d-13ad3fdec2a7.gif)

[2019-02-22 13:19] msand commented on #948
Also, if the GlyphContext pop is called a different number of times than push, then it's a bug and it should certainly throw an exception.

[2019-02-22 14:28] MeisterTea opened #951 "Animated Path d attribute"
Hi, I stumbled onto this issue regarding my problem: https://github.com/react-native-community/react-native-svg/issues/908
In my case, I would prefer to use the react native animated library and not react-native-reanimated.
I woule like to interpolate on multiple points from an animated.Value() and forge my d attribute from it.

Is it supported ?

Maybe is there a better way, I want to have a 'ris

[2019-02-24 01:04] Carnage4Life commented on #932
This issue was closed without a solution. How does one resolve this issue if using Expo?

[2019-02-24 10:28] emilany commented on #949
@msand Managed to display the gap between the slices through calculating the offset like you showed above. Really appreciate it, thank you :smile:

[2019-02-24 10:28] #949 closed

[2019-02-24 10:50] msand commented on #932
You use the version of react-native-svg that comes built into expo. And if you need a newer version, you either eject from expo or request them to upgrade the dependency.

[2019-02-25 13:53] avet-m opened #952 "Horizontal gradient"
HI.
I am trying to create horizontal gradient without  smoothy transition

Smth like this
<img width="107" alt="screenshot 2019-02-25 at 16 51 18" src="https://user-images.githubusercontent.com/16869204/53341829-a6654400-391d-11e9-9928-75dac1519872.png">

When I set equal values for offsets of second and third stop(e.g 50%), I see only black rectangle
If I set for second stop 49% and for third 50%

[2019-02-25 17:47] springroll12 commented on #848
Tested this on android today and all seems well. I think it's safe to say this is fixed!

Thanks @msand !

[2019-02-25 19:18] msand commented on #952
How about
[code]
Or just using two Rect elements?

[2019-02-25 21:23] msand commented on #951
If you're fine with using Animated without useNativeDriver, then it should work as is. If you want the native driven animation, you'll need to use a PR a made but didn't get merged yet/hasn't been rebased to the latest version of react-native: https://github.com/facebook/react-native/pull/18187
If you'd be available to work on that PR it would be greatly appreciated!

[2019-02-25 23:12] msand commented on #951
I just tried rebasing to the latest 0.59 release candidate and it seems to work fine in both iOS and Android.

You can try it using: `yarn add react-native@msand/react-native#f462f97`

Commit:
https://github.com/facebook/react-native/commit/f462f97598b38d2071e569a37fc2c24acb7a744f

Branch:
https://github.com/msand/react-native/tree/native-animated-string-interpolation-RN059

Diff to react-native 0

[2019-02-26 02:00] Ayiga commented on #948
@msand there may be concurrency issues.  To be honest I wrote the patch just to get things working and I committed it after the fact, so it doesn't have the changes from the patches you were working on.

Also, to be fair my patch still gets the `width` and `height` issue occasionally as well, so in an attempt to counteract that issue, I added a small delay before retrieving the data URL.  However,

[2019-02-26 04:43] scottmas commented on #885
@ksesong Could you elaborate on how that would be accomplished by flattening the transformation? I don't need to animate the transform and am interested in finding a workaround.

[2019-02-26 08:42] ksesong commented on #885
The path data is updated once you flatten the transformation, so the stroke width does not get impacted by the transformation; instead of having `stroke > transform` which transforms the stroke, you get `transform > stroke` (as the transform is integrated into the path data), so the stroke won't get scaled.

[2019-02-26 10:37] lecramfriedrich opened #954 "undefined is not an object (evaluating 't.stop')"
Hey,

I see the following crash. I was not able to reproduce it yet. Maybe you can help me find the cause.
It appeared, since I build an own APK for arm64-v8a.

[code]

[code]

[code]
And the following Crash:
[code]

Unfortunately I am not able to reproduce it.

[2019-02-26 15:14] scottmas commented on #885
That makes sense. Would you mind doing a pseudo code example though to make sure I'm understanding correctly? Googling "flatten svg transform" doesn't turn up a whole lot that an SVG novice like me can make sense of.

[2019-02-26 16:16] scottmas commented on #885
Also, for what it's worth here's a gist to enable the x and y dimensions to scale independently, leaving the stroke width unaffected: https://gist.github.com/scottmas/1f662871ed60043bb14a9af4a3fcd3b0

Basically, it's a node script to convert an svg file like so:
[code]
Into a parameterized React Component like so:
[code]
It does this by understanding what numeric values are defined along the x axi

[2019-02-26 16:58] maketroli commented on #939
Hi @AdamGerthel, I opened an issue here -> https://github.com/expo/expo/issues/3587
Can you please do `+1` or something like that so Expo people see we need this update.

cc @msand

[2019-02-26 17:21] AdamGerthel commented on #939
@maketroli

Added +1. Have you looked at my Snack in my comment above? Have you tried the solution there, i.e. to not use groups?

[2019-02-27 01:58] msand commented on #885
How about something like this? https://snack.expo.io/@msand/non-scaling-stroke-work-around

[code]

[2019-02-27 11:01] volov157 commented on #584
I got the same error when I use  react-native-sqlite-storage , only this website solve my problem ,
https://github.com/react-native-community/react-native-camera/blob/master/docs/GradleUpgradeGuide.md

[2019-02-27 17:43] scottmas commented on #885
I don't follow you msand. The point is that we don't _want_ to preserve the aspect ratio. We want to stretch the vector in any direction and still preserve the stroke width.

[2019-02-27 17:56] msand commented on #885
@scottmas Then how about `preserveAspectRatio="none"`?

[2019-02-27 17:57] msand commented on #885
Oh, now I got you, was a bit confused when you weren't even using stroke in your example.

[2019-02-27 18:01] scottmas commented on #885
Yeah, sorry about that. I was just trying to not clutter up the issue with an excessively long code snippet. The original SVG looks like so:
![screen shot 2019-02-27 at 10 58 51 am](https://user-images.githubusercontent.com/2257337/53511965-ce1fed80-3a7e-11e9-88f8-19c8a67f6b72.png)

And when stretched looks like so:
![screen shot 2019-02-27 at 10 58 38 am](https://user-images.githubusercontent.com

[2019-02-27 18:04] scottmas commented on #885
What would be involved in supporting vector-effects? Mostly just configuring and exposing functionality in the underlying mobile platform svg libraries?

[2019-02-27 18:08] msand commented on #885
All the logic is in house, we only use what is exposed by the operating systems. I think this would require applying the current transform matrix (CTM) to the path, and applying the inverse to the CTM (to make it the identity transform), before filling and stroking it, and restore the rendering context to the previous state as usual. Not completely sure if this covers all of it, but from at least

[2019-02-27 18:29] msand commented on #885
@scottmas Would you be willing to work on this? Are you more familiar with java or objective-c?

[2019-02-27 18:45] scottmas commented on #885
I'm probably the last person you'd want working on this. But @miles-canfield, you think you could take a stab at this?

[2019-02-27 18:50] scottmas commented on #885
I've never hacked on a RN library with native integration. Any tips and tricks msand?

[2019-02-27 19:23] msand commented on #885
I've implemented it for Android here, could you try it out? https://github.com/react-native-community/react-native-svg/commit/ffb04c84143c506a6f5cde8bb97ff9fab09d1595

So, the iOS implementation is missing, and mainly consists of porting the changes from RenderableView.java [android/src/main/java/com/horcrux/svg/RenderableView.java](https://github.com/react-native-community/react-native-svg/commit

[2019-02-27 19:26] msand commented on #885
Working on the iOS version requires no changes on your part, if you're already able to open the project in xcode and start it from there. Just make modifications to the obj-c files in the ios folder of react-native-svg, and rebuild to test the changes.

[2019-02-27 20:09] msand commented on #885
@scottmas Implemented ios here: https://github.com/react-native-community/react-native-svg/commit/1b050834d5c4a8410054bbdbe18470c561325349
Can you try the vector-effect branch?

[2019-02-27 20:13] msand commented on #885
Tested using this:
[code]

ios:
![simulator screen shot - iphone xr - 2019-02-27 at 22 11 26](https://user-images.githubusercontent.com/1131362/53519775-b70fe880-3adc-11e9-8eb4-a0923c1e1d5d.png)

android:
![screenshot_1551298348](https://user-images.githubusercontent.com/1131362/53519817-d27af380-3adc-11e9-8bf5-d26c2a9ed4a1.png)

[2019-02-27 20:43] msand commented on #885
Oh, forgot to add the header file for ios: https://github.com/react-native-community/react-native-svg/commit/014e2375fa4b73feb98cea3a4d69700c4df32514

[2019-02-27 21:22] scottmas commented on #885
Wowz, you are one quick wizard of code msand. Me and Miles didn't even have the chance to look at it. I got your example working perfectly on ios and Android by just pointing my package.json to the vector-effect git branch. If you feel good about this branch not causing any regressions or other effects, I'd say it looks good to merge.

I even checked that that when scaling the svg by setting the t

[2019-02-27 21:34] scottmas commented on #885
Oh also, we should probably update the typings.
[code]

[code]

[2019-02-27 21:45] msand commented on #885
@scottmas You can even make the changes and a pr here in github if you're interested: https://github.com/react-native-community/react-native-svg/edit/vector-effect/index.d.ts
Otherwise, click the fork button, clone the repo, make the changes, commit, push to your own repo, and open a pr, would be the normal workflow for larger commits.

[2019-02-27 21:50] msand commented on #885
@scottmas Could you check that hitTesting/onPress behaves as you would expect? especially edge cases (a little bit inside or outside the filled paint or stroke).

[2019-02-27 21:52] msand commented on #885
I suspect the points will need to be transformed a similar amount as the paths, but not sure how all this will interact, would have to do some testing and read/step thru some of the code again.

[2019-02-27 21:54] msand commented on #885
Could probably just store the coordinates when the hitTest logic enters the Svg root, and use those when deciding if paths with nonScalingStroke have the points inside their paint regions or not.

[2019-02-27 22:01] scottmas commented on #885
Hmmm, I actually can't detect any real difference in the hit target if non-scaling-stroke is present. No matter what, I can only trigger touches if I go a few pixels inside the SVG, we're talking like 4 pixels maybe. If that's the current behavior for adding `onPress` to an SVG element, it seems minor to me.

If you're pretty sure there is a difference in behavior with non-scaling-stroke you'd hav

[2019-02-27 22:44] kev71187 opened #956 "Constructing a polygon with holes doesn't work if the coordinates are both in the same direction"
When I draw the polygon in the same direction. IE clockwise clockwise. The resulting polygon fills both polygons.
![image](https://user-images.githubusercontent.com/2372855/53528317-473b3700-3ab7-11e9-9e54-d66eb5670657.png)

[code]

When I construct a polygon with path with two polygons and each polygon rotates in a different direction the result is as expected. The inside triangle stamps out the

[2019-02-27 23:02] msand commented on #956
This is called the winding rule in vector based graphics, specifically the non-zero fill-rule in svg. There's also the even-odd value you might want to explore:

https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/fill-rule
https://svgwg.org/svg2-draft/single-page.html#painting-WindingRule

https://oreillymedia.github.io/Using_SVG/extras/ch06-fill-rule.html
https://www.sitepoint.com/underst

[2019-02-27 23:10] msand commented on #954
What version is this? At least the latest code doesn't have a single occurrence of `.stop` anywhere in the code. So can be very recent. Could you try upgrading?

[2019-02-27 23:11] scottmas commented on #885
Ahh, okay. I put the onPress handler on the top level SVG originally. So that's still a thing if you are worried about it.

But when I put the onPress handler on the actual Line, I get the behavior you're describing. The hit area on the `non-scaling-stroke` element is as large as it would be if the vector-effect were none.

[2019-02-28 00:36] kev71187 commented on #956
Awesome! thanks for the references

[2019-02-28 00:36] #956 closed

[2019-02-28 01:02] maketroli commented on #939
So, you say that doing these functions:
[code]
And then calling them inside the rest of the SVG work for you?

I didn't get that part.

@AdamGerthel

[2019-02-28 04:20] ManigandanRaamanathan commented on #255
@msand when will we have the shape rendering support? @joecaraccio did you find your solution?

[2019-02-28 04:33] msand commented on #255
Try increasing the size of your viewBox perhaps? Do you want sharper/crisper edges or faster rendering? Can you post a reproduction showing issues?

[2019-02-28 04:47] ManigandanRaamanathan commented on #255
@msand I want to make the edges smooth. On the real device the edges are crisp.

This below is my code for svg:-

`
<Svg width={mask.width + 20} height={window.height/2.3}>
                                {/* <Path
                                    fill={mask.bgColor}
                                    d={`M375,51.1V-0.4c-46,24.8-113.2,40.5-188,40.5c-74.3,0-141-15.4-187-40v51H375z`}

[2019-02-28 06:15] ManigandanRaamanathan commented on #255
@msand the above is the code I'm using

[2019-02-28 08:01] gh357550318 commented on #940
error while updating property 'transform' of a view managed by : RNSVGGroup

Value for transform cannot be cast from String to ReadableArray ??

what happend??

dear

[2019-02-28 11:40] gh357550318 commented on #940
@msand
i'm sorry ！
I still didn't succeed.

`import React, { Component } from 'react';
import { Animated, Easing } from 'react-native';
import Svg, { G, Text, Rect,Image } from 'react-native-svg';

const AnimatedSvg = Animated.createAnimatedComponent(Svg);
export default class CutterSvg extends Component {
  constructor() {
    super();
    this.RotateValueHolder = new Animated.Value(0);
 componen

[2019-02-28 12:56] msand commented on #940
Can you try with e.g. the latest commit from the [vector-effect branch](https://github.com/react-native-community/react-native-svg/tree/vector-effect) e.g.:
`yarn add react-native-svg@react-native-community/react-native-svg#dc94707`

[2019-02-28 13:05] ndiyansah commented on #929
Did you find the answer? i have same issue @FransTwisk

[2019-02-28 15:56] AdamGerthel commented on #939
@maketroli Yes. If you look at what's different between the two, it's basically only that `
renderLocations`, which is bugged, has a group element surrounding the circle element.

[2019-02-28 17:45] maketroli commented on #939
Yeah, I'll give it a try in a few days. Thanks, @AdamGerthel.

[2019-02-28 17:50] jpamarohorta commented on #891
Sorry my issue was apparently related to a missing transform attribute in the Image. Thanks!

[2019-03-01 01:26] gh357550318 commented on #940
This is not the answer I want.  oh

[2019-03-01 04:17] Dellamoresteven opened #957 "SVG's not loading when I render multiple times, React Native"
I am currently trying to re-render a page a few times in react native, after the fourth or so re-render it stops showing the svg's.

Is anyone else having this problem and or have a solution??

My Dependencies
    "expo": "^32.0.0",
    "http": "0.0.0",
    "react": "^16.5.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz",
    "react-native-dialog": "^5.5.0",

[2019-03-01 08:03] FransTwisk commented on #929
I'm mocking it like @seanhenry suggested.

[2019-03-01 11:19] msand commented on #940
Btw, if you're only rendering png images and text, why not use the react-native Image and Text components? And react-native style transforms on that? It's likely to be more efficient anyway.

[2019-03-01 11:31] gh357550318 commented on #940
i had used react-native Image and Animation,
but this Images cover my svgrect and svgtext.
maybe i need zIndex, but use zIndex not succeed,
@msand

[2019-03-01 11:36] msand commented on #940
Should be enough to have the image render before the text in document order. I'll take a look at your example when I have a bit less urgent schedule.

[2019-03-01 11:39] gh357550318 commented on #940
ok
Express thankfulness

[2019-03-01 13:28] #957 closed

[2019-03-02 01:51] gaodeng opened #959 "version 6.5.2 works,but version 9.2.4 crash with uncaught exception 'NSUnknownKeyException', reason: '[<RCTView 0x7fbd7aecf380> valueForUndefinedKey:]: this class is not key value coding-compliant for the key active.'"
[code]

[2019-03-02 20:44] aleclarson opened #960 "Rename "responsible" property to "interactive""
I don't think the name `responsible` conveys what the property is for. I had to use `git blame` to figure it out from the related commit message. I see the old name used to be `touchable`, which I think is better, but perhaps `interactive` would be best? Another option is to use `userInteractionEnabled` (a property of `UIView`).

🚲 🏚

[2019-03-03 05:33] msand commented on #929
I tried setting up some end-to-end tests here in case you're interested: https://github.com/msand/react-native-svg-e2e

[2019-03-03 05:33] msand commented on #776
I tried setting up some end-to-end tests here in case you're interested: https://github.com/msand/react-native-svg-e2e

[2019-03-03 06:37] phosphene commented on #776
thanks! I will check it out.

On Sat, Mar 2, 2019 at 9:33 PM Mikael Sand <notifications@github.com> wrote:

[2019-03-03 23:02] liron-navon opened #961 "Build errors in android "facebook.infer.annotation""
Steps to reproduce:
[code]

Errors
[code]

If I uninstall react-native-svg, it works fine, if I use another native module like react-native-webview it works fine.

[2019-03-04 09:48] lecramfriedrich commented on #954
Hey, sorry for the late response.
I have 8.0.10 installed.
I reuploaded my apks this time without own build APK for arm64-v8a. Since then the crash is gone.

It seems, that is crashes only when build for arm64-v8a. The problem is, that Google Play requires this starting from 1. August 2019

The fear I have is, that the crash occurs again.

[2019-03-04 14:28] kelset commented on #929
Can confirm that adding that mock file works - thanks @seanhenry.

[2019-03-04 15:23] TheSoma300 commented on #832
It's not the Image element. Just having an empty or with a standard triangle Path within the <Patter> tag causes error:

'''
        <Svg.Defs>
                <Svg.Pattern
                    id="TrianglePattern"
                    patternUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="100"
                    height="100"

[2019-03-04 16:09] TheSoma300 opened #962 "Svg - In this environment the sources for assign MUST be an object."
Hi, I'm having difficulties getting the Svg working after updating from base expo to bare version to have full control (Pattern did not seem to work in base version). But once I installed the latest version, I got this error message. Any help would be appreciated thanks!

[2019-03-04 16:45] kay-is commented on #821
Could try it today with 9.2.4

Worked like a charm, thanks.

[2019-03-05 06:16] gaoxing964 commented on #463
Unfortunately, l encountered this annoying problem too. l have resolved this problem by cloning this project in a new dir.

[2019-03-05 06:22] gaoxing964 commented on #463
l have resolved this problem in two ways. one is you clone your project in a new dir and another is execute
`yarn start -- --reset-cache `

[2019-03-05 16:02] yassinecc opened #963 "Use webp assets in Image component"
The following code results in a blank display on iOS:

[code]

Looking at native iOS code, I see that the image source is loaded with `RCTImageSource *source = [RCTConvert RCTImageSource:src];` with RCTConvert not supporting webp.

Is there a way to override this behaviour and use webp sources in SVG images?

[2019-03-05 18:42] msand commented on #776
Having a bit of trouble getting e2e test to work on android in travis-ci and bitrise. Works fine locally on both android and ios. And, now I think I found a workaround for travis at least: https://travis-ci.org/msand/react-native-svg-e2e/builds/501950972
But haven't got android tests to work on bitrise a single time yet. Also opened an issue in the detox repo: https://github.com/wix/Detox/issues/1

[2019-03-05 18:56] phosphene commented on #776
Interesting.

On Tue, Mar 5, 2019 at 10:42 AM Mikael Sand <notifications@github.com>
wrote:

[2019-03-05 19:08] msand commented on #821
Excellent, happy to hear!

[2019-03-05 19:15] msand commented on #929
I have jest working with detox e2e tests on travis ci here: https://travis-ci.org/msand/react-native-svg-e2e/builds/501950972
Code: https://github.com/msand/react-native-svg-e2e
Locally it works well for taking screenshots too. For iOS I have screenshots working in bitrise as well. Haven't got android e2e tests working there yet (builds work fine), and haven't tried making screenshots work in trav

[2019-03-05 20:04] msand commented on #929
It seems we could provide a mock implementation in a __mocks__ folder: https://jestjs.io/docs/en/manual-mocks.html
https://jestjs.io/docs/en/tutorial-react-native#mock-native-modules-using-jestmock
Something in the style of:
[code]
We could probably provide setters in the files in elements folder, allowing to override the native component with a mock, thus enabling to snapshot even the values sent

[2019-03-05 20:50] msand commented on #929
These might interest anyone working on this:

https://github.com/facebook/react-native/blob/7da864284997109a37bbef739289c5e6e8d0514e/jest/setup.js

https://github.com/facebook/react-native/blob/7da864284997109a37bbef739289c5e6e8d0514e/jest/mockComponent.js

[2019-03-05 21:01] msand commented on #963
I haven't looked at webp support, have you tried any of these? https://github.com/TGPSKI/react-native-webp-support/network

[2019-03-06 02:13] DouDouLee commented on #959
I run into the same issue when having react native animation in svg. The app crashed with same error after I clicked the svg chart
    "react": "16.6.1",
    "react-native": "0.57.5",
    "react-native-svg": "^9.2.4"

[2019-03-06 08:12] folofse commented on #150
I created a drop shadow plugin for React Native Android which creates a bitmap representation of the view and blurs it with a color and opacity. Feel free to use the code, maybe this can help you with the shadow / blur plugin. It works if I wraps the svg in the Androw component.

https://www.npmjs.com/package/react-native-androw
https://github.com/folofse/androw/tree/master/react-native-androw

[2019-03-06 09:29] yassinecc commented on #963
@msand well we already support webp in our app with SDWebImage but I haven't tried tweaking react-native-svg's code if that's what you meant

[2019-03-06 12:38] msand commented on #959
Can you make a reproduction?

[2019-03-06 14:35] #962 closed

[2019-03-06 14:44] msand commented on #776
Managed to get x86 and x86_64 android images running on travis using the latest android emulator canary, which now works in headless mode without hardware acceleration / kvm support: https://travis-ci.org/msand/test_emulators/builds/502382369

[2019-03-06 14:44] msand commented on #929
In case anyones interested, I managed to get x86 and x86_64 android images running on travis using the latest android emulator canary, which now works in headless mode without hardware acceleration / kvm support: https://travis-ci.org/msand/test_emulators/builds/502382369

[2019-03-06 16:13] msand commented on #776
Got android working on bitrise now as well: https://app.bitrise.io/build/c31c1a40907cd137

[2019-03-06 16:13] msand commented on #929
Got android working on bitrise now as well: https://app.bitrise.io/build/c31c1a40907cd137

[2019-03-07 13:45] msand commented on #929
Btw, have you looked at these?
https://github.com/react-native-community/react-native-svg/issues/198

https://gist.github.com/JCMais/8302a1646ccc9759237947a66bdda8e0

https://github.com/FormidableLabs/react-native-svg-mock

[2019-03-07 23:31] ltegman commented on #858
@msand I can't speak to what @wokkaflokka was using sourceSets for, but at my company this is a desirable alternative to adding a project in `settings.gradle` because we're working within a large existing android codebase where the workflow is gradle based. Following the usual method of adding a project to `settings.gradle` causes the build to fail if developers don't run a `yarn install` before t

[2019-03-08 02:33] vadermemo commented on #161
Closed? really? This is a huge bug!

[2019-03-08 05:16] lunvjp commented on #109
it's not working well with mine now.
* As getting this issue for now
### This is IOS Simulator screen

<img src="https://user-images.githubusercontent.com/23715737/54008811-ceb13600-419a-11e9-963e-cb67499ce680.png" width="50%" height="auto">

### This is How I implement your solution
[code]

### This is How I create `.babelrc` file like you make
[code]

### Updated
* Installed `metro-react-native-

[2019-03-08 06:21] msand commented on #161
@vadermemo Are you able to reproduce this issue with the latest version? E.g. inside this project: https://github.com/msand/react-native-svg-e2e

I don't have access to any iPhone, so it's a bit hard for me to test this in any way, and therefore quite hard to fix in case there are issues remaining. But, at least if you can make a reproducible demo e.g. fork the e2e test repo, then we should certai

[2019-03-08 06:26] msand commented on #109
@lunvjp What versions are you using?

[2019-03-08 06:30] msand commented on #858
@ltegman Interesting, are you saying you have gradle task running `yarn install` as a command-line, to avoid having android developers run an additional command? I guess this applies even in a plain react-native project without any extra modules then? Or how would you have anything in node_modules otherwise?

[2019-03-08 07:40] AlexMachin1997 commented on #918
@msand Have been able to resolve this issue? Did you start an issue on react-navigation?

[2019-03-08 07:45] jakks-team commented on #918
Not sure what you mean.
This is an issue on react-native-cli **not** react-navigation.
And no, I didn't start an issue there. I somehow manage to fix it myself by just changing the "\" on the settings.gradle to "/" and the problem fixes itself.
This was a problem caused by "react-native link react-native-svg" command.
Which by-itself is not what "react-native-svg" have control over.

[2019-03-08 12:26] lunvjp commented on #109
[code]
* This is my info.
* And all is good with me until now. I used this package `react-native-svg-transformer` and it worked!

[2019-03-08 23:19] #943 closed

[2019-03-09 15:46] kaszona commented on #584
Just delete the whole android folder and run a command to add.

[2019-03-10 16:47] yairopro opened #964 "Error while updating property 'bbWidth' of a view managed by: RNSVGSvgView. Value for bbWidth cannot be cast from Double to String."
react-native-svg: 9.2.4
react-native: ^0.57.5

![Screenshot_1552236254](https://user-images.githubusercontent.com/8110568/54088250-bee54d80-4364-11e9-8459-268046f10882.png)

[2019-03-10 17:33] msand commented on #964
Can you provide a reproduction?

[2019-03-11 00:46] msand commented on #948
Can you try with the develop branch, I've made some fixes to toDataUrl and am hoping it would resolve your issues as well.

[2019-03-11 00:49] msand commented on #855
@msageryd Can you try with the develop branch? I think i have it working correctly now:

[code]

[2019-03-11 00:50] msand commented on #855
Btw, I've added support for calling toDataUrl already in the ref function, don't have to wait for onLayout in javascript anymore.

[2019-03-11 02:37] #961 closed

[2019-03-11 02:45] msand commented on #961
@liron-navon Can you try with the latest version v9.3.1? It should be fixed there.

[2019-03-11 02:48] msand commented on #954
Please try upgrading to the latest version

[2019-03-11 02:52] msand commented on #960
I think responsible is a reference to GestureResponser / PanResponder, perhaps isActiveGestureResponder would be more descriptive. What do you think?

[2019-03-11 10:41] msageryd commented on #855
Sorry for the delay on my side, I'm swamped for the moment..
Trying this out right now, but It's not working for me.

Everything seems to work as usual if I omit the size object in the toDataUrl call.

When I apply a size object the following happens:
1. The svg image gets cropped, not resized
2. The size is still 3x the size I enter (in simulator with iPhoneX device)

[2019-03-11 13:29] msageryd commented on #855
More info..

- If I specify a viewBox to cover the size of the svg I get rit of the cropping problem
N.B.1. If I don't supply your new size parameter to toDataURL there is no need for a viewBox
N.B.2. There seems to be no need for `width='100%` and `size='100%`, is 100% implied?

- The output size is still 3x the size I specify in the size parameter

[2019-03-11 13:53] msageryd commented on #855
Kind of works..

- If I draw a simple rect in the Svg, this rect will be included in the base64 output.
- More advanced rendering is not included (In my case a map of special svg-components is missing). Maybe because of the async nature of .map()?

If I call `toDataUrl` in onLayout, all components are included in the base64 output.

[2019-03-11 15:35] oleksandr-dziuban commented on #570
@msand Hello, if I set to any text justa textAnchor="middle" - I see that text is shifted right. Also TSpans are aligned to left side, instead of middle alignment
![2019-03-11_1733](https://user-images.githubusercontent.com/5430640/54136216-07b00b80-4424-11e9-92b0-c849d6bc857b.png)

[2019-03-11 15:41] oleksandr-dziuban commented on #570
@msand From v.9.2.4
Top text is single line with textAnchor="middle"
Main text is multiline with textAnchor="middle" with TSpans

![2019-03-11_1740](https://user-images.githubusercontent.com/5430640/54136594-c704c200-4424-11e9-827e-43881b064e63.png)

[2019-03-11 16:24] msand commented on #570
@oleksandr-dziuban Could you provide a reproduction?

[2019-03-11 16:34] oleksandr-dziuban commented on #570
@msand This code is under NDA, but I will prepare a clean app maybe. It should be just a <Text> with textAnchor="middle" and x, y coords

[2019-03-11 23:18] msand commented on #570
Yeah a minimal reproduction would be great. The smaller the better.

[2019-03-12 09:36] lunvjp commented on #900
How about the `fill` props in this way?
I'm working on this thing for now as well.

[2019-03-12 15:22] legion-zver opened #966 "On version 5.3+ Animation stopped normal working through createAnimatedComponent"
RN 0.58+

[code]

With the 5.2.4 version everything works as expected, the cache NPM brushing tried, does not help

[2019-03-12 16:36] msand commented on #900
It uses [SVGR](https://www.smooth-code.com/open-source/svgr/playground/) under the hood, and it produces components looking like this:
[code]
So, if you have elements where you haven't defined fill or stroke, then they'll inherit from their ancestors, and if you give a value to the SvgComponent, it'll give it to the Svg root and thus inherit from there. There is also the color property you can use

[2019-03-12 19:56] yairopro commented on #964
I don't know how the problem disappeared. I can't reproduce it.
I close the issue.

[2019-03-13 09:04] msageryd commented on #855
@msand I'm sorry, but this version gets me into more trouble. Somehow my since long trusted rendering loop is now delayed at least one tick. My SVG objects are not rendered until I pan the screen, i.e. forces a re-render. The first render doesn't seem to happen.

This part in my app has been stable for a long time, so I suspect something fishy is going on in your develop branch. Do you have any cl

[2019-03-13 13:05] msand commented on #855
This sounds quite strange, relatively little has changed in the code since v9.2.4
There's three main changes, the toDataUrl with options, vector-effect: non-scaling-stroke, work on text alignment, and then there has been some minor js optimizations. My first suspect would probably be the text logic changes.
But nothing should have changed when the rendering happens. Possibly there is more reuse of

[2019-03-13 13:09] msand commented on #855
I'll probably need to port the logic from android to ios, for handling the case where not all your content is rendered yet. Android needed it even for small amounts of content, the view creation commands would be in the queue when toDataUrl gets called, and even putting it in the end of the queue then wasn't enough. So it needs to be queued to happen only when the rendering is actually done.

[2019-03-13 13:12] msageryd commented on #855
In that case I suspect that something was lingering in my cache again. The cache seems to bite me quite often when I jump in and out of different versions libraries. I've just found some new magic that might help. I'll give it a go later today and report back here.

The new magic:
`rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-map-*`

It seems that the cache is problematic for more than me. I rea

[2019-03-13 20:18] bondparkerbond opened #967 "Upgrade to react-native 0.59 breaks react-native-svg"
Steps: Upgrade to react-native 0.59.0, build and run App, and get the following:
[code]
![IMG_0919](https://user-images.githubusercontent.com/13872438/54311604-8dee5e00-459a-11e9-8875-0ec23fb662dd.PNG)

[2019-03-13 20:42] bondparkerbond commented on #967
I upgraded react-native-svg from 8.0.10 to 9.3.3 and was able to build it for iOS. Since it appears to have been either an issue with an older version of r-n-svg or an issue with clearing out caches while upgrading I am closing this for now.

[2019-03-13 20:42] #967 closed

[2019-03-14 00:39] marcorm commented on #967
I did the same but now i'm getting #839 error

[2019-03-14 00:53] marcorm commented on #839
Same issue with:

- react-native-svg: 9.3.3
- react: 16.8.3
- react-native: 0.59.0

Cleaning cache doesn't help...

[2019-03-14 02:25] msand commented on #839
@marcorm I have it working fine in a clean react-native init at least, can you make a repro?

[2019-03-14 19:32] bondparkerbond commented on #967
@marcorm I think something like the following should help:
rm -rf node_modules
npm install
npm start -- --reset-cache

[2019-03-14 23:38] msand commented on #966
Can you make a reproduction? v5 is relatively old (from before I started maintaining). Please try clearing your cache more properly.

[2019-03-14 23:50] msand commented on #150
@folofse Great work!
That can probably be used for relatively many cases as a workaround for now, by splitting svg content into background, blurred/shaded parts, and foreground.

[2019-03-14 23:51] #848 closed

[2019-03-15 05:49] hend-elsahli opened #968 "this.svg.toDataURL crash on android"

[2019-03-15 05:55] #968 closed

[2019-03-15 16:09] chrisheninger commented on #621
Came across this thread debugging a separate issue– but I recently ran into this same problem and wanted to share in case it helps others.

It's a known issue that CocoaPods + React-Native is a current pain point. If you do a search in this thread for "cocoapods"– you'll see there's a lot of good discussion:

https://github.com/react-native-community/discussions-and-proposals/issues/104

tl;dr– Co

[2019-03-16 00:30] j-wang commented on #959
I'm getting the same with:

"react": "16.8.3",
"react-native": "0.59.1"
"react-native-svg": "9.3.3"

Totally recognize this is less useful than putting together a minimal reproduction (which I'll try to do a bit later after getting this release out...). The issue I'm seeing is actually on touching any SVG whose touch events aren't being grabbed by something else already. Trying to get the producti

[2019-03-16 00:37] msand commented on #959
@j-wang Interesting. Could you possibly have non svg elements inside the svg element?

[2019-03-16 00:42] j-wang commented on #959
Hmm... I have non-SVG elements alongside or above, but not within. I have some fairly minimal components where all I had in them were SVGs, Gs, and a Path.

I originally thought it was an issue with Animated or TouchableOpacity, but removing them didn't do anything to prevent the crashing from happening, and hitting a straight up curvy line still crashed the app. This is only on iOS, btw. Android

[2019-03-16 01:10] msand commented on #959
@j-wang Can you try the fix from here: https://github.com/react-native-community/react-native-svg/commit/ec9637bcc5b43633eaa3413c99001ac4da946104

[code]

[2019-03-16 01:41] j-wang commented on #959
Yes, fixed! Let me try a few more of them, but the "unit test" I had before is now no longer crashing.

[2019-03-16 01:58] gaodeng opened #969 "perfermance issue after update"
react-native from 0.57.8  -> 0.59
react-native-svg from 6.5.2 -> 9.2.4
after update  FlatList blanks out when scrolled quickly on android

[2019-03-16 03:10] msand commented on #959
Great! Well, then it certainly seems like you have non svg elements inside some svg element, otherwise this shouldn't be possible. Perhaps I should add some warnings in dev mode, giving some indication of what and where it is.

[2019-03-16 03:15] msand commented on #969
Not much to go on here. Can you make a replication?

[2019-03-16 03:24] msand commented on #832
Can you provide a complete reproduction?

[2019-03-16 11:05] farrukhhashmi65 opened #970 "Dynamically import SVG components in container"
I have multiple SVG component which uses react native svgs with event binding and I want to include it in our main container App.js by matching names or anything like that. How can I do that ?
It can be many so import all in one file and switch statements is not a good option.

[2019-03-16 12:25] ThakurKarthik commented on #749
is this solved?

[2019-03-16 16:57] msand commented on #970
If you want actual dynamic import, check random access modules: https://facebook.github.io/react-native/docs/performance#ram-bundles-inline-requires

If you just want to render based on a key, either store them in a object / map, or use import * as MySvgCollection from "./svg"
And export each component as a named export in a index.js file in the svg folder. Then in render, get your component and r

[2019-03-16 17:58] msand commented on #749
@ThakurKarthik At least it's working fine both locally, and in TravisCI with the latest versions: https://github.com/msand/react-native-svg-e2e/blob/master/.travis.yml
https://travis-ci.org/msand/react-native-svg-e2e/builds/504814136
https://app.bitrise.io/build/1cf98115859f41bf

[2019-03-16 20:17] kristerkari opened #971 "Using Image element's href as a string"
There is currently an issue when using the `react-native-svg-tranformer` to transform SVG images that have embedded images inside them.

SVG's `image` element defines the `href`/`xlink:href` as `attribute="value"` (string) ([link](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/image)), but `react-native-svg` is using the same format as React Native's Image component.

This means that whe

[2019-03-17 07:37] rahamin1 opened #972 "Question: draw circular text around an image"
Can anybody post an example of how to draw text around a circular image?

Something like the following:

![image](https://user-images.githubusercontent.com/15701347/54486943-1d945500-4898-11e9-980e-7c1d1ed78888.png)

Thanks in advance :)

[2019-03-17 09:14] alphashuro commented on #932
I am having this issue, and I am working on an ejected project. Cleaning the build in XCode did not help.

[2019-03-17 10:59] kristerkari commented on #971
3cff87f  fixes the problem for both remote images and base64 encoded images.

[2019-03-17 15:26] msand commented on #932
Try removing your node_modules, clear caches, install, and run again.

[2019-03-17 17:52] msand commented on #972
How about something like this: https://snack.expo.io/@msand/text-on-a-circle-path

[code]

[2019-03-18 06:59] ingmaras opened #973 "Dynamic paths within <G> don't update"
### The Issue
When `<G>` contains a `<Path>` and the path is dynamically changed, the path does not rerender.

In the following code, when `toggle` is changed, the path is meant to become longer.
[code]

However, this only happens in the second `Svg`, which does not use `<G>`.

![Simulator Screen Shot - iPhone X - 2019-03-18 at 06 55 35](https://user-images.githubusercontent.com/2716710/54512459-2

[2019-03-18 07:01] farrukhhashmi65 commented on #970
@msand Thanks, Can you please provide me any example of it

And export each component as a named export in a index.js file in the svg folder. Then in render, get your component and return it,

[2019-03-18 09:59] andriinegustorov commented on #973
+1

[2019-03-18 10:01] hend-elsahli commented on #948
I got the same error, which stable version i can use ... toDataURL() was working perfectly, and now through this error:

RNSVGSvgViewManager.toDataURL got 2 arguments, expected 3 .

[2019-03-18 10:06] atitpatel commented on #585
I could fix the issue by adding following code in android/build.gradle

[code]

[2019-03-18 14:39] rahamin1 commented on #972
@msnad Thanks a lot!
So the following is the result of the code that is attached below. How would you place the text above the image so that it is centered (as in my example in the first post, above)?
![image](https://user-images.githubusercontent.com/15701347/54538084-4dc51c00-499c-11e9-9374-a6838d37f6f6.png)

[code]

[2019-03-18 15:27] msand commented on #972
Try using a rotate transform:
[code]

[2019-03-18 16:02] rahamin1 commented on #972
Thanks @msand
Is there any good tutorial reference for all this magic?

Also, any idea why the following happens?
I tried to include the same code (see below) in a non-expo react-native application, and this is what I get:
![image](https://user-images.githubusercontent.com/15701347/54544283-edd47280-49a7-11e9-8b98-5010729037b5.png)

This is the code:

[code]

[2019-03-18 16:22] srfaytkn opened #974 "transform prop not working"
svg transform prop not working

[2019-03-18 16:40] msand commented on #970
Check here: https://snack.expo.io/@msand/playful-candies

[2019-03-18 18:12] msand commented on #973
I think I've fixed this now, can you try with v9.2.4 ?

[2019-03-18 18:20] msand commented on #972
You should use the image component from react-native-svg rather than react-native:
N.B. This code requires v9.2.4 I published some minutes ago, giving support to use images with urls as plain strings.
[code]

[2019-03-18 18:20] msand commented on #972
![Simulator Screen Shot - iPhone XR - 2019-03-18 at 20 20 41](https://user-images.githubusercontent.com/1131362/54553639-537e2a00-49bb-11e9-9ecf-45561bfe081c.png)

[2019-03-18 18:22] msand commented on #972
I would recommend reading the svg spec, it's relatively well written. And then just google for specific tutorials/working examples if you get stuck.

[2019-03-18 18:24] msand commented on #974
Can you make a reproduction with v9.2.4 ?

[2019-03-18 18:47] msand commented on #948
Can you try with v9.2.5 ?
This seems to work fine at least:
[code]

[2019-03-18 18:48] msand commented on #855
Can you try with v9.2.5 ?

[2019-03-18 18:54] hend-elsahli commented on #948
Thank you :) ... I tried with v 9.2.3 as well, and it works perfectly like before

[2019-03-18 19:03] ingmaras commented on #973
Just tried it and it indeed has been fixed. Thanks so much @msand!

[2019-03-18 19:03] #973 closed

[2019-03-18 19:33] srfaytkn commented on #974
I'm already using version 9.2.4.

[2019-03-18 21:48] kristerkari commented on #971
Fixed in v9.3.5

[2019-03-18 21:48] #971 closed

[2019-03-18 22:09] rahamin1 commented on #972
Thanks @msand , it works. Is it possible to display a circular image as in the following React-Native image?

[code]

[2019-03-18 22:45] msand commented on #974
Repro?

[2019-03-19 05:30] farrukhhashmi65 commented on #970
@msand Thank you so much. But How can we achieve lazy loading (React.lazy) with this approach, What if we have large svgs components or more that 50 ?

[2019-03-19 14:03] BabakSamimi opened #975 "Changing the opacity of a G-element"
Greetings, I have a small problem related to updating the opacity-attribute of a G-element. However, this is not done via regular elements. Instead, I'm using the react-native-svg-transformer to show my SVG.

Using:
"react": "16.8.3",
"react-native": "0.59.1"
"react-native-svg": "9.3.5"
"react-native-svg-transformer": "^0.12.1"

[code]

I'm not able to reveal what's inside the SVG-file due to NDA,

[2019-03-20 01:18] oleksandr-dziuban opened #976 "SVG tree is not re-rendering on iOS platform"
@msand Hi, just noticed in all latest versions that SVG tree is only rendering once. If we have dynamic behaviour (with Redux or even with local state) SVG tree will not be re-rendered on iOS. Android works fine as expected.

On version 9.2.4 everything is OK, on latest 9.3.5 issue is present on iOS.

I have:
react-native: 0.57.7
react-native-svg: 9.3.5
MacOS: 10.14.3
Xcode: 10.1

To reproduce it

[2019-03-20 01:34] oleksandr-dziuban commented on #570
@msand Hello, sorry for the delay, I prepared minimal reproduction. The problem exists on Android platform, iOS looks fine. So when we use ``textAnchor='middle'`` and/or  ``letterSpacing='<<more than 1>>'`` on Android whole multiline text is shifted right. Issue is only applicable for multiline text with TSpans.

On version 9.2.4 everything is OK (before your text position recalculation updates),

[2019-03-20 07:47] BabakSamimi commented on #976
Shouldn't it look like this?

[code]

[2019-03-20 08:42] oleksandr-dziuban commented on #976
@BabakSamimi You just changed state initialization from class property to constructor based. It is the same. Android app work correctly with my code, just iOS SVG tree doesn't re-render

[2019-03-20 08:45] BabakSamimi commented on #976
Right, my bad, I'm new to this React/JS world. However, I do want to state that I'm facing the same issue. My SVG-tree won't re-render after a call to setState either. I'm currently trying to solve it by wrapping my SVG-tree in a component and update it from a parent-component.

[2019-03-20 08:48] oleksandr-dziuban commented on #976
@BabakSamimi Yeah, this issue is present in a few latest versions. If I try 9.2.4 it's OK.
I have a production application with very complex SVG tree and a lot of components, so for me it will not work just to wrap parent component. I think something was broken in latest version and can be fixed quickly. We just need Mr @msand to help us :)

[2019-03-20 09:03] BabakSamimi commented on #976
I also have a somewhat complex SVG tree but downgrading to 9.2.4 works wonders for me, thank you. Hopefully this will be hotfixed soon.

[2019-03-20 09:50] MeisterTea commented on #976
Same here !

[2019-03-20 12:03] oleksandr-dziuban commented on #976
@BabakSamimi @MeisterTea @msand Interesting case I found with iOS app: if I install react-native v0.59.1 - SVG tree re-renders correctly in iOS app

[2019-03-20 12:39] BabakSamimi commented on #976
I use react-native v0.59.1, maybe it has to do with older RN? I can only guess.

[2019-03-20 12:44] ankardon opened #977 "Single TSpan misplaced after forced rerender"
Using TSpans, the position of the text does not match the expected position after rerendering. In this example, we force the "!" to be rerendered by changing its color, which unexpectedly changes its position on screen, too, while the other TSpans remain (not rerendered) remain at their original position. Interestingly, if we force every TSpan to rerender (by giving them the prop fillOpacity={this

[2019-03-20 14:48] jgcmarins opened #978 "-[RNSVGRenderable renderLayerTo:rect:] | Fatal Exception: CALayerInvalidGeometry | CALayer bounds contains NaN: [0 0; nan nan]"
Hello,

I got this error:

Stack:
[code]

**RN Version**: 0.59.0
**RN Svg Version**: 9.3.3
**iOS version**: 12.1.4

Thanks for this awesome lib \o/

[2019-03-20 19:58] oleksandr-dziuban commented on #976
@BabakSamimi Yep, you are right, it doesn't work on latest react-native@0.59.1 too.

[2019-03-20 21:47] juandiegombr commented on #940
Hello.

I arrived to this question after trying to animate the rotation of a Path in a Svg. I have tried the examples above in the expo playground.

I have noticed a difference between using Svg from expo and from 'react-native-svg'. In my plain react-native project I got the rotate animation in a Svg component but not in any of the children. Without expo, AnimatedG or any other Animated component

[2019-03-20 23:35] msand commented on #976
Hmm, seems to work fine for me with react-native@0.59.1 and react-native-svg@9.3.5 and iPhone XR 12.1 simulator. Can you make a reproducible git repo?

[2019-03-20 23:36] msand commented on #976
![Simulator Screen Shot - iPhone XR - 2019-03-21 at 01 35 49](https://user-images.githubusercontent.com/1131362/54725976-b0bfda00-4b79-11e9-8692-a931376c6610.png)

[2019-03-20 23:38] msand commented on #975
Convert it to a react component using https://svgr.now.sh and set the value using the props.

[2019-03-21 00:51] msand commented on #977
I think I've fixed this in the develop branch, can you try it? This bug reveals a weakness in the current glyph positioning calculation / caching. We should implement the text layout algorithm from svg 2.0 to fix this properly.

[2019-03-21 00:54] msand commented on #977
Alternatively, we could have different invalidation / cache clearing logic for property changes which affect glyph metric and ones which only affect color etc.

[2019-03-21 08:25] BabakSamimi commented on #976
Upgraded back to 9.3.5 with RN v0.59.1 and it still works.

It seems like the error was from my side, which I later corrected.

[2019-03-21 12:15] oleksandr-dziuban commented on #976
@msand Yes, sorry, it works fine now, I just clear all the npm/react-native-* cache and it works now.
Just issue with text remaining. I have added steps to reproduce here: https://github.com/react-native-community/react-native-svg/issues/570#issuecomment-474649116

Please close this issue.

[2019-03-21 13:06] #976 closed

[2019-03-21 13:10] msand commented on #570
@oleksandr-dziuban Can you try with the develop branch? I think I've fixed it there

[2019-03-21 13:12] oleksandr-dziuban commented on #570
@msand Sure, will do, thanks

[2019-03-21 14:54] oleksandr-dziuban commented on #570
@msand I have double checked with latest develop branch, issues with multiline text are not resolved:

I have found 2 issues on both iOS/Android:
1) Multiline text is shifted to the left side when we use ``textAnchor``
2) If we set ``textAnchor="start/middle/end"`` multiline text has shifted to the left side according anchor value, but all lines are still aligned  "start" even when "middle" or "en

[2019-03-21 15:44] msand commented on #570
@oleksandr-dziuban Can you use separate text elements instead of tspans inside a text to work around the issue for now? Essentially the code for finding the text-chunk for anchoring and calculating the shift is buggy. Ideally we would implement the svg 2.0 text layout algorithm: https://www.w3.org/TR/SVG/text.html#TextLayoutAlgorithm
But, already calculating the anchored chunks correctly and findi

[2019-03-21 15:52] oleksandr-dziuban commented on #570
@msand I will try, just I need to rewrote a lot of app logic and components, I have a deep React components tree.

Oh, regarding SVG 2.0, it will be very large trouble fo us :) Because we support only SVG 1.1 style accros whole product. We have shared rendering code between a few projects (WEB, Native, etc.) so everywhere we have 1.1 style.

If I understand correctly SVG 2.0 has different attribut

[2019-03-21 16:06] rahamin1 commented on #972
Since react-native-svg probably doesn't support circular images at this point, the following can be a possible solution:

[code]

[2019-03-21 16:08] msand commented on #570
It deprecates a few things, but we would probably aim for svg 1.1 compatibility as far as possible as well. Mostly it clarifies the spec, defines previously undefined behavior, add some more attributes, values, allows attributes to be set using styles, etc. We already have support for several things from the svg 2.0 spec, and the text layout rendering is better defined there than in the 1.1 spec.

[2019-03-21 16:11] oleksandr-dziuban commented on #570
@msand Great, thank you a lot! Maybe it will be possible to fix quickly, what I need, just to align lines correctly with textAnchor="midle/end" as in 9.2.4 and get rid of unnecessary bug shift to the left. If 2nd is impossible I'll add a workaround on my side (playing with x coord). So main issue is alignment is nor applied to lines. Thank you

[2019-03-21 16:22] msand commented on #570
@oleksandr-dziuban Can you try with the latest commit from the develop branch?

[2019-03-21 16:24] oleksandr-dziuban commented on #570
@msand Sure, will do

[2019-03-21 16:30] oleksandr-dziuban commented on #570
@msand I don't know how you do that, but both issues are resolved!!! Multiline text works as expected! Great job 👍

[2019-03-21 16:37] msand commented on #570
Well, if you look at https://github.com/react-native-community/react-native-svg/commit/70ac80b297b0d39cad1e2f78f07429fbdc3258e8
You can see:
https://github.com/react-native-community/react-native-svg/blob/70ac80b297b0d39cad1e2f78f07429fbdc3258e8/ios/Text/RNSVGText.m#L258-L275

Where I added the disjunction with
[code]
To the predicate which finds the element, from which it calculates the extent of

[2019-03-21 16:40] oleksandr-dziuban commented on #570
@msand But even with current fix it looks much better. I think we can publish patch version for now, because minimum feature is working

[2019-03-21 17:08] msand commented on #570
Published v9.2.6 now

[2019-03-21 17:16] msand commented on #855
@msageryd There were some issues with text layout I've mostly fixed now, not perfectly spec conformant yet, but probably good enough for most cases. Can you try v9.3.6 ?

[2019-03-21 17:19] msageryd commented on #855
I feel guilty for not putting time into this while you are working so hard. Right now I'm in the middle of a release and I'm working around the clock. If all goes well I've upgraded both my app and the servers by tonight.

Right after this release, testing your fixes is on top of my list.

[2019-03-21 18:57] msand commented on #977
Please try using v9.3.6

[2019-03-21 19:27] oleksandr-dziuban commented on #570
Thank you

[2019-03-21 20:27] ankardon commented on #977
Thank you for your quick support! The fix did get rid of the bug in this instance. Though now I found a quite similar problem with TSpans being placed over one another in this example:

[code]

It does not happen when they are both added in the same render cycle as seen by the a and b variants of the TSpans.

Surrounding the TSpans with a Text does not help. However, when they are surrounded by a

[2019-03-21 22:25] adirzoari opened #979 "None of the consumable configurations have attributes."
Hey,
I get error when I try to run my project after installing react-native-svg
`Unable to find a matching configuration of project :react-native-svg: None of the consumable configurations have attributes.`

info:
[code]

[2019-03-21 22:41] tehOPEologist commented on #967
looks like this issue persists after updating and clearing cache, as i'm getting the error below when running react-native run-ios:

[code]

[2019-03-22 01:08] OKNoah commented on #470
Just sharing my mistake: I was linking my `*.a` files in the `*.xcodeproj`s under Libraries. Didn't realize I should put them in the main project's "Link Binary With Libraries" section. Silly mistake :P

[2019-03-22 02:45] msand commented on #979
Hmm, strange, can you make a reproduction?

[2019-03-22 04:49] msand commented on #967
@tehOPEologist try relinking (unlink and link again)

[2019-03-22 19:48] msand commented on #977
@ankardon Can you try with the latest commit from the develop branch?

[2019-03-23 00:46] ankardon commented on #977
@msand, thank you for the quick reply once again. Your fix solved the problem! The TSpans now behave as expected.

[2019-03-23 19:52] msand commented on #972
How about the example from the readme? https://github.com/react-native-community/react-native-svg#image
Reduced form: https://snack.expo.io/@msand/sponaneous-cereal
[code]

With regards to using react-native View/Text/Image components, we don't have any official support for that, it would require implementing foreignObject, which shouldn't be too much work if you have a significant need for it, I

[2019-03-24 06:38] rahamin1 commented on #972
@msand
Thanks a lot Mikael, for the last post and for all the great help!

[2019-03-24 10:17] teekirol commented on #967
@tehOPEologist I had the same issue and ended up downgrading react-native-svg to 9.2.4

[2019-03-24 13:06] aravind1078 commented on #834
my MainApplication.java has the line new SvgPackage() but still getting the same error

[2019-03-24 14:24] msand commented on #972
You're welcome! Happy I could help

[2019-03-24 14:43] msand commented on #967
@teekirol Can you make a reproduction?
[code]
Should be enough to link the new files after upgrading.

[2019-03-24 14:46] msand commented on #834
@aravind1078 Are you getting the error on iOS or Android? Can you make a reproduction?

[2019-03-24 15:07] aravind1078 commented on #834
@msand  on Android

[2019-03-24 15:43] srfaytkn commented on #974
yes I tried but still not working.

[2019-03-24 16:48] rahamin1 commented on #972
Hi again...

10 hours ago I thought that I will not bother you again about this issue, but I am a bit stuck in something, and thought that although the following is not really an SVG issue, maybe you will have an idea...

### The issue is the following:
The text that I display in a circle is dynamic. I am trying to find a way to make it always symmetric. I thought that I will find a formula that w

[2019-03-24 16:48] #972 closed

[2019-03-25 06:36] msand commented on #972
If you want to center the text along the middle of a path, you can use this: https://snack.expo.io/@msand/text-on-a-circle-path
I added startOffset="50%" to the TextPath, textAnchor="middle" to the TSpan, and rotated the Path/Circle 90degrees in the opposite direction instead.
[code]

[2019-03-25 10:28] SimenB opened #980 "Crash on android when using Mask"
Snack: https://snack.expo.io/@folio/expo.svg-example

Removing the mask in the middle makes it not crash.

This same SVG renders correctly on both web and iOS, it's just Android that crashes.

Svg:

[code]

Stack traces:

<details>

[code]
</details>

[2019-03-26 08:48] lachtos commented on #841
Thanks!
However, seems to be working incorrectly on an Android 5.1 device, looks the same as in the picture above.

[2019-03-26 11:45] msageryd commented on #855
At last I have had some time for this.

- Still the same x3 problem with output size (on iPhoneX simulator).

- If the {width,height} argument is not used, there will be no dataUrl. I tried both directly in the `ref` event and in `onLayout`. Is the output size now a mandatory input to toDataUrl? It was optional before.

- Still not possible to call toDataUrl directly from the ref event. Have to wa

[2019-03-26 11:58] msageryd commented on #855
BTW, the base64 output includes linebreaks, but only sometimes. Is the linebreaks inserted when the files are really big? My test file is about 7000x5000px. I think that the linebreaks should be fine in general, but maybe iOS has problems with this? Anyway, I have to strip them out in order to get a working png file.

[code]

[2019-03-26 21:29] rahamin1 commented on #972
Hey @msand ;

In all my tests I used version 5.5.1 of react-native-svg (I am using version 0.55.3 of react-native) and the code seemed to work fine.

When I tried to rebuild the repo, however, the circular text is not displayed at all.
Does it require a newer version? I tried version 6.0.0 and it didn't help. I even tried the latest version (9.3.6)  which is not supposed to work with the version o

[2019-03-27 02:13] #959 closed

[2019-03-27 08:33] #977 closed

[2019-03-27 08:45] msand commented on #972
Hmm, are you using the one with circle or the web compatible? I think the web-compatible version might work in v5, but text on a path with the other geometric primitives rather than just paths came later, not exactly sure what version right now. Latest version should work fine. Can you make a reproducible git repo using a clean project?

[2019-03-27 08:54] ankardon opened #981 "[android] onPressOut fires immediatly"
The onPressOut property fires on touchdown and not as expected on release

[code]
react-native info:
[code]

[2019-03-27 09:02] msand commented on #981
Is this with the latest version?

[2019-03-27 09:15] ankardon commented on #981
Yes, this is with version 9.3.6

[2019-03-27 09:29] msand commented on #981
@ankardon At least with the develop branch it seems to work correctly in both iOS and Android. I can replicate it in https://snack.expo.io/@msand/fascinated-celery so it seems like an old bug. Can you try cleaning your build and caches and rebuild again? Or if that doesn't help, try clearing your npm/yarn cache and install again. Or perhaps try in a clean project.

[2019-03-27 09:36] msand commented on #980
I'm unable to replicate in the latest version. Can you eject from Expo / use plain react-native?

[2019-03-27 09:43] msand commented on #980
If you can't upgrade, then you can specify x y width and height attributes on the Mask element to workaround the bug in the old version: https://snack.expo.io/@msand/forlorn-almond

[code]

[2019-03-27 09:45] ankardon commented on #981
It seems the problem is specific to some phones. I created a new project and tested it again with my Samsung Tab S3, where I still got the same error. But I tried it again on my Moto Z Play, where it worked perfectly.

[2019-03-27 12:07] rahamin1 commented on #972
It will take me some time creating a repo, since I have some urgent tasks for today and tomorrow.   Meanwhile, here is the code I am using:

[code]

[2019-03-27 12:15] SimenB commented on #980
Thanks! That makes it not crash, but it doesn't render correctly. It's rendering the same as if the mask and the path after it is not there at all.

Correct:
![image](https://user-images.githubusercontent.com/1404810/54910707-2666d580-4eed-11e9-9a5d-740e2a520aac.png)

Without mask:
![image](https://user-images.githubusercontent.com/1404810/54910716-2bc42000-4eed-11e9-9995-9f759ad8f4e9.png)

Howeve

[2019-03-27 13:46] michaeldebarros commented on #647
I have the same issue, but I am not running CocoaPods.

[2019-03-27 16:10] msand commented on #972
This seems to work just fine for me in the latest version / development branch at least:
[code]

[2019-03-27 16:19] rahamin1 commented on #972
Seems identical to my version... Did you change anything?

[2019-03-27 16:27] msand commented on #980
Yeah, it seems to work correctly in the latest version. But in cases like these (I assume this svg was made with sketch) where the mask is really not useful nor necessary, its computationally very very expensive to use a mask to fill in a square shape area with a single color without dependence on the alpha transparency of the source graphic for the mask. It's just plain redundant, slow and a memo

[2019-03-27 16:30] msand commented on #972
Only the imports / component names.

[2019-03-27 16:34] rahamin1 commented on #972
I believe that this should not make any difference...
Which react-native and react-native-svg are you using?

[2019-03-27 17:15] msand commented on #972
react: 16.8.3
react-native: 0.59.1
react-native-svg: develop branch

[2019-03-27 18:14] SimenB commented on #980
The illustration was made in Figma and exported as svg, not sketch. Probably a very similar thing, though! But yeah, I totally agree it should be simplified. Thank you for looking into it!

[2019-03-27 21:19] willmanio commented on #932
I can confirm that this issue is resolved by cleaning and re-building the iOS app after upgrading. Removing `node_modules` isn't enough; you need to remove _all_ iOS build output. `git clean -fdx` is the nuclear approach, but there are gentler options. 😄

[2019-03-27 21:31] rahamin1 commented on #972
That's what you wrote in package.json? `react-native-svg: develop branch`?
And shouldn't I follow the guidance in https://github.com/react-native-community/react-native-svg#notice?

[2019-03-27 23:42] msand commented on #972
I would recommend upgrading to the latest version of both react-native and react-native-svg. I'm just using the latest code I wrote when I pushed to the develop branch, you can check for specific commits from here: https://github.com/react-native-community/react-native-svg/tree/develop
And install by using e.g.
[code]
or
[code]

[2019-03-28 05:40] rahamin1 commented on #972
It is a large project. Upgrading may be a long process.
The strange thing is that at some point everything worked fine with version 5.3.1 of react native svg. However, when I pushed the changes to gitlab, cloned and rebuilt it, the circular text stopped to work.

[2019-03-28 09:05] prabhu73 commented on #571
The same issue is happening in android also.
Issue: E/ReactNativeJS: 'ERROR SVG', { [TypeError: Network request failed] line: 140, column: 2655, sourceURL: 'index.android.bundle' }

Could you please help me in resolving the issue?

[2019-03-28 18:35] msand commented on #571
Seems your network is unreliable, or the the response doesn't contain valid svg

[2019-03-28 21:21] teekirol commented on #967
@msand Unlinking and re-linking didn't make a difference unfortunately.

[2019-03-29 00:10] bondparkerbond commented on #967
Unlinking and re-linking didn't make a difference unfortunately.

Have you tried deleting your node_modules and reinstalling? If that doesn't work maybe also try it with your lock file deleted.

[2019-03-29 04:27] saikiranoptisol commented on #957
@Dellamoresteven  how you have solved this

[2019-03-29 09:25] teekirol commented on #967
Yeah I have tried that as well. On the other hand, I did also start seeing a few seemingly unrelated, strange, inexplicable issues. Once those are resolved, I'll try 9.3.3 again and report back.

[2019-03-29 11:16] Nhacsam commented on #290
Thank you @msand for so much effort. Your library is very great.

But I agree with this topic. I have to do an upgrade of 3 majors release to fix #967 and I am very worried of having unseen regression. There is a lot of svg included via your library in my application.

If you don't have time for release note, can you, at least, just provide the breaking changes for the major releases ?

There is a

[2019-03-29 12:57] Dellamoresteven commented on #957
@saikiranoptisol It was actually my fault, I was increasing my Screen Height of a ScrollView by 500 every time I re-rendered. Once that got to ~2000-3000 it broke.

With that being said the amount I could increase my ScrollView by directly correlated with how many SVG's i was rendering. I have no idea why this was the case but I'm sure someone smarter then me could tell you.

I recommenced you try

[2019-03-29 13:20] msand commented on #290
Yea, I fully agree we should have a proper changelog. I'm sorry for not having taken time for it. Automating it would certainly be necessary for this to have a good chance of improving, with my current time constraints. There's some cooperation going on in react-native-community to streamline these kinds of things. If you can, it would be greatly appreciated if you would make a pr to add some auto

[2019-03-29 15:30] sungsong88 opened #982 "Vertical Dashed Line doesn't work.."
[code]

This works perfectly fine with just stroke.
strokeDashedArray doesn't work on iOS and Android. What am I doing wrong here??

[2019-03-29 16:48] msand commented on #982
You need to use strokeDasharray instead of strokeDashedArray: https://snack.expo.io/@msand/trembling-donut
[code]

[2019-03-29 19:35] dwilt commented on #932
For those of you who can upgrade (not using Expo), the only _full proof_ way for us that worked was following these _exact steps_:

1. Close Xcode
2. Delete app from phone
3. Re-clone the repo
4. Run `yarn` in root
5. `cd ios; pod install --repo-update`
6. Start packager with `npm run start -- --reset-cache`
7. Open project in Xcode (remember to open the `.xcworkspace` and NOT the `.xcodeproj`)
8.

[2019-03-29 19:56] mstiggle opened #983 "ClipPath appears to be broken"
Hello! I'm trying to use `ClipPath` to cut a circle in a rect in order to highlight what is underneath that circle. Issue #936 covers this and there is a handy answer that says this code should do it:

[code]

Unfortunately the circle does not get cut out. It seems that `ClipRule` may be failing, but I'm not sure. Here is a [snack](https://snack.expo.io/SywHux3uE) that shows the behavior.

[2019-03-30 17:24] kg-currenxie commented on #967
also had missing "RNSVGVectorEffect.h"
downgrading to 9.2.4 worked for me

[2019-03-31 06:56] kg-currenxie commented on #966
Same here. I just upgraded from 7.x to 9.2.4. My animated Path stopped working. RN 59+
The path is rendered, and the `.__getValue()` returns the correct value, but just no animation happening.

[2019-03-31 14:53] msand commented on #983
It seems this has been broken on iOS since this commit which first came in v7.0.0: https://github.com/react-native-community/react-native-svg/commit/a1097b8
Handling of clipRule="evenodd" behaves more like clipRule="nonzero"
I remember having tested that this was working, not sure if something has changed in the ios api, I'm probably just remembering wrong and it's been broken all along. Will have

[2019-03-31 15:03] msand commented on #983
Another workaround is to use a single Path in the ClipPath:
[code]

[2019-03-31 15:50] msand commented on #983
I think I've fixed this in the develop branch: https://github.com/react-native-community/react-native-svg/commit/5389209a64debc4b9242232b2fa51403e33aea35
Could you test it?
I'm not completely sure if this breaks something else. Would need more test cases in end-to-end tests.

[2019-03-31 18:04] Ankarrr opened #984 "run-ios fail when using RN 0.58"
Hello everyone. I upgrade RN from 0.55.4 to 0.58.6 and react-native-svg from 6.5.2 to 9.2.4. After that I get error when `run-ios`. However, I can build successfully when using Xcode. Please help.

Error:
[code]

Env:
React Native: 0.58.6
react-native-cli: 2.0.1
React: 16.6.3
react-native-svg: 9.2.4

[2019-03-31 20:29] msand commented on #984
Can you try
[code]

[2019-03-31 20:45] msand commented on #983
Seems at least this example might not conform to the spec now: https://github.com/react-native-community/react-native-svg/issues/752
This probably requires making a few more examples and comparing to browsers, etc.
I guess ios will require similar logic as android, enabling to take the union of the paths.

[2019-04-01 01:25] Ankarrr commented on #984
Yes I try, bug I still encounter same error.

[2019-04-01 01:43] msand commented on #983
Think I fixed it in a way which doesn't break the other case now. But I realized it's not fully spec conformant either. I've also added support for using the Use element inside ClipPath now. But the implementation of clipRule should probably be revised to only affect elements inside ClipPath. The behavior actually breaks the spec, and doesn't work in browsers. You would need to use a single path w

[2019-04-01 01:43] msand commented on #983
![Screenshot_1554082987](https://user-images.githubusercontent.com/1131362/55298854-b7cbcf80-5438-11e9-99ec-f6ef52d27707.png)
![Simulator Screen Shot - iPhone XR - 2019-04-01 at 04 43 15](https://user-images.githubusercontent.com/1131362/55298856-b7cbcf80-5438-11e9-9e9a-51ce34c069b6.png)

[2019-04-01 01:48] msand commented on #983
Can you please test the latest commit in the develop branch: https://github.com/react-native-community/react-native-svg/tree/develop
e.g.
[code]

[2019-04-01 01:53] msand commented on #983
https://codesandbox.io/s/yvl8r2jl6z
<img width="588" alt="Screen Shot 2019-04-01 at 4 53 14" src="https://user-images.githubusercontent.com/1131362/55299121-1f364f00-543a-11e9-9422-5358da53c84e.png">

[2019-04-01 01:55] msand commented on #983
I'm thinking of suggesting to add support for clip-rule on the clip-path element for svg 2.0 or later. This seems like a very useful thing, and much more efficient than using a mask.

[2019-04-01 02:16] msand commented on #984
Can you try removing node_modules and installing again?

[2019-04-01 02:18] msand commented on #981
If you can find any emulator where it is reproducible, that would be great. Otherwise there's not much I can do on my end. @ankardon Are you still having issues with this?

[2019-04-01 02:50] Ankarrr commented on #984
Yes, but still the same error.

[2019-04-01 11:40] ermanolca commented on #890
I am using version 6.0.0 and encountered this problem. Don't you have a fix for older versions?

[2019-04-01 11:47] msand commented on #890
Try v6.5.3

[2019-04-01 16:43] msand commented on #966
@kg-currenxie At least this seems to work fine in RN059 and latest react-native-svg:
[code]

[2019-04-01 17:04] msand commented on #983
Noticed a caching bug in android, fixed in latest commit of develop branch:
![Screenshot_1554138231](https://user-images.githubusercontent.com/1131362/55345750-5b5cc480-54b9-11e9-810c-b67cefc8f118.png)

[2019-04-01 17:41] msand commented on #984
Can you try in a clean project?

[2019-04-01 20:26] msageryd commented on #855
@msand please tell me if you want me to test this in any other way.

[2019-04-02 07:30] F-Moody commented on #974
Same here, trying to apply zoom to the svg (with uri source)

[2019-04-02 11:55] msand commented on #974
I cannot help unless you provide the code that is failing... Do you imagine how your statements look for other people? One more useless reply and I'm closing this issue.

[2019-04-02 12:00] F-Moody commented on #974
In my case it was my fault, i was passing transform as a prop, now i've just put it on the style prop and it's working.

`<SvgUri
                        width="400"
                        height="400"
                        source={{uri: 'http://thenewcode.com/assets/images/thumbnails/homer-simpson.svg'}}
                        style={{
                            transform: [

[2019-04-02 17:27] Ankarrr commented on #984
I create a clean project and install and then it works. I am wondering why.

[2019-04-02 19:38] gtiongco95 commented on #591
I've tried removing the react-native-svg dependency and updated my imports to use expo instead but when I run my app I get a: _"React.isMemo is not a function. (In 'React.isMemo(component)', 'React.isMemo' is undefined)"_

Has anyone else experienced this or no what is wrong?

[2019-04-02 20:40] msand commented on #591
Are you using react-redux or react-is? Perhaps this thread can help you: https://github.com/zeit/next.js/issues/6117

[2019-04-02 20:45] msand commented on #984
It seems the react-native link command isn't working correctly, you'll probably have to link it manually, perhaps you have several schemes and only one of them has it correctly, and you're using some other scheme which has been duplicated from some old settings or something. I would recommend that you open an issue in the react-native-cli repo instead. There's nothing that can be done about it in

[2019-04-02 20:57] gtiongco95 commented on #591
Using react-redux. Tried the approach of pinning my version to 4.4.9 from 5.1.0 which it was initially. However, I'm met with other issues so don't really think that would be a feasible approach for me..

[2019-04-03 01:43] mstiggle commented on #983
The latest commit on the dev branch ([fde018b](https://github.com/react-native-community/react-native-svg#fde018b8aa5154dc1daad2a964abdba0fe58dc51)) is working beautifully! At least on iOS. I'll test on android in a bit but I imagine it will be good too. Thank you!!

[2019-04-03 03:23] Ankarrr commented on #984
Thank you. I try to link manually buy following these steps:

When I run-ios, it built successfully. However, it shows this error:
<img width="369" alt="螢幕快照 2019-04-03 上午11 21 04" src="https://user-images.githubusercontent.com/8311552/55450774-ded5fd00-5602-11e9-8e05-825f8fc755ea.png">

[2019-04-03 04:11] msand commented on #984
Strange, seems like you have an old version of react-native or something, can you make a git repo with reproduction?

[2019-04-03 06:02] jacobhalls commented on #866
The "Cannot find symbol" errors generally occur when you try to reference an undeclared variable in your code. A "Cannot find symbol" error means that the compiler cannot do this. Your code appears to be referring to something that the compiler doesn't understand.

When your code is compiled, the compiler needs to work out what each and every identifier in your code means. As the compiler is going

[2019-04-03 08:52] Ankarrr commented on #984
I'm developing 2 RN project with different version of RN. One is older. Is it might be the reason?

[2019-04-03 09:20] msand commented on #984
Probably yes, try perhaps v6.5.3 with the older RN

[2019-04-03 19:13] mstiggle commented on #983
Working on android as well!

[2019-04-03 23:17] mstiggle commented on #983
I initially thought everything was going fine on android, but actually our app's performance has plummeted on android only. We've upgraded a lot of things recently, but after intensive debugging we were able to narrow it down to this library. Something is causing the app to freeze/die with no error messages. As we disabled more and more `Svg` components the app stayed alive longer, but after enoug

[2019-04-03 23:37] manujbahl opened #985 "SVG LinearGradient issue with orientation change."
I am using a linear gradient on the screen but it does not handle well on orientation changes. The height and width of the svg changes but looks like the RNSVGGroup element inside still keeps the old dimensions. (viewed with Electron devtools)

This is how it looks in potrait mode.
![image](https://user-images.githubusercontent.com/5688107/55519821-4f464380-562e-11e9-8f2f-aa5861a5189e.png)

When i

[2019-04-03 23:41] msand commented on #983
Oh, sorry to hear. Yeah a reproduction would certain make a huge difference in potential to fix it. I suspect it's related to handling of layout / bounds calculations and communicating this to android and react-native such that the gesture responder system would work correctly. There's probably some calls happening which aren't needed. If you make a good reproduction, it's probably possible to git

[2019-04-03 23:53] msand commented on #983
Also, measuring where the time is spent using android studio might reveal where the time/memory is spent and what is causing it.

[2019-04-04 04:05] mstiggle commented on #983
We spent a lot of time in the profiler and really haven't been able to track much down. The heap seemed to just be overwhelmed easily which would sometimes lead to crashes and sometimes lead to the app still technically being alive, but being completely unresponsive. The app would run much better with js debugging enabled because of chrome's better resources.

We did a big move with this library a

[2019-04-04 12:54] johanolandero opened #986 "Get length of path"
Greetings!

Setting a strokeDasharray and strokeDashoffset as stated in #349 can be used to animate a path. However the strokeDasharray should be of the same length as the path. For simple paths, this is not a problem, but in more complex paths it gets difficult to calculate this length manually.

Found this over at w3, however this doesn't seem to be supported in this library yet. Is it something

[2019-04-04 13:18] msand commented on #986
We have logic for it in the native code at least, Android has PathMeasure:
https://github.com/react-native-community/react-native-svg/blob/6d476d43028d749ee8df75b2e155a3f92567e86c/android/src/main/java/com/horcrux/svg/TSpanView.java#L110-L112

And in iOS we have our own custom logic, as there's nothing built in:
https://github.com/react-native-community/react-native-svg/blob/b0852d259568479be226a7

[2019-04-04 13:21] msand commented on #986
Could you attempt to implement this an make a pr?

[2019-04-04 13:47] johanolandero commented on #986
I wish I could, but my knowledge is very limited when it comes to ios and android development.

[2019-04-04 14:14] msand commented on #986
@johanolandero I don't have time to dedicate to this right now, too busy with work for the moment. As a workaround you can use e.g. http://geoexamples.com/svg-path-properties/

[2019-04-04 14:21] msand commented on #986
There's also this: https://github.com/substack/point-at-length/blob/master/index.js

[2019-04-04 14:23] msand commented on #986
And https://pomax.github.io/bezierjs/#length

[2019-04-04 15:16] johanolandero commented on #986
Thank you, will look in to it in the meantime.

[2019-04-05 05:10] kg-currenxie commented on #966
Not sure what happened. Works fine now 🤔

[2019-04-05 17:32] martincarrera commented on #839
Had the same issue, fixed by:
[code]

[2019-04-07 15:40] aravind1078 commented on #911
@christopherfraser  can you explain in detail what you did iam also getting the same issue

[2019-04-08 06:22] SimenB commented on #980
We've got a way simpler version now, thanks for the feedback!

[2019-04-08 06:22] #980 closed

[2019-04-08 13:39] tomfinney commented on #749
Had this issue for iOS, managed to "fix" it by removing by unlinking `react-native-svg` and removing it from my dependencies and then subsequently adding it again as a dependency and re-linking it. 😬

[2019-04-08 19:55] mlecoq opened #987 "Crash with empty path"
I have recently updated my app to expo *32.0.0* (embedding _react-native-svg_)

After this update, the app crash on displaying a page with an _Path_ having a d prop as empty string.

I have made a small example to help to reproduce the issue:

https://github.com/mlecoq/test-signature

I have a workaround for the moment : I have put a condition on _d_ value to display _Path_ child.

[2019-04-09 08:27] simbathesailor opened #988 "Clippath doesnot work inside G tag."
So this is the basic svg which I am trying to move to react native component using react-native-svg.

`<svg viewBox="0 0 108 42.24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <clipPath id="b" transform="translate(0 .07)">
      <path class="cls-1" d="M16.58 8C28.65 8 45 0 54.5 0s23.83 7.93 36.16 8h.44a17 17 0 0 1-.1 34H17A17 17 0 0 1 0 25v-.43A16.57

[2019-04-09 22:23] zek opened #989 "onRender event"
Hi, I'm porting https://getavataaars.com/ this library.

It's working fast enough on IOS (0.5 - 1 second delay for rendering)
but it is very slow on Android (3 seconds)

I know you got some plans to improve performance on Android but at least is it possible to show a loading indicator while rendering?

[2019-04-10 05:40] techtic-saajan commented on #821
@msand Hello I implemented this example but i want to integrate using rectangle with pan responder like attached image. So is this possible or not?
![2 1 3 1(postinput)](https://user-images.githubusercontent.com/49469701/55854071-320afb00-5b81-11e9-9db5-6f551e0003ea.jpg)

[2019-04-10 08:58] msand commented on #821
@techtic-saajan I have no idea what you're asking for.

[2019-04-10 08:59] msand commented on #821
Pan responder certainly works, and allows you to respond to pan gestures. Almost certainly, whatever you actually wanted to ask for is possible.

[2019-04-10 09:11] msand commented on #989
Could you try to profile it in android studio? It's quite likely that you're not using the most efficient primitives to create the avatars. Seems like it should be possible to create equivalent output using only paths with fill, removing all uses of mask and opacity. That would probably speed things up significantly.

Estimating how much work there is to do is not easy, and any loading indicator w

[2019-04-10 09:14] techtic-saajan commented on #821
@msand I want to make drag view using finger drag in react native same as attached image above comment, So how can i make?

[2019-04-10 09:16] msand commented on #821
@techtic-saajan Read the documentation, I won't do you job for you.
https://facebook.github.io/react-native/docs/panresponder

[2019-04-10 12:28] zek commented on #989
I solved loading as below. I also tried onLayout but It doesn't react changes neither my solution.

[code]

Actually I dont know anything about how to profile on Android but I am planning to upload react-native version of avataaars. After I upload, could you help me to improve performance?

![image](https://user-images.githubusercontent.com/3463291/55878324-df433a80-5ba4-11e9-92b0-142933317bfe.png

[2019-04-11 19:12] spyshower opened #990 "Super weird bug with onPress"
Ok so I want to present you a really weird bug. This is my code:

[code]

[code]
Take a look at the screen:

![rnsvgbug](https://user-images.githubusercontent.com/7046283/55984146-798aa780-5ca5-11e9-9330-e00c25a12667.gif)

In the scenario where there are 2 images, the 3rd item renders an SVG. When I click one of the 2 images, _sometimes_ the SVG is pressed instead. I haven't been able to find a pa

[2019-04-11 20:30] msand commented on #990
@spyshower What version are you using? A bug in iOS 12 was resolved in v9.2.4
https://github.com/react-native-community/react-native-svg/issues/794#issuecomment-462008318
Can you try adding overflow: hidden to either to the TouchableOpacity or the View containing the Svg?

[2019-04-11 20:54] spyshower commented on #990
@msand overflow: 'hidden' fixed it!! Thank you **very** much!

I was using Expo (32) by the way.

[2019-04-11 20:54] #990 closed

[2019-04-12 00:00] harrison0723 commented on #989
@zek Let me know when you've shared the repo, I'm interested in making it work on RN too

[2019-04-12 01:38] msand commented on #989
@zek You don't need to know anything about profiling android from before, just read the docs, or start the profiler and explore: https://developer.android.com/studio/profile/android-profiler
If you know how to interpret numbers, you essentially know everything you need. Bigger numbers mean more time is spent / memory is used, essentially simple as that. I've used it maybe twice, so I don't think I

[2019-04-12 09:50] yodaheis commented on #951
Will passing an Animated value to an 'arc' from 'd3-shape' and using that as a d property for <Path/>, work with nativeDriver: true?

[2019-04-12 20:31] mr-savari commented on #856
Try adding -keep public class com.horcrux.svg.** {*;}
to proguard-rules.pro file

[2019-04-12 20:32] mr-savari commented on #856
Try adding `-keep public class com.horcrux.svg.** {*;}` in proguard-rules.pro file

[2019-04-13 11:25] iagorm commented on #967
This error also appears in Android.

[2019-04-13 16:40] msand commented on #951
You can use arc from d3-shape to create path data strings, and use Animated.Value to interpolate between them. But, animated doesn't support scientific notation of numbers represented as strings, so you'll need to convert to fixed notation like this, or make a pr to react-native
[code]

![Screenshot_1555173614](https://user-images.githubusercontent.com/1131362/56082656-0196bb80-5e24-11e9-872f-59b6

[2019-04-14 06:40] liorJuice opened #991 "Type Definitions: <Use> require href while it's not really required"
the <Use> element props are declared as:
[code]

while the js code in render is:
[code]

if you specify xlinkHref you don't need to specify href, but you will get a typescript error while doing so.

[2019-04-14 09:58] simbathesailor commented on #988
It seems to be working fine, I had to give height and width in style object to  Svg component. viewBox alone will not  be sufficient. Hence closing it.

[2019-04-14 09:58] #988 closed

[2019-04-15 10:15] yodaheis commented on #951
Thanks for the prompt reply.
The example you provided doesn't work with useNativeDriver: true.
Although, with useNativeDriver: false, even passing animated values in place of numbers works if you just wrap the Path component with createAnimatedComponent like so:

[code]

I'm hoping that it works with your PR for string interpolation for d attribute is merged. I will test it out once I upgrade to R

[2019-04-15 14:13] matpaul commented on #951
@msand just check your example with https://github.com/facebook/react-native/pull/24177/files
something goes wrong when nativeDriver: true
<img width="260" alt="Снимок экрана 2019-04-15 в 17 11 32" src="https://user-images.githubusercontent.com/1817112/56139487-a8549680-5fa1-11e9-8f94-6eaaf8788646.png">

[2019-04-15 16:22] matpaul commented on #951
@msand i found issue (check only ios impletementation)
https://github.com/facebook/react-native/pull/24177/files#diff-91c488a182920b9c215c4ae83fae27dfR154

[code]
we get something like:
...1.000000,10.000000,0.000000L0.000000,0.000000Z

fix:
[code]

and it's work! =)

[2019-04-15 17:28] serdarosmanonur commented on #834
same here

[2019-04-15 17:30] msand commented on #951
@matpaul Thanks for the fix! There was also an issue on android. I've pushed a fix to my fork/pr: https://github.com/facebook/react-native/pull/24177/commits/86052af986ae45b6fb6c38013657603b232184ae

[2019-04-16 01:01] msand commented on #951
@yodaheis I've added support for scientific notation and hex to the string interpolation now, so the exponentialToFixedNotation function isn't needed anymore. https://github.com/facebook/react-native/pull/24177

[2019-04-16 04:13] itchingpixels commented on #978
We also have the same crash, after upgrading from react-native-svg 5.x to 8.x:
2019-04-16 12:52:04.924957+0900 Drops[64330:12485664] *** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer position contains NaN: [nan nan]'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001128c31bb __exceptionPreprocess + 331
	1   libobjc.A.dylib

[2019-04-16 08:30] dskusuma commented on #911
Hi I'm also got the same issue. Anyone have the way to fix it yet?

[2019-04-16 16:21] bmcn99 opened #994 "Possible to use image as clipPath?"
I have an image that is meant to be customizable, changing the colors to red or green, adding some polka dots or stripes, that type of thing. The plan is to take my image, and draw a rect or pattern beneath it, and use a copy of the image as a clipPath so that it only shows beneath the customizable image.

Can this be done?

[2019-04-16 17:40] msand commented on #994
I'm not exactly sure what you're asking for, seems it could be one of many things which are possible to do, possibly using clipPath or mask, some other things you might want would possibly require filters, which are partially implemented for ios in the filters branch, but no android implementation in progress yet. Could you give a more concrete example, perhaps a representative image?

[2019-04-16 17:45] mikeyyyzhao commented on #568
As updates on this? I'm running into this issue as well. My whole app crashes when I insert the code  into my svg

`<Text
        fontFamily="Raleway-Bold, Raleway"
        fontSize={12}
        fontWeight="bold"
        letterSpacing={1}
        fill="#FF1E4F"
        transform="translate(2240 -14246)"

        <TSpan x={10} y={20}>
          {`15`}
        </TSpan>
      </Text>`

[2019-04-16 19:01] bmcn99 commented on #994
![Box_Close](https://user-images.githubusercontent.com/29124319/56236216-71dd5100-605f-11e9-9b75-d5edb6c2e0e1.png)

I have my box image there, and I want to be able to draw a red rect behind it, since it has transparency, or a design like this:
![image](https://user-images.githubusercontent.com/29124319/56236337-bd8ffa80-605f-11e9-9438-68c127829b73.png)

I've received a few images from the designe

[2019-04-16 19:11] msand commented on #994
If you only want the circle in the middle to show a red rect behind it, isn't it then enough to give a background color to the Image / View (no need for svg), and tell the designer to make the other parts white/filled with color instead of transparent?

[2019-04-16 19:48] msand commented on #994
You might want to read this article, and the comments to it: https://css-tricks.com/masking-vs-clipping-use/
And these good as well: https://css-tricks.com/clipping-masking-css/
https://vanseodesign.com/web-design/svg-masking-examples-1/
https://webdesign.tutsplus.com/tutorials/a-comprehensive-guide-to-clipping-and-masking-in-svg--cms-30380
https://lab.iamvdo.me/css-svg-masks/
https://getflywheel.

[2019-04-17 02:28] mstiggle commented on #983
We've figured out a bunch of things on our end for android and our world is no longer crumbling. We upgraded to your latest (`9.4.0`) in the process and `clipPath` is up and running again. Thank you for the quick fixes on this! I'm going to close :)

[2019-04-17 02:52] thorakmedichi opened #995 "react-native-web jest error"
"react": "^16.8.4",
"react-native": "0.55.4",
"react-native-web": "^0.9.x",  /// NOTE: using RNW
"react-native-svg": "6.0.0",

react-native-svg seems to be working fine for Android and Web so far but when running my Jest test I am getting the following error

[code]

I tried to mock react-native-svg but it doesn't seem to be working. I tried react-native-svg-mock to no avail and I also tried sever

[2019-04-17 08:50] 1070rik opened #996 "Shadow issues when using path"
Hey!

For one of my apps I need to display an SVG ticket made with a path and it needs a drop shadow effect.
Now, since the package doesn't support filters in the master repo (yet?) I'm just using the out of the box shadows of react native.
This works fine on iOS but when i try it on android it's all messed up.
You can't see the content I have on top of the SVG etc.

This is what it looks like on

[2019-04-17 11:35] ngnclht1102 commented on #932
worked perfect for me. Thanks man!

[2019-04-17 12:02] msand commented on #996
On android, it would require either filters, or implementing ViewOutlineProvider and getOutline, and it only works with convex paths, so the svg would need to be converter to that first. https://books.google.fi/books?id=rSuuDQAAQBAJ&pg=PA606&lpg=PA606&dq=ViewOutlineProvider+getOutline+convex+path&source=bl&ots=5MfYqIqu6L&sig=ACfU3U2GnuB9HvapQtnCZPa8COm_rjncFQ&hl=en&sa=X&ved=2ahUKEwiNjeT5iNfhAhVkz6

[2019-04-17 12:22] msand commented on #996
You could probably use https://github.com/react-native-community/react-native-blur as well

[2019-04-17 12:29] 1070rik commented on #996
Thanks for the recommendations, I'll try it out.

[2019-04-17 12:46] 1070rik commented on #996
@msand is the ebook you sent comparable with this package? https://github.com/folofse/androw

[2019-04-17 15:08] msand commented on #996
Androw actually seems like a better/more general solution. I would recommend trying that as a first choice.

[2019-04-17 15:09] 1070rik commented on #996
Alright thanks! Then i'll try using that.

[2019-04-17 17:03] chevulkar commented on #696
Where do i find this file

[2019-04-17 19:35] m-inan opened #997 "How to trasnlate from Dimensions screen width to svg coordinates"
I want to do `viewBox` using the coordinates I set and accordingly determined for the same ratio of` x` and `y` to get the coordinates.
I can do this easily on Dom. How can I do this in my `react-native 'application using this package.

[code]

[2019-04-17 20:54] bmcn99 commented on #994
I'm not at all proficient in react native, so can I just change the css property to clipPath from clip-path and almost use that example code as is?

[2019-04-17 21:11] fogg4444 commented on #742
Changing 'left' to 'start' worked for me. Wish that was in the docs! :)

[2019-04-18 02:47] thorakmedichi commented on #995
Updated to "react-native-svg": "9.4.0" despite the docs saying to use 6.0.0. Solved my issues.

[2019-04-18 07:46] 1070rik commented on #996
Using the androw package and changing the shadowradius depending on the OS I was able to get the shadows to work correctly.

[2019-04-18 07:46] #996 closed

[2019-04-18 09:42] msand commented on #996
Great! Could you post a screenshot? Would be interesting to see how well it works, with regards to prioritizing implementation of filters for android (can be achieved using e.g. renderscript).

[2019-04-18 10:59] 1070rik commented on #996
Sure! This is what it looks like on iOS right now:
![image](https://user-images.githubusercontent.com/14279658/56356571-82193b80-61d9-11e9-8de2-45b0747e6225.png)
(still need to fix the size, this is on an iPhone 5)

And this is the result on Android:
![image](https://user-images.githubusercontent.com/14279658/56356604-9bba8300-61d9-11e9-8b09-63778b746ef0.png)
Also doesn't have the right size yet b

[2019-04-18 11:34] matpaul commented on #951
@msand testing some animation in my project - there is an issue when two path is not consistent between, for example
start path: `'M-92.57789989280825,-82.49443891219077A124,124,0,0,1,41.38463306159251,-116.89017129920438L41.38463306159257,-69.62982224849738A81,81,0,0,0,-69.81005309830067,-41.07987933785153Z'`

end path: ` 'M-56.92694075333276,-106.64149118701941A4,4,0,0,1,-55.18772110863358,-112.

[2019-04-18 15:22] aaronkrohn opened #998 "Transform short hand does not work"
Upgrading from 5.4.1 to 9.4.0 broke a few of my SVGs.

Mainly SVG's that had transform written like this `transform={{ translate: '10, 10' }}`

I fixed it by writing it out fully: `transform={{ translateX: 10, translateY: 10 }}`

[2019-04-18 21:11] msand commented on #996
Looks good. I tried optimizing the implementation a bit, could you try my pr? https://github.com/folofse/androw/pull/1
https://github.com/msand/androw/commit/b8626c403a3087173bc9ed44a4d1d8a07b05e9ea

[2019-04-18 23:15] thorakmedichi commented on #995
I thought I solved this with an upgrade from 6.0.0 to 9.4.0 but I was wrong.

Still looking for help on this issue

[2019-04-19 01:38] Godblk opened #999 "[iOS] Occasional Crash in render image"
in iOS project," react-native-svg/ios/Elements/RNSVGImage.m/renderLayerTo:rect: " Method，sometimes crash at "CGContextDrawImage(context, imageBounds, _image);",I solved like this:
![屏幕快照 2019-04-19 上午9 36 42](https://user-images.githubusercontent.com/8614245/56400497-c31b5980-6286-11e9-80db-89aace7f2459.png)

[2019-04-19 01:51] msand commented on #998
Can you try with the latest commit from the master branch? Alternatively you can use the x and y prop.

[2019-04-19 09:27] msand commented on #999
You can probably return early in case the bounds are zero. Would you like to open a pr?

[2019-04-19 11:00] Godblk commented on #999
YES,perhaps at the beginning of this method,judge the bounds and return would work well,What shall I do to submit a pull request?

[2019-04-19 11:19] Christian-Athom commented on #967
I found one way to make it work for iOS:
1) Open the iOS project in the iOS folder
2) Drag the RNSVGVectorEffect.h file into the Utils folder
3) Close the project, and open the RN project in XCode
4) Remove the RNSVG library, and add it again from the node modules
5) Add the RNSVG to the Link with Binary

Hope this helps some people until this get's fixed in a new build

[2019-04-19 19:17] msand commented on #996
The latest commit in my pr seems to perform quite nicely, the dispatchDraw takes 30 000 - 300 000 nanoseconds when animating opacity, color and offset of the shadow. Animating radius of the blur/shadow is slower, but probably needed less often as well.

[2019-04-19 19:21] msand commented on #996
I also tried making an experiment with RenderScript, but it was about ten times slower: https://github.com/msand/androw/commit/c3a70d376b895b0a544af35421b43e72f2f6d687

[2019-04-19 20:08] mstiggle commented on #983
Ahh, actually it looks like it's again broken for android on `9.4.0`. Same behavior as before, the circle isn't getting cut out. Works great on iOS though.

[2019-04-19 20:22] mstiggle commented on #983
As you can see in the snack from the beginning of this thread (https://snack.expo.io/SywHux3uE), `clipPath` is working for android on `v9.3.6` which is what expo uses, but it is broken for `iOS` on that version. The reverse is true for `v9.4.0`

[2019-04-20 06:03] Shagamii opened #1000 "Type Error: x and y in RectProps are defined to be undefined or NumberProp, but the implementation also accepts null."
Rect props is declared as this
https://github.com/react-native-community/react-native-svg/blob/0835b500568c542dc815066c0b012be00ddb9bfd/index.d.ts#L295-L303

but, looking at this implementation, it seems that null is also accepted.
https://github.com/react-native-community/react-native-svg/blob/0835b500568c542dc815066c0b012be00ddb9bfd/elements/Rect.js#L22-L39

Type definition may be wrong.
which o

[2019-04-20 12:38] msand commented on #1000
The nulls in this case comes from how the handling of the non-standard shorthand transform properties (x, y, translate, translateX, translateY, scale, scaleX, scaleY, origin, originX, originY, rotation, skew, skewX, skewY) is implemented: https://github.com/react-native-community/react-native-svg/blob/0835b500568c542dc815066c0b012be00ddb9bfd/lib/extract/extractTransform.js#L20-L76

They're needed

[2019-04-20 12:47] 1070rik commented on #996
I'll try both out tonight and post the results on here!

[2019-04-22 12:26] msand commented on #568
Are you importing Text from react-native or from react-native-svg? Please provide a full replication.

[2019-04-22 17:05] theweavrs commented on #150
@msand What's the update? How far along have you guys reached?

[2019-04-22 19:09] mikeyyyzhao commented on #568
I'm importing it from react-native-svg
`import React from "react";
import Svg, { G, Path, Text, TSpan } from "react-native-svg";
const SvgSketchSelectedSvg = props => (
  <Svg width={30} height={32} {...props}>
    <G fill="none" fillRule="evenodd">
      <Path
        d="M2243-14277.5c0 7.456 6.044 13.5 13.5 13.5s13.5-6.044 13.5-13.5c0-3.216-1.125-6.17-3.002-8.489a13.474 13.474 0 0 0-10.498-5.011

[2019-04-22 19:12] mikeyyyzhao commented on #568
I'm updating it from react-native-svg. If I remove the Text part, the rest of the code runs no problem so I assume it's the Text component that causing the error.

`import React from "react";

import Svg, { G, Path, Text, TSpan } from "react-native-svg";

const SvgSketchSelectedSvg = props => (

  <Svg width={30} height={32} {...props}>

    <G fill="none" fillRule="evenodd">

      <Path

[2019-04-22 20:38] msand commented on #150
I have a pull request open to androw, with optimizations to make the drop shadows on android as efficient / simple as I could imagine and measure: https://github.com/folofse/androw/pull/1

With regards to filters in react-native-svg, the latest code is in the filters https://github.com/react-native-community/react-native-svg/tree/filters and hasn't been touched since 29 Oct 2018. All the latest up

[2019-04-22 21:46] msand commented on #568
It seems you're missing a viewBox attribute, and apparently there's a bug with handling of letterSpacing as a number, giving it as a string works fine. Also, I would recommend to move the content to the origin, instead of having it offset to x=2240, and y=-14295, something like this:

[code]

[2019-04-22 21:54] msand commented on #568
@mikeyyyzhao I've fixed the crash with letterSpacing as numbers in c343229, can you test it?

[code]

[2019-04-23 01:28] mikeyyyzhao commented on #568
Hi @msand I tried the code and it still crashed. Here's the exact code that I ran:

`
import React, { Component } from 'react';

import { StyleSheet, View } from 'react-native';

import Svg, { G, Path, Text, TSpan } from 'react-native-svg';

const ForwardButton = props => (

  <Svg width={300} height={320} viewBox="0 0 32 32" {...props}>

    <G fill="none" fillRule="evenodd">
      <Path

[2019-04-23 02:03] Shagamii commented on #1000
Thank you for the detailed commentary!
I understand this source code!

[2019-04-23 10:53] msand commented on #568
Try changing letterSpacing={1} to letterSpacing="1"

[2019-04-23 11:15] msand commented on #997
You could use onLayout, and calculate the viewBox transform, like in https://github.com/msand/zoomable-svg/blob/7c7ea9de015ad5fa7a8b89a4ed854169a21cad8d/index.js#L55-L131

Alternatively, we could store the last transform used when drawing: https://github.com/react-native-community/react-native-svg/blob/6bd27dfeba3422482b43b15bef287b72d1bf7d54/android/src/main/java/com/horcrux/svg/RenderableView.ja

[2019-04-23 15:21] aaronkrohn commented on #998
Yes, the latest commit on master fixes the issue! 👍

[2019-04-23 15:21] #998 closed

[2019-04-23 17:46] mikeyyyzhao commented on #568
It worked and didn't crash this time! Thanks for your help @msand!

[2019-04-24 22:15] mstiggle commented on #983
Any ideas what might be going on?

[2019-04-25 00:20] msand commented on #983
At least it seems to work correctly in plain react-native with react-native-svg 9.4.0, are you sure you used the latest version / cleaned and rebuilt to native code and reset js cache?

[2019-04-26 04:00] robinv8 opened #1001 "Text does not support line-through？"

[2019-04-26 04:03] msand commented on #1001
Correct, a pr would be much appreciated

[2019-04-26 09:23] Abhi-Tech9 commented on #834
Did you got solution for this?

[2019-04-26 11:26] robinv8 commented on #1001
Let me try

[2019-04-26 16:30] lylest commented on #591
i am still facing the same issue

[2019-04-27 02:51] dayaki commented on #834
Thanks @creative-git I got it working by adding new SvgPackage()

[2019-04-27 14:09] Abhi-Tech9 commented on #834
I got it working by manually performing linking step for iOS

[2019-04-28 05:08] heraldia commented on #639
react-native link react-native-svg DOES solve the problem for me :)

[2019-04-29 08:39] Cyrmos opened #1003 "Rendering SVG text using variable crashes on iOS"
I am trying to render an array of text using SVG, however it crashes whenever I open up the page on iOS, it crashes with no error message.

Below is a portion of the code.
[code]

Any idea why?

[2019-04-29 09:31] Cyrmos commented on #1003
Found the issue. the svg tried to render space as svg text thus resulted in crash.

[2019-04-29 09:31] #1003 closed

[2019-04-29 12:31] hiteshi-infotech opened #1004 "Dynamic passed value not rendering with updated version of react-native, react and svg."
[code]

Package.json version

   "d3": "^5.9.2",
    "react": "16.8.3",
   "react-native": "0.59.5",
  "react-native-svg": "^9.3.5",

[2019-04-29 15:39] msand commented on #1004
How about something like this: https://snack.expo.io/@msand/crabby-graham-crackers

[code]

[2019-04-30 05:08] hiteshi-infotech commented on #1004
@msand Thank you so much it's working now.

[2019-04-30 05:11] #1004 closed

[2019-04-30 05:34] hiteshi-infotech commented on #1004
Could you please help me one more time:

[2019-04-30 14:13] matpaul commented on #951
@msand found another issue when animate d using native driver, and then delete it - fatal issue
<img width="530" alt="Снимок экрана 2019-04-30 в 17 12 38" src="https://user-images.githubusercontent.com/1817112/56968078-2b154e00-6b6b-11e9-8161-1ba2085f8b30.png">

[2019-04-30 14:20] msand commented on #951
Can you post a minimal reproduction?

[2019-04-30 14:58] matpaul commented on #951
@msand
[code]

[2019-04-30 15:41] matpaul commented on #951
@msand forgot to say, this is only on Android! - on iOS everything is ok

[2019-05-02 03:05] langson6502 commented on #239
After I add 'android.disableResourceValidation=true' to gradle.properties, I got the following warning message while syncing:

WARNING: The option setting 'android.disableResourceValidation=true' is experimental and unsupported.
The current default is 'false'.

I use Android Studio 3.4

[2019-05-02 13:45] pvsmounish commented on #53
`viewbox` no more works.
Try `viewBox` now.

[2019-05-02 20:44] matpaul commented on #951
@msand Hi!, I try to research this issue, so i found that restoreDefaultValues method make d: null

PropsAnimatedNode.java
[code]

I don't know how to properly fix it but simple if check in PathView works ))

PathView.java
[code]

[2019-05-04 11:28] alamothe opened #1005 "Path does not render correctly"
Hello,
I have the following SVG:
[code]

Which produces:
[code]

On web this renders as:
![Screen Shot 2019-05-04 at 8 26 05 PM](https://user-images.githubusercontent.com/2679255/57178442-e52df200-6eaa-11e9-88cc-7f2e5e7a246c.png)

However, on native I get:
![Screen Shot 2019-05-04 at 8 27 35 PM](https://user-images.githubusercontent.com/2679255/57178455-13abcd00-6eab-11e9-8101-c66711af8e65.png)

W

[2019-05-06 06:33] rajatdhoot123 commented on #964
Same issue is happening with me
![Screenshot 2019-05-06 at 12 01 52 PM](https://user-images.githubusercontent.com/18528826/57209651-e2d8ae80-6ff6-11e9-9749-1ed34c3c97fa.png)

[2019-05-08 22:00] af2570 commented on #967
@iagorm You have 9.3.7 working in Android or just iOS? Still having issues with 9.3.7 in Android 😢

[2019-05-08 22:46] iagorm commented on #967
Here the svg is working but I'm using only Svg and Polygon components from it, try to clean your gradle cache, remove your node modules and gradlew --stop to see if it works.

[2019-05-09 01:49] wangweiruning opened #1006 "svg文件太大，加载很慢"
svg文件太大，加载很慢

[2019-05-09 15:50] flexaddicted opened #1007 "RN 0.59.8 - Unable to resolve module `pegjs`"
I'm running the latest version of RN (0.59.8) with the latest version of react-native-svg (9.4.0).
When I try to launch the application, both in iOS and Android, I receive the following error:

Do you know how I can fix this?

Thanks, Lorenzo

[2019-05-09 16:03] msand commented on #1007
The latest version has no dependencies at all. This error means you're loading old js in your app. Try clearing caches, reinstall the module from npm, reset the packager, and try again.

[2019-05-09 16:03] kelset commented on #1007
uhm... few thoughts:

1) please create a repro so that we can understand if it's actually something wrong with RN or the lib
2) maybe it's something cached wrongly?
[code]

[2019-05-09 16:06] flexaddicted commented on #1007
@msand @kelset Thank you very much for your reply. I'll try and let you know.

[2019-05-09 16:17] flexaddicted commented on #1007
@msand @kelset I receive the same error. I've done all the steps described by Lorenzo.

To have more context, the update is from RN 0.57.8. I'm not sure if this one can cause problems.

I can try to recreate a repro.

[2019-05-09 16:29] msand commented on #1007
Try removing node_modules and running
npm i react-native-svg
or
yarn add react-native-svg

[2019-05-09 16:32] kelset commented on #1007
Uhm then I'd suggest you use [rn-diff-repo](https://github.com/pvinis/rn-diff-purge) to double check that you did all the necessary steps/changes while upgrading.

[2019-05-09 16:35] flexaddicted commented on #1007
@msand @kelset I cannot find `pegjs` module in `node_modules`. I added in my `package.json` file as a dev dependency.

Now I receive the following:

[2019-05-09 16:37] msand commented on #1007
pegjs is not used by the latest version, you shouldn't need it, unless your node_modules are in a corrupted state.

[2019-05-10 06:34] vikrantkalekar opened #1008 "svg is not working in react native after conversion"
Please suggest some solution for following svg which is not working after converting it to react native svg

<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
  <g id="Group_587" data-name="Group 587" transform="translate(-4442 -4569)">
    <rect id="Rectangle_1518" data-name="Rectangle 1518" width="512" height="512" transform="translate(4442 4569)" fill="none

[2019-05-10 09:10] pt7892 opened #1009 "Different rendering in react-native on IOS compared to web and android"
There is difference between react-native on ios and web in rendering, and from what I see, it's rendered correctly on web and not in react-native. On android, it's rendered like on web, so it's ios that's causing the problem.

**Web**:

[code]
<img width="304" alt="Web" src="https://user-images.githubusercontent.com/20343932/57515800-c3ea5d00-7313-11e9-8bea-cd61b969594d.png">

**RN:**

[code]
<img

[2019-05-10 12:13] petrogad opened #1010 "V8 -> V9 Breaking Change: setNativeProps"
I recently upgraded from 8.0.11 to 9.4 and found there is a breaking change with how setNativeProps works.

You can no longer use a reference to update a path in 9.4 as the redraw will not occur.  Is there an issue tracking this?

Note, this is still working on 8.0.11

IE
[code]

[2019-05-10 16:26] edo1493 commented on #873
I have the same in 9.4.0 by using react-native-svg-charts.

This has started to happen after I bumbed it to 9.4.0 from 6.0.0+.

It's weird cause it happens on a handful of devices and if we ask people to uninstall/reinstall, it will work just fine.

[2019-05-14 05:03] mileslow2 commented on #826
Has this svg problem been fixed?

[2019-05-14 06:29] sebastijandumancic commented on #826
afaik no. I think I have overlayed button over svg in the end, since I couldn't get it to click inside SVG.

[2019-05-14 07:51] msand commented on #826
Check here: https://github.com/react-native-community/react-native-svg/issues/645#issuecomment-453683513